<template>
  <div class="p-4">
    <h2 class="pb-4">Update About Us</h2>
     <div class="row" v-if="pageloading == true">
                      <div  class="col-md-12 text-center">
                      <i class="text-center  fas fa-circle-notch fa-spin fa-3x "
                      style="color: grey; margin-top:250px; "
                    ></i> 
                      </div>
                     
                    </div>
                      
    <div class="p-4" v-if="pageloading == false">
      <form role="form" class="mb--4">
        <div class="form-group row mb--2">
          <label class="col-md-2 col-form-label form-control-label"
            >Title</label
          >
          <div class="col-md-8">
            <base-input
              placeholder="Enter title here."
              v-model="myObj.title"
            ></base-input>
          </div>
        </div>

     

        <!-- <div class="form-group row mb--2">
          <label class="col-md-2 col-form-label form-control-label"
            >Short Description</label
          >
          <div class="col-md-8">
            <base-input v-bind:error="errors.description">
              <textarea
                v-model="myObj.description"
                style="height: 100px"
                class="form-control"
                placeholder="Enter description here."
                rows="2"
              >
              </textarea>
            </base-input>
          </div>
        </div> -->

        <div class="form-group row mb--2">
          <label class="col-md-2 col-form-label form-control-label"
            >Description</label
          >
          <div class="col-md-8">
            <ejs-richtexteditor
              ref="defaultRTE"
              :height="500"
              v-model="myObj.text"
              placeholder="Description here"
            >
            </ejs-richtexteditor>
          </div>
        </div>

             <div class="form-group row mt-3">
          
                        <label class="col-md-2 col-form-label form-control-label"
                  >Cover</label
                >     
                  
                     
          <div class="col-md-8">
             <img
                :src="mycover"
                @click="$refs.filee.click()"
                style="height:150px;width:400px"
                class="mt-2"
                alt="imgAdd"
              />
                    <i
                      v-if="loading == true"
                      class="fas fa-circle-notch fa-spin fa-2x position-absolute "
                      style="color: grey; margin-left:-215px;margin-top:42px;"
                    ></i>
                  
              <label hidden class="btn btn-success col">
                <input
                  type="file"
                  id="filee"
                  ref="filee"
                  @change="selectUFile()"
                  accept="image/*"
                />
              </label>
<!-- 
              <div class="row">
                 <small style="margin-left:140px;" class="mt-4 text-danger" v-if="errors.cover != false">Please select cover image.</small>
              </div> -->
          </div>
        </div>
           
          
        <div class="row">
          <div class="col-md-2">

          </div>
          <div class="col-md-8">
        <div style="margin-top: 10px">
          <base-button
            :disabled="saving"
            style="background-color: #00c192"
            type="success"
           class="col"
            @click="submit()"
          >
            <i v-bind:class="sign"></i> Submit</base-button
          >
        </div>
          </div>
        </div>
     
      </form>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import axios from "axios";

import {
  RichTextEditorPlugin,
  Toolbar,
  Link,
  Image,
  Count,
  HtmlEditor,
  QuickToolbar,
} from "@syncfusion/ej2-vue-richtexteditor";
import DropzoneFileUpload from "@/components/Inputs/DropzoneFileUpload";

Vue.use(RichTextEditorPlugin);

export default {
  components: {
    DropzoneFileUpload,
  },
  created()
  {
    this.Authenticator();
this.LoadData();
  },
  data() {
    return {
       pageloading:false,
      filee:"",
      loading: false,
       mycover:"https://dk0pm9zdlq16s.cloudfront.net/b047d5f8-d2b4-4852-aa19-846b19235468.png",
      myObj: {
        id: 0,
        title: "",
        banner: "",
        text: "",
      },
      image: "",
    };
  },
  provide: {
    richtexteditor: [Toolbar, Link, Image, Count, HtmlEditor, QuickToolbar],
  },
  methods: {
Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
    },

    LoadData()
    {
  var axios = require('axios');
this.pageloading =true;
  var config = {
    method: 'get',
    url: 'https://dipity.fastech.pk/api/AboutUs/',
     headers: {
        Authorization:
           this.$store.state.token
    },
  };

  axios(config)
  .then( (response) => {

     this.myObj  =  response.data.data[0];
     console.log(this.myObj)
    this.mycover = this.myObj.banner;
     console.log(this.myObj);
this.pageloading =false;

 })
  .catch(function (error) {
     swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
  });
    },
   selectUFile() {
      // console.log("Osama");
      this.loading = true;

      console.log(this.filee.name);

      console.log(this.filee, this.loading);
      //Upload cover
      if (this.$refs.filee.files[0] !== "") 
      {
        let formData = new FormData();
        formData.append("file", this.$refs.filee.files[0]);
        console.log(this.filee);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
            var fn =  e.data.myresp[0].path;
            console.log(fn);
            this.mycover = fn;
            console.log(this.mycover);

            this.myObj.banner = this.mycover;
            //console.log(this.myObj.coverImg);
            this.loading = false; 
            console.log(this.loading);
          });
      }
    },

    submit() {
       var config = {
        method: 'put',
         url: 'https://dipity.fastech.pk/api/AboutUs'  ,
     headers: {
        Authorization:
           this.$store.state.token
    },
        data : this.myObj
      };

      axios(config)
      .then( (response) => {
        if(response.data.status === "success")
        {
        console.log(response.data);
        
         this.LoadData();
         
            this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> About Us Updated.",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
        }

        //  this.data  =  response.data;
        //console.log(this.$store.state.userData.userID);
      //this.items = response.data;

       // console.log(this.items);
    })
      .catch(function (error) {
         swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
      });
    },
  },
};
</script>
<style scoped>
@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
