<template>
  <div class="p-4">
    <h2 class="pb-4">{{this.title}}</h2>
    <div class="p-4">
      <form role="form" >
        <div class="form-group row mb--1">
          <label class="col-md-2 col-form-label form-control-label"
            >Name</label
          >
          <div class="col-md-8">
            <base-input
              placeholder="Enter name here."
              v-model="myObj.name"
              @focusout="checkName()" 
            ></base-input>
          </div>
        </div>

        <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8"> 
                 <small class=" text-danger" v-if="errors.name != false">Please enter name.</small>

                </div>
              </div>

        <div class="form-group row mt-3">
          <label class="col-md-2 col-form-label form-control-label"
            >Description </label
          >
          <div class="col-md-8">
            <ejs-richtexteditor
              ref="defaultRTE"
              :height="500"
              v-model="myObj.description"
              placeholder="Description here"
                :pasteCleanupSettings="pasteCleanupSettings"
                :toolbarSettings="toolbarSettings"
            >
            </ejs-richtexteditor>
          </div>
        </div>
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                 <small class=" text-danger" v-if="errors.description != false">Please enter description.</small>
                </div>
              </div>

  <div class="form-group row mt-3 mb--1">
          <label class="col-md-2 col-form-label form-control-label"
            >Keyring Price </label
          >
          <div class="col-md-8">
       
                  <base-input
                    placeholder="Enter keyring price here."
                    v-model="myObj.keyringPrice"
                   
                    @focusout="checkKeyringPrice()"
                  ></base-input>
             

          </div>
        </div>
         <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                 <small  class=" text-danger" v-if="errors.keyringPrice != false">Please enter keyring price.</small>
                </div>
              </div>



        <div class="form-group row mt-3 mb--1">
          <label class="col-md-2 col-form-label form-control-label"
            >Required Keyrings </label
          >
          <div class="col-md-8">
       
                  <base-input
                    placeholder="Enter required keyrings here."
                    v-model="myObj.keyringsRequired"
                   
                    @focusout="checkKeyring()"
                  ></base-input>
             

          </div>
        </div>
         <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                 <small  class=" text-danger" v-if="errors.keyringsRequired != false">Please enter required keyrings.</small>
                </div>
              </div>
         <div class="row">
                
              </div>
        <div class="form-group row mt-3  ">
          <label class="col-md-2 col-form-label form-control-label"
            >Color</label
          >
          <div class="col-md-8">
           <multiselect
                      v-model="myObj.color"
                      placeholder="Select color"
                      
                      :options="options"
                      :option-height="104"
                    
                      :show-labels="false"
                    >
                      <template slot="singleLabel" slot-scope="props"
                        >
                        <div
                          v-bind:style="{ backgroundColor: props.option }"
                          
                        > 
                        <div style="height:30px; width:100px;">
                             
                          </div>
                           </div>
                       
                      </template>
                      <template slot="option" slot-scope="props"
                        >  <div
                          v-bind:style="{ backgroundColor: props.option }"
                          
                        > 
                        <div style="height:30px; width:100px;">
                            
                          </div>
                           </div>
                       
                      </template>
                    </multiselect>

          </div>
        </div>
        
         <div class="row ">
                <div class="col-md-2 ">

                </div>
                <div class="col-md-8">
              <small class=" text-danger" v-if="errors.color != false">Please select color.</small>

                </div>
              </div>
<div class="form-group row mt-3  ">
          <label class="col-md-2 col-form-label form-control-label"
            >Draw Date</label
          >
          <div class="col-md-8">
           <base-input icon addon-left-icon="ni ni-calendar-grid-58 "  >
      <flat-picker
        slot-scope="{ focus, blur }"
        @on-open="focus"
        @on-close="blur"
        :config="{ allowInput: true }"
        class="form-control datepicker"
        v-model="myObj.drawDate"
        @on-change="CheckDate()"

      >
      </flat-picker>
     
    </base-input>
     <small class="text-danger" v-if="errors.drawDate != false"
                    >Please select valid draw date.</small
                  >
          </div>
        </div>

        

 <div class="form-group row mt-2">
          <label class="col-md-2 col-form-label form-control-label"
            >Cover </label
          >
          <div class="col-md-8">
       
                 <img
                :src="mycover"
                @click="$refs.filee.click()"
                style="height:150px;width:400px"
                
                class="mt-2"
                alt="imgAdd"
              />
                    <i
                      v-if="loading == true"
                      class="fas fa-circle-notch fa-spin fa-2x position-absolute "
                      style="color: grey; margin-left:-215px;margin-top:68px;"
                    ></i>
                  
              <label hidden class="btn btn-success col">
                <input
                  type="file"
                  id="filee"
                  ref="filee"
                  @change="selectUFile()"
                  accept="image/*"
                />
              </label>
             

             
             

          </div>
        </div>
  <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
               <small  class="text-danger" v-if="errors.cover != false">Please select cover image.</small>
                </div>
              </div>
        <div class="form-group row mt-3">
          <label class="col-md-2 col-form-label form-control-label"
            >More Images</label
          >
          <div class="col-md-8">
            <div class="container">
                   <div class="row">

             <i
                      v-if="moreloading == true"
                      class="fas fa-circle-notch fa-spin fa-2x position-absolute "
                      style="color: grey; margin-top:44px;margin-left:43px;"
                    ></i>
            <!-- <div v-if="moreloading == true">
              <b-spinner
                variant="primary"
                type="grow"
                class="m-5"
                label="Spinning"
              ></b-spinner>
            </div> -->

           
              <img
                ref="previewEl"
                rounded
                src="https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png"
                @click="$refs.mfile.click()"
                
              height="123" width="120"
              />

              <!-- <img v-if= "loading==false" rounded :src="require('@/assets/images/elements/Unicorn-Cake.jpg')" @click="$refs.files.click()" style="width: 7vw; height: 7vw; padding-left:20px; padding-top:20px;" alt="imgAdd"/>  -->
            

            <input
              type="file"
              id="mfile"
              hidden
              ref="mfile"
              multiple="multiple"
              @change="selectMoreFile()"
              accept="image/*"
            />
            <div  v-for="img in images" :key="img.index">
              <div>
                <i
                  class="fa fa-trash fa-sm cursor text-danger position-absolute "
                  style="margin:55px;"
                  @click="removeImg(index)"
                ></i>
              </div>

              <div >
              <img rounded :src="img" height="120" width="120" class="ml-1" />

               </div>
              <!-- <img v-if= "loading==false" rounded :src="require('@/assets/images/elements/Unicorn-Cake.jpg')" @click="$refs.files.click()" style="width: 7vw; height: 7vw; padding-left:20px; padding-top:20px;" alt="imgAdd"/>  -->
            </div>
           
          

        
                     </div> 
                </div>
              

          </div>
        </div>
          <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                 <small  class="mb-2 text-danger" v-if="errors.images != false">Please select more images.</small>
                </div>
              </div>

      <div class="row">
          <div class="col-md-2">

          </div>
          <div class="col-md-8">
        <div style="margin-top: 10px">
          <base-button
            :disabled="saving"
            style="background-color: #00c192"
            type="success"
           class="col"
            @click="submit()"
          >
            <i v-bind:class="sign"></i> Submit</base-button
          >
        </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import Multiselect from "vue-multiselect";
import {
  RichTextEditorPlugin,
  Toolbar,
  Link,
  Image,
  Count,
  HtmlEditor,
  QuickToolbar,
  PasteCleanup,
} from "@syncfusion/ej2-vue-richtexteditor";
import { Select, Option } from "element-ui";
import axios from "axios";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import moment from 'moment';

Vue.use(RichTextEditorPlugin);

export default {
   provide: {
    richtexteditor: [Toolbar, Link, Image, Count, HtmlEditor, QuickToolbar, PasteCleanup],
  },
  props: ["row"],
  components: {
    Multiselect,
    [Select.name]: Select,
    [Option.name]: Option,
    flatPicker,
    moment
  },
   created()
  {
    this.Authenticator();
   console.log("-------------------------",this.row);
    
    this.LoadForm(this.row);
  },
  data() {
    return {
       currentDate: moment().format('YYYY-MM-DD'),
      dates:
      {
      range:'',
      },
 toolbarSettings: {
            type: 'Expand',
            items: ['Bold', 'Italic', 'Underline', 'StrikeThrough',
            'FontName', 'FontSize', 'FontColor', 'BackgroundColor',
            'LowerCase', 'UpperCase', '|',
            'Formats', 'Alignments', 'OrderedList', 'UnorderedList',
            'Outdent', 'Indent', '|',
            'CreateLink', 'Image', '|', 'ClearFormat', 'Print',
            'SourceCode', 'FullScreen', '|', 'Undo', 'Redo'
        ]
        },
         pasteCleanupSettings: {
            prompt: true,
            plainText: false,
            keepFormat: false,
            deniedTags: ['a'],
            deniedAttrs: ['class', 'title', 'id'],
            allowedStyleProps: ['color', 'margin', 'font-size']
        },


         title:"",
            GenObj:{
        property:{},
        images:[]
      },
      moreloading:false,
        errors: {
        name: "",
        description: "",
        keyringsRequired: "",
        cover: "",
        color: "",
        images: "",
        keyringPrice:"",
        drawDate:"",

      },
       mycover:"https://dk0pm9zdlq16s.cloudfront.net/b047d5f8-d2b4-4852-aa19-846b19235468.png",
       options: [  
        "#87EFFF","#FF6700","#FF0023","#1F249B","#009A56","#FFB435",
      ],  
      images:[],
      loading:false,
      filee:"",
      optionsProperties:[],
      collectionData:{},
      cover:"https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png",
   myObj: {
        id: 0,
        name: "",
        description: "",
        keyringsRequired: "",
        keyringsSold: 0,
        keyringPrice: 0,
        cover: "",
        color: "",
        drawDate: "",

      },
      selectOptions: [
        {
          label: "Properity 1",
          value: "Properity 1",
        },
        {
          label: "Properity 2",
          value: "Properity 2",
        },
        {
          label: "Properity 3",
          value: "Properity 3",
        },
      ],
      selects: {
        simple: "",
        multiple: ["Alerts", "Buttons"],
      },
    };
  },
 
  methods: {
    CheckDate() {
     
      console.log(this.currentDate);
      if (
        this.myObj.drawDate <= this.currentDate ||
        this.myObj.drawDate == null
      ) {
        console.log('Work');
        //elem.state = false;

        this.errors.drawDate = true;
      } else {
        // elem.state = true;
        this.errors.drawDate = false;
      }
    },
    Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
    },
     removeImg(index) {
      console.log(index);
      this.images.splice(index, 1);
    },
  selectMoreFile() {
      //this.moreFiles = this.$refs.mfile.files;
      if (this.$refs.mfile.files.length !== 0) {
        this.moreloading = true;
        var formdata = new FormData();
        for (var i = 0; i < this.$refs.mfile.files.length; i++) {
          formdata.append('file', this.$refs.mfile.files[i], '[PROXY]');
        }

        var requestOptions = {
          method: 'POST',
          body: formdata,
          redirect: 'follow',
        };

        fetch('https://upload.appick.io', requestOptions)
          .then(response => response.json()) //2
          .then(result => {
           console.log(result);
            //this.moreImages.push(result.myresp);

            for (var i = 0, len = result.myresp.length; i < len; ++i) {
              this.moreloading = false;
              var fn = result.myresp[i].path;
              this.images.push(fn);
            }
            console.log(this.images);
          })

          .catch(error =>  swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            }));
      }

    },
    LoadProperties(){
       var url = "https://dipity.fastech.pk/api/Properties";
      axios
        .get(url, {
          headers: {
            
        Authorization:
           this.$store.state.token
    
          }
        })
        .then((response) => {
          if (response.data.status === "success") 
          {
            this.optionsProperties = [];
            //this.optionsProperties = response.data.data;
            //console.log("mypropps",this.optionsProperties);
             response.data.data.forEach((elem) => {
              elem.id;
              elem.name;
              this.optionsProperties.push(elem);
            });
            console.log("-------------",this.optionsProperties);
          } 
         
        })
        .catch(function (error) {
           swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
    },
    LoadForm(row)
    {
      if(row == undefined)
      {
        this.myObj;
        this.title = "Add Property";
      }
      else
      {
        console.log("MyRow------",row);
        this.myObj.id = row.id;
        this.myObj.name = row.name;   
        this.myObj.description = row.description;   
        this.myObj.keyringsRequired = row.keyringsRequired;   
        this.myObj.keyringsSold = row.keyringsSold;
        this.myObj.cover = row.cover;  
        this.myObj.color = row.color;  
        this.images = row.images;
        this.mycover = row.cover;
        this.myObj.keyringPrice = row.keyringPrice;
        this.myObj.drawDate = row.drawDate;

       
        this.title = "Update Property";
      
      }
    },
    selectUFile() {
      // console.log("Osama");
      this.loading = true;

      console.log(this.filee.name);

      console.log(this.filee, this.loading);
      //Upload cover
      if (this.$refs.filee.files[0] !== "") 
      {
        let formData = new FormData();
        formData.append("file", this.$refs.filee.files[0]);
        console.log(this.filee);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
           this.mycover   =  e.data.myresp[0].path;
            //console.log(fn);
            //this.mycover = fn;
            console.log(this.mycover);

            this.myObj.cover = this.mycover;
            //console.log(this.myObj.coverImg);
            this.loading = false;
            console.log(this.loading);
          });
      }
    },
      checkName() {
      if (this.myObj.name == "" ||  this.myObj.name.length <= 2) {
       return this.errors.name = "Please enter name";
        
      } else {
      return  this.errors.name = false;
      }
    },
    checkDescription() {
      if (this.myObj.description == "" ||  this.myObj.description.length <= 3) {
      return  this.errors.description = "Please enter description";
        
      } else {
      return  this.errors.description = false;
      }
    },

    checkKeyring() {
  const reg = /^[0-9]+$/
      if ( reg.test(this.myObj.keyringsRequired) &&
        this.myObj.keyringsRequired !== "") 
        {
       return    this.errors.keyringsRequired = false;
        
      } else {
      return  this.errors.keyringsRequired = "Please enter keyrings Required.";
       
      }
    },

      checkKeyringPrice() {
  const reg = /^\d+(,\d{1,2})?$/
      if ( reg.test(this.myObj.keyringPrice) &&
        this.myObj.keyringPrice !== 0) 
        {
       return    this.errors.keyringPrice = false;
        
      } else {
      return  this.errors.keyringPrice = "Please enter keyring price.";
       
      }
    },
    checkColor() {
  
    if (this.myObj.color == "" ) {
      return  this.errors.color = "Please enter color";
        
      } else {
      return  this.errors.color = false;
      }
    },
    checkCover() {
  
    if (this.myObj.cover == "" ) {
       return this.errors.cover = "Please enter description";
        
      } else {
      return  this.errors.cover = false;
      }
    },
    checkImages() {
  
    if (this.images.length == 0 ) {
      return  this.errors.images = "Please enter description";
        
      } else {
       return this.errors.images = false;
      }
    },
    submit() {
   //return console.log(this.myObj);

    this.checkName();
     this.checkImages();
     this.CheckDate();
     this.checkCover();
     this.checkColor();
     this.checkKeyring(); 
     this.checkDescription();
     this.checkKeyringPrice(); 
   console.log(this.GenObj);
   
      if ( this.checkName() !== false   || this.checkCover() !== false  || this.checkColor() !== false  || this.checkKeyring() !== false  ||
      this.checkDescription() !== false  || this.checkImages() !== false ||  this.checkKeyringPrice() !== false || this.CheckDate()) {
        return this.$notify({
          verticalAlign: "bottom",
          horizontalAlign: "center",
          message: "Error! <br />" + "Please fill the form correctly",
          type: "danger",
          icon: "fa fa-ban",
          timeout: 0,
        });
      } else {
        console.log("Added");
        if (this.myObj.id === 0) {
          
          this.GenObj.property = this.myObj;
          this.GenObj.images = this.images;
          console.log( this.GenObj);
           var axios = require('axios');
    // this.$store.state.userData.userID
      var config = {
        method: 'post',
         url: 'https://dipity.fastech.pk/api/Properties/AddProperty'  ,
     headers: {
        Authorization:
           this.$store.state.token
    },
        data : this.GenObj
      };

      axios(config)
      .then( (response) => {
        if(response.data.status === "success")
        {
        console.log(response.data);
        
        this.$router.push({ name: 'myproperties' })
            this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Property Added.",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
        }

        //  this.data  =  response.data;
        //console.log(this.$store.state.userData.userID);
      //this.items = response.data;

       // console.log(this.items);
    })
      .catch(function (error) {
        console.log(error);
         swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
      });
        } else {
          //Edit

          this.GenObj.property = this.myObj;
          this.GenObj.images = this.images;
          console.log( this.GenObj);
           var axios = require('axios');
    // this.$store.state.userData.userID
      var config = {
        method: 'put',
         url: 'https://dipity.fastech.pk/api/Properties/Update'  ,
     headers: {
        Authorization:
           this.$store.state.token
    },
        data : this.GenObj
      };

      axios(config)
      .then( (response) => {
        if(response.data.status === "success")
        {
        console.log(response.data);
        
       this.$router.push({ name: 'myproperties' })
            this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Property Updated.",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
        }

        //  this.data  =  response.data;
        //console.log(this.$store.state.userData.userID);
      //this.items = response.data;

       // console.log(this.items);
    })
      .catch(function (error) {
        console.log(error);
         swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
      });
        }
      }
    },
  },
};
</script>
<style scoped>
@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
