<template>
  <div class="p-4">
    <h2 class="pb-4">{{this.title}}</h2>
    <div class="p-4">
      <form role="form" >
        <div class="form-group row mb--1">
          <label class="col-md-2 col-form-label form-control-label"
            >Title</label
          >
          <div class="col-md-8">
            <base-input
              placeholder="Enter name here."
              v-model="myObj.title"
            ></base-input>
          </div>
        </div>

        <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8"> 
                 <small class=" text-danger" v-if="errors.text != false">Please enter name.</small>

                </div>
              </div>

        <div class="form-group row mt-3">
          <label class="col-md-2 col-form-label form-control-label"
            >Description </label
          >
          <div class="col-md-8">
            <ejs-richtexteditor
              ref="defaultRTE"
              :height="500"
              v-model="myObj.text"
              placeholder="Description here"
              :pasteCleanupSettings="pasteCleanupSettings"
              :toolbarSettings="toolbarSettings"
            >
            </ejs-richtexteditor>
          </div>
        </div>
           

      <div class="row">
          <div class="col-md-2">

          </div>
          <div class="col-md-8">
        <div style="margin-top: 10px">
          <base-button
            :disabled="saving"
            style="background-color: #00c192"
            type="success"
           class="col"
            @click="submit()"
          >
            <i v-bind:class="sign"></i> Submit</base-button
          >
        </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import Multiselect from "vue-multiselect";
import {
  RichTextEditorPlugin,
  Toolbar,
  Link,
  Image,
  Count,
  HtmlEditor,
  QuickToolbar,
  PasteCleanup,
} from "@syncfusion/ej2-vue-richtexteditor";
import { Select, Option } from "element-ui";
import axios from "axios";
Vue.use(RichTextEditorPlugin);

export default {
   provide: {
   richtexteditor: [Toolbar, Link, Image, Count, HtmlEditor, QuickToolbar, PasteCleanup],
  },
  props: ["row"],
  components: {
    Multiselect,
    [Select.name]: Select,
    [Option.name]: Option,
  },
   created()
  {
    this.Authenticator();
   console.log("-------------------------",this.row);
    
    this.LoadForm(this.row);
  },
  data() {
    return {

     toolbarSettings: {
            type: 'Expand',
            items: ['Bold', 'Italic', 'Underline', 'StrikeThrough',
            'FontName', 'FontSize', 'FontColor', 'BackgroundColor',
            'LowerCase', 'UpperCase', '|',
            'Formats', 'Alignments', 'OrderedList', 'UnorderedList',
            'Outdent', 'Indent', '|',
            'CreateLink', 'Image', '|', 'ClearFormat', 'Print',
            'SourceCode', 'FullScreen', '|', 'Undo', 'Redo'
        ]
        },
         pasteCleanupSettings: {
            prompt: true,
            plainText: false,
            keepFormat: false,
            deniedTags: ['a'],
            deniedAttrs: ['class', 'title', 'id'],
            allowedStyleProps: ['color', 'margin', 'font-size']
        },


         title:"",
            GenObj:{
        property:{},
        images:[]
      },
      moreloading:false,
        errors: {
        title: "",
        text: "",
      },
       mycover:"https://dk0pm9zdlq16s.cloudfront.net/b047d5f8-d2b4-4852-aa19-846b19235468.png",
       options: [  
        "#87EFFF","#FF6700","#FF0023","#1F249B","#009A56","#FFB435",
      ],  
      images:[],
      loading:false,
      filee:"",
      optionsProperties:[],
      collectionData:{},
      cover:"https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png",
   myObj: {
        id: 0,
        text: "",
        title: "",
        sequence: "",
      },
      selectOptions: [
        {
          label: "Properity 1",
          value: "Properity 1",
        },
        {
          label: "Properity 2",
          value: "Properity 2",
        },
        {
          label: "Properity 3",
          value: "Properity 3",
        },
      ],
      selects: {
        simple: "",
        multiple: ["Alerts", "Buttons"],
      },
    };
  },
 
  methods: {
    Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
    },
     removeImg(index) {
      console.log(index);
      this.images.splice(index, 1);
    },
  selectMoreFile() {
      //this.moreFiles = this.$refs.mfile.files;
      if (this.$refs.mfile.files.length !== 0) {
        this.moreloading = true;
        var formdata = new FormData();
        for (var i = 0; i < this.$refs.mfile.files.length; i++) {
          formdata.append('file', this.$refs.mfile.files[i], '[PROXY]');
        }

        var requestOptions = {
          method: 'POST',
          body: formdata,
          redirect: 'follow',
        };

        fetch('https://upload.appick.io', requestOptions)
          .then(response => response.json()) //2
          .then(result => {
           console.log(result);
            //this.moreImages.push(result.myresp);

            for (var i = 0, len = result.myresp.length; i < len; ++i) {
              this.moreloading = false;
              var fn = result.myresp[i].path;
              this.images.push(fn);
            }
            console.log(this.images);
          })

          .catch(error =>  swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            }));
      }

    },
   
    LoadForm(row)
    {
      if(row == undefined)
      {
        this.myObj;
        this.title = "Add ";
      }
      else
      {
        console.log("MyRow------",row);
        this.myObj.id = row.id;
        this.myObj.title = row.title;   
        this.myObj.text = row.text; 
        this.myObj.sequence = row.sequence;   

     
       
        this.title = "Update Terms & Conditions";
      
      }
    },
    selectUFile() {
      // console.log("Osama");
      this.loading = true;

      console.log(this.filee.name);

      console.log(this.filee, this.loading);
      //Upload cover
      if (this.$refs.filee.files[0] !== "") 
      {
        let formData = new FormData();
        formData.append("file", this.$refs.filee.files[0]);
        console.log(this.filee);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
           this.mycover   =  e.data.myresp[0].path;
            //console.log(fn);
            //this.mycover = fn;
            console.log(this.mycover);

            this.myObj.cover = this.mycover;
            //console.log(this.myObj.coverImg);
            this.loading = false;
            console.log(this.loading);
          });
      }
    },
      checkName() {
      if (this.myObj.title == "" ||  this.myObj.title.length <= 2) {
       return this.errors.title = "Please enter title";
        
      } else {
      return  this.errors.title = false;
      }
    },
    checkDescription() {
      if (this.myObj.text == "" ||  this.myObj.text.length <= 3) {
      return  this.errors.text = "Please enter description";
        
      } else {
      return  this.errors.text = false;
      }
    },

    checkKeyring() {
  const reg = /^[0-9]+$/
      if ( reg.test(this.myObj.keyringsRequired) &&
        this.myObj.keyringsRequired !== "") 
        {
       return    this.errors.keyringsRequired = false;
        
      } else {
      return  this.errors.keyringsRequired = "Please enter keyringsRequired";
       
      }
    },
    checkColor() {
  
    if (this.myObj.color == "" ) {
      return  this.errors.color = "Please enter color";
        
      } else {
      return  this.errors.color = false;
      }
    },
    checkCover() {
  
    if (this.myObj.cover == "" ) {
       return this.errors.cover = "Please enter description";
        
      } else {
      return  this.errors.cover = false;
      }
    },
    checkImages() {
  
    if (this.images.length == 0 ) {
      return  this.errors.images = "Please enter description";
        
      } else {
       return this.errors.images = false;
      }
    },
    submit() {
   //return console.log(this.myObj);

    this.checkName();
     this.checkDescription();
  
   
      if ( this.checkName() !== false !== false  || this.checkDescription() !== false) {
        return this.$notify({
          verticalAlign: "bottom",
          horizontalAlign: "center",
          message: "Error! <br />" + "Please fill the form correctly",
          type: "danger",
          icon: "fa fa-ban",
          timeout: 0,
        });
      } else {
        console.log("Added");
        if(this.myObj.id !== 0) {

          console.log( this.myObj);
           var axios = require('axios');
    // this.$store.state.userData.userID
      var config = {
        method: 'put',
         url: 'https://dipity.fastech.pk/api/TermsAndConditions'  ,
     headers: {
        Authorization:
           this.$store.state.token
    },
        data : this.myObj
      };

      axios(config)
      .then( (response) => {
        if(response.data.status === "success")
        {
        console.log(response.data);
        
       this.$router.push({ name: 'termsandcondition' })
            this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Terms & Conditions Updated.",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
        }

        //  this.data  =  response.data;
        //console.log(this.$store.state.userData.userID);
      //this.items = response.data;

       // console.log(this.items);
    })
      .catch(function (error) {
        console.log(error);
         swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
      });
        }
      }
    },
  },
};
</script>
<style scoped>
@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
