<template>
  <div class="p-4">
    <h2 class="pb-4">Add Benefits</h2>
    <div class="p-4">
      <form role="form" class="mb--4">
        <div class="form-group row mb--2">
          <label class="col-md-2 col-form-label form-control-label"
            >Title</label
          >
          <div class="col-md-8">
            <base-input
              placeholder="Enter Title here."
              v-model="myObj.title"
            ></base-input>
          </div>
        </div>

        <div class="form-group row mb--2">
          <label class="col-md-2 col-form-label form-control-label"
            >Short Description</label
          >
          <div class="col-md-8">
            <base-input v-bind:error="errors.description">
              <textarea
                v-model="myObj.shortDescription"
                style="height: 100px"
                class="form-control"
                placeholder="Enter description here."
                rows="2"
              >
              </textarea>
            </base-input>
          </div>
        </div>

        <div class="form-group row mb--2">
          <label class="col-md-2 col-form-label form-control-label"
            >Long Description</label
          >
          <div class="col-md-8">
            <ejs-richtexteditor
              ref="defaultRTE"
              :height="500"
              v-model="myObj.detailDescription"
              placeholder="Description here"
                :pasteCleanupSettings="pasteCleanupSettings"
                :toolbarSettings="toolbarSettings"
            >
            </ejs-richtexteditor>
          </div>
        </div>

        <!-- color section -->

        <div class="row mt-4">
          <label class="col-md-2 col-form-label form-control-label"
            >Color</label
          >
          <!-- color starts -->
          <div class="col-md-8">
            <multiselect
              v-model="myObj.color"
              placeholder="Select Color"
              label="title"
              track-by="title"
              :options="options"
              :option-height="104"
              :custom-label="customLabel"
              :show-labels="false"
            >
              <template slot="singleLabel" slot-scope="props"
                ><img
                  class="option__image"
                  style="width: 18px; height: 10px"
                  :src="props.option.img"
                  alt=""
                />
                <span class="option__desc"
                  ><span class="option__title">
                    {{ props.option.title }}
                  </span>
                </span>
              </template>
              <template slot="option" slot-scope="props"
                ><img
                  class="option__image"
                  style="width: 18px; height: 10px"
                  :src="props.option.img"
                  alt=""
                />
                <div class="option__desc">
                  <span class="option__title">{{ props.option.title }}</span>
                </div>
              </template>
            </multiselect>
          </div>
          <!-- colorr ends -->
        </div>

        <!-- end -->

        <div class="form-group row mb--2 mt-4">
          <label class="col-md-2 col-form-label form-control-label mt-4"
            >Cover</label
          >
          <div class="col-md-8">
            <dropzone-file-upload
              v-model="myObj.image"
              multiple
            ></dropzone-file-upload>
          </div>
        </div>

        <div style="margin-top: 10px">
          <base-button
            :disabled="saving"
            style="background-color: #00c192"
            type="success"
            class="col"
            @click="submit()"
          >
            <i v-bind:class="sign"></i> Submit</base-button
          >
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import DropzoneFileUpload from "@/components/Inputs/DropzoneFileUpload";
import Multiselect from "vue-multiselect";

import {
  RichTextEditorPlugin,
  Toolbar,
  Link,
  Image,
  Count,
  HtmlEditor,
  QuickToolbar,
  PasteCleanup
} from "@syncfusion/ej2-vue-richtexteditor";

Vue.use(RichTextEditorPlugin);

export default {
  components: {
    Multiselect,
    DropzoneFileUpload,
  },
  created()
  {
this.Authenticator();
  },
  data() {
    return {
       toolbarSettings: {
            type: 'Expand',
            items: ['Bold', 'Italic', 'Underline', 'StrikeThrough',
            'FontName', 'FontSize', 'FontColor', 'BackgroundColor',
            'LowerCase', 'UpperCase', '|',
            'Formats', 'Alignments', 'OrderedList', 'UnorderedList',
            'Outdent', 'Indent', '|',
            'CreateLink', 'Image', '|', 'ClearFormat', 'Print',
            'SourceCode', 'FullScreen', '|', 'Undo', 'Redo'
        ]
        },
         pasteCleanupSettings: {
            prompt: true,
            plainText: false,
            keepFormat: false,
            deniedTags: ['a'],
            deniedAttrs: ['class', 'title', 'id'],
            allowedStyleProps: ['color', 'margin', 'font-size']
        },


      cover:
        "https://appick.io/u/lessons/723f471b-427c-4bf8-a1fd-f01f2ac129e0.png",
      myObj: {
        id: 0,
        title: "",
        shortDescription: "",
        image: "",
        sequence: 0,
        detailDescription: "",
        color: "",
      },
      value: {},
      options: [
        {
          title: "Light Blue",
          desc: "Light Blue",
          img: "https://www.colorhexa.com/87efff.png",
        },
        {
          title: "Safety Orange",
          desc: "Safety Orange",
          img: "https://www.htmlcsscolor.com/preview/gallery/FF5E13.png",
        },
        {
          title: "Torch Red",
          desc: "Torch Red",
          img: "https://plchldr.co/i/250x215?&bg=ff1744&text=",
        },
        {
          title: "Ultramarine",
          desc: "Ultramarine",
          img: "https://www.htmlcsscolor.com/preview/gallery/120A8F.png  ",
        },
        {
          title: "Shamrock Green",
          desc: "Shamrock Green",
          img: "https://www.colorhexa.com/009e60.png",
        },
        {
          title: "Supernova",
          desc: "Supernova",
          img: "https://www.htmlcsscolor.com/preview/gallery/FFB437.png",
        },
        {
          title: "Razzmatazz",
          desc: "Razzmatazz",
          img: "https://www.colorhexa.com/e3256b.png",
        },
      ],
    };
  },
  provide: {
   richtexteditor: [Toolbar, Link, Image, Count, HtmlEditor, QuickToolbar, PasteCleanup],
  },
  methods: {
    Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
    },
    customLabel({ title, desc }) {
      return `${title} – ${desc}`;
    },
    submit() {
      console.log(this.myObj);
    },
  },
};
</script>
<style scoped>
@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
