<template>
  <div class="p-4">
    <h2 class="pb-4">Add Charity</h2>
    <div class="p-4">
      <form role="form" class="mb--4">
        <div class="form-group row mb--2">
          <label class="col-md-2 col-form-label form-control-label"
            >Title</label>
          <div class="col-md-8">
            <base-input
              placeholder="Enter Title here."
              v-model="myObj.title"
              v-bind:error="errTitle"
            ></base-input>
          </div>
        </div>

        <div class="form-group row mb--2">
          <label class="col-md-2 col-form-label form-control-label"
            >Short Description</label
          >
          <div class="col-md-8">
            <base-input v-bind:error="errDescription">
              <textarea
                v-model="myObj.shortdescription"
                style="height: 100px"
                class="form-control"
                placeholder="Enter description here."
                rows="2"
              >
              </textarea>
            </base-input>
          </div>
        </div>

        <div class="form-group row mb--2">
          <label class="col-md-2 col-form-label form-control-label"
            >Long Description</label
          >
          <div class="col-md-8">
            <base-input v-bind:error="errText">
            <ejs-richtexteditor
              ref="defaultRTE"
              :height="500"
              v-model="myObj.text"
              placeholder="Description here"
               :pasteCleanupSettings="pasteCleanupSettings"
                :toolbarSettings="toolbarSettings"
            >
            </ejs-richtexteditor>
            </base-input>
          </div>
        </div>
        <div class="form-group row mb--2 mt-4">
          <label class="col-md-2 col-form-label form-control-label mt-4"
            >Cover</label
          >
          <div class="col-md-8">
            <img
                src="https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png"
              @click="$refs.mfilee.click()"
              style="width: 7vw; height: 7vw; margin-rights: 40px"
              alt="imgAdd"
              class=" mb-2"
            />
             <!--  -->
             <img
                v-if="myObj.image.length !=0" :src="this.myObj.image"
                style="width: 7vw; height: 7vw; margin-rights: 40px; object-fit: cover;"
                alt="imgAdd"
                class="mr-2 mb-2"
              />
            <!-- <dropzone-file-upload
              v-model="myObj.image"
              multiple
              v-bind:error="errCover"
            ></dropzone-file-upload> -->
             <input
                type="file"
                id="mfilee"
                ref="mfilee"
                hidden
                @change="selectMFile()"
                accept="image/*"
              />
          </div>
        </div>
       <div class="row">
          <div class="col-md-2">

          </div>
          <div class="col-md-8">
        <div style="margin-top: 10px">
          <base-button
            :disabled="saving"
            style="background-color: #00c192"
            type="success"
           class="col"
            @click="AddCharity()"
          >
            <i v-bind:class="sign"></i> Submit</base-button
          >
        </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import swal from "sweetalert2";
import axios from "axios";
import Uploader from "vux-uploader-component";
import {
  RichTextEditorPlugin,
  Toolbar,
  Link,
  Image,
  Count,
  HtmlEditor,
  QuickToolbar,
  PasteCleanup
} from "@syncfusion/ej2-vue-richtexteditor";
import DropzoneFileUpload from "@/components/Inputs/DropzoneFileUpload";

Vue.use(RichTextEditorPlugin);

export default {
  components: {
    DropzoneFileUpload,
    Uploader
  },
  created() {
    this.Authenticator();
  },
  data() {
    return {
      cover:
        "https://appick.io/u/lessons/723f471b-427c-4bf8-a1fd-f01f2ac129e0.png",
      myObj: {
        id: 0,
        title: "",
        shortdescription: "",
        image: "",
        sequence: 0,
        text: "",
      },
      file: "",
      image: "",
      files: [],
      errTitle: "",
      errDescription: "",
      errText: "",
      errCover: "",
      sign: "fas fa-plus",
      saving: false,
       toolbarSettings: {
            type: 'Expand',
            items: ['Bold', 'Italic', 'Underline', 'StrikeThrough',
            'FontName', 'FontSize', 'FontColor', 'BackgroundColor',
            'LowerCase', 'UpperCase', '|',
            'Formats', 'Alignments', 'OrderedList', 'UnorderedList',
            'Outdent', 'Indent', '|',
            'CreateLink', 'Image', '|', 'ClearFormat', 'Print',
            'SourceCode', 'FullScreen', '|', 'Undo', 'Redo'
        ]
        },
         pasteCleanupSettings: {
            prompt: true,
            plainText: false,
            keepFormat: false,
            deniedTags: ['a'],
            deniedAttrs: ['class', 'title', 'id'],
            allowedStyleProps: ['color', 'margin', 'font-size']
        }
    };
  },
  provide: {
    richtexteditor: [Toolbar, Link, Image, Count, HtmlEditor, QuickToolbar, PasteCleanup],
  },
  
  methods: {
Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
    },

     selectFile() {
      this.mfilee = this.$refs.mfilee.files[0];
    },
     selectMFile() {
       console.log();
      this.progress = true;
      this.mfilee = this.$refs.mfilee.files[0];
      
      console.log(this.mfilee);
      //   console.log(this.filee, this.loading );
      //Upload cover
      if (this.mfilee !== "") {
        let formData = new FormData();
        formData.append("file", this.mfilee);
        console.log(this.mfilee);
         this.loading = true;
            console.log(this.loading);
        axios

          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
            // onUploadProgress: function (progressEvent) {
            //   this.uploadPercentage = parseInt(
            //     Math.round((progressEvent.loaded / progressEvent.total) * 100)
            //   );
            // }.bind(this),
          })
          .then((e) => {
            console.log(e.data);
            var fn = e.data.myresp[0].path;
            console.log(fn);
            this.myObj.image = fn;
             this.loading = false;
          })
          .catch(function () {
            console.log("FAILURE!!");
          });
      }
    },

    AddCharity(){
     ////return console.log(this.myObj);

      if(this.myObj.title.length === 0){
        this.errTitle = "Please enter title";
      }else if(this.myObj.title.length > 30){
        this.errTitle = "Title length should not exceed 30 characters";  
      }else if(this.myObj.shortdescription.length === 0){
        this.errDescription = "Please enter desciption";
      }else if(this.myObj.shortdescription.length > 150){
        this.errDescription = "Short description length should not exceed 150 characters";
      }else if(this.myObj.text.length === 0 ){
        this.errText = "Please enter desciption";
        
      }else{
        var url = "https://dipity.fastech.pk/api/Charities/";
         axios
        .post(url, this.myObj, {
        headers: {
        Authorization:
           this.$store.state.token
        }
        })
        .then((response) => {
          if (response.data.status === "error") {
             this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Request Error! <br />" + response.data.data,
              type: "danger",
              icon: "fa fa-ban",
              timeout: 0,
            });
          } else  if (response.data.status === "success") {
           this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message:  "Saved! <br /> New charity added.",
              type: "success",
              icon: "fa fa-check",
              timeout: this.$store.state.timeout,
            });
            this.$router.push('charity');
          }
        })
        .catch(function (error) {
          swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
      
        this.errTitle = ""
        this.errDescription = ""
        this.errText=""
      }
    },
    Upload() {
      if (this.file !== "") {
        let formData = new FormData();
        formData.append("file", this.file);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            var fn = "https://appick.io/u/lessons/" + e.data.myresp[0].filename;
            this.myObj.image = fn;
            this.AddCharity();
          }).catch(function (error) {
          swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
          });
      } else {
        this.AddCharity();
      }
    },
  },
  };
  
</script>
<style scoped>
@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
