<template>
  <div class="content">
    <base-header class="pb-6" style="background-color: #00c192">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Charity</h6>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
 
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-auto col-sm-6 col-6">
                 <a href="#/fusion/charityAdd" style="color: #fff">
                <base-button
                  icon
                  type="success"
                  size="md"
                  style="background-color: #00c192"
                >
                  <span class="btn-inner--icon"
                    ><i class="fas fa-plus"></i
                  ></span>
                 
                    <span class="btn-inner--text">Add Charity</span>
                </base-button>
                  </a>

              </div>
            </div>
          </div>

          <div class="mt-4">
                      <el-table
              :data="tableData.data"
              class="table-responsive table-flush"
              row-key="id"
              header-row-class-name="thead-light"
              @sort-change="sortChange"
              @selection-change="selectionChange"
            >
              <el-table-column
               
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              >
              </el-table-column>
              <el-table-column min-width="270px" align="right" label="Options">
                <div slot-scope="{ $index, row }" class="d-flex">
                   <!-- <base-button
                    @click="AddModal($index, row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                  >
                    <span class="text-white"> Set priority </span>
                  </base-button> -->

                  <base-button
                    @click="AddModal($index, row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                    :disabled="row.sequence"
                  >
                    <span class="text-white"> Mark As Hero Charity </span>
                  </base-button>
                  <el-tooltip placement="top" content="Edit">
                    <base-button
                      @click="editRecord($index, row)"
                      class="like btn-link"
                      type="primary"
                      size="sm"
                      icon
                     
                    >
                      <i class="text-white far fa-edit"></i>
                    </base-button>
                  </el-tooltip>
                  <el-tooltip placement="right" content="Trash">
                    <base-button
                      @click.native="handleDelete($index, row)"
                      class="remove btn-link"
                      type="danger"
                      size="sm"
                      icon
                    >
                      <i class="text-white far fa-trash-alt"></i>
                    </base-button>
                  </el-tooltip>
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="
              col-12
              d-flex
              justify-content-center justify-content-sm-between
              flex-wrap
            "
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "../Tables/users2";
import axios from "axios";
import qs from "qs";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import moment from "moment";
import Multiselect from "vue-multiselect";
import Uploader from "vux-uploader-component";
import downloadexcel from "vue-json-excel";

export default {
  mixins: [clientPaginationMixin],
  components: {
    Multiselect,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    flatPicker,
    Uploader,
    downloadexcel,
  },
  created() {
    this.Authenticator();
    this.LoadData();
  },
  mounted() {},
  data() {
    return {
      tableData: [],
      tabelNames: [],
      tabledes: [],
      cover:
        "https://appick.io/u/lessons/723f471b-427c-4bf8-a1fd-f01f2ac129e0.png",
      more: "https://appick.io/u/lessons/64a03015-aaab-44a2-85c7-fc83ad9417b7.png",
      mfilee: "",
      loading: false,
      filee: "",
      fileList: [],
      errors: {
        title: false,
        description: false,
        services: false,
      },
      priority: "",
      obj: {
        id: 0,
        title: "",
        shortdescription: "",
        image: "",
        sequence: 0,
        text: "",
      },
      myObj: {
        id: 0,
        title: "",
        text: "",
        shortdescription: "",
        image: "",
        sequence: 0,
      
      },

      propsToSearch: ["firstName", "email"],
      tableColumns: [
        {
          prop: "title",
          label: "Title",
          sortable: true,
           minWidth: 190,
        },
         {
          prop: "shortdescription",
          label: "short Description",
          sortable: true,
          minWidth: 260,
        },
        // {
        //   prop: "text",
        //   label: "Description",
        //   sortable: true,
        //   minWidth: 270,
        // },
      ],

     
      selectedRows: [],
     
      optionName: "Add",
      saving: false,
      title: "",
      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "",
      modals: {
        showModal: false,
      },
    };
  },

  methods: {
    Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
    },
    AddModal($index, row){
      
       console.log(row);
      this.myObj.id= row.id;
      this.myObj.title= row.title;
      this.myObj.shortdescription= row.shortdescription;
      this.myObj.image= row.image;
     // this.obj.sequence= row.sequence;
      this.myObj.text= row.text;
     
      if(row.sequence === 1){
        this.myObj.sequence = 0;
      }else{
          this.myObj.sequence = 1;
      }
 console.log(this.myObj);
 var url = "https://dipity.fastech.pk/api/Charities/MakePrimary";
         axios
        .put(url, this.myObj, {
          headers: {
        Authorization:
           this.$store.state.token
    }
        })
        .then((response) => {
          console.log(this.myObj);
          if (response.data.status === "error") {
             this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Request Error! <br />" + response.data.data,
              type: "danger",
              icon: "fa fa-ban",
              timeout: 0,
            });
          } else  if (response.data.status === "success") {

           this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message:  "Updated! <br /> This charity priority is updated.",
              type: "success",
              icon: "fa fa-check",
              timeout: this.$store.state.timeout,
            });
             this.LoadData();
          
          }
        })
        .catch(function (error) {
           swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });


    },
    
    c_charity() {
      swal("Are you sure you want to do this?", {
        buttons: [false, true],
      });
    },
   
    LoadData() {
      var url = "https://dipity.fastech.pk/api/Charities/";
      axios
        .get(url, {
          headers: {
        Authorization:
           this.$store.state.token
    }
        })
        .then((response) => {
          if (response.data.status === "error") {
          } else {
            this.tableData = response.data;
            console.log(this.tableData);
          }
        })
        .catch(function (error) {
           swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
    },
    
    editRecord(index, row) {
      this.$router.push({ name: 'charityEdit', params: {
        row: row
         } })
    },
    handleDelete(index, row) {
      swal({
        title: "Are you sure?",
        text: "You want to delete " + row.title + "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          var axios = require("axios");
          var config = {
            method: "delete",
            url: `https://dipity.fastech.pk/api/Charities/${row.id}`,
            headers: {
        Authorization:
           this.$store.state.token
          }
          };
          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
              if (response.data.status === "success") {
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message:
                    'Saved! <br />Inquiry of "' + row.title + '" removed.',
                  type: "danger",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
                this.LoadData();
              }
            })
            .catch(function (error) {
               swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
            });
          //  var url = "http://pexpert.fastech.pk/api/Categories/"+ row.id;
          //   console.log(url);
          //    axios({
          //     method: "delete",
          //     url: url,
          //   }).then((response) => {
          //       console.log(response.status);
          //       console.log("Osama");
          //   })
          //   this.$notify({
          //     verticalAlign: "bottom",
          //     horizontalAlign: "center",
          //     message: 'Saved! <br />Inquiry of "' + row.name + '" removed.',
          //     type: "danger",
          //     icon: "fa fa-check",
          //     timeout: this.$store.state.timeout,
          //   });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}

/* 
    Charity-> Title, description -> 10-12 lines ,  btns -> mark as hero Charity, edit, delete
      
*/
</style>
