 <template>
 <div class="p-4">
    <h2 class="pb-4">Add Property</h2>
    <div class="p-4">
        <form role="form" class="mb--4">
        <div class="form-group row mb--2">
            <label class="col-md-2 col-form-label form-control-label"
            >Name</label
            >
            <div class="col-md-8">
            <base-input
                placeholder="Enter name here."
                v-model="myObj.name"
                @focusout="checkName()"
            ></base-input>
            </div>
        </div>
         <div class="row">
             <div class="col-2"></div>
            <small class=" text-danger col-6 mb-4" v-if="errors.name != false">Please enter name.</small>
        </div>
        <div class="form-group row mb--2">
            <label class="col-md-2 col-form-label form-control-label"
            >Description</label
            >
            <div class="col-md-8"  >
                <base-input>
                <ejs-richtexteditor
                    ref="defaultRTE"
                    :height="500"
                    v-model="myObj.description"
                    placeholder="Description here"
                    @focusout="checkDescription()"
                >
                </ejs-richtexteditor>
                </base-input>
            <!-- <base-input >
                <textarea
                v-model="myObj.description"
                style="height: 100px"
                @focusout="checkDescription()"
                class="form-control"
                placeholder="Enter description here."
                rows="2"
                >
                </textarea>
            </base-input> -->
            
            </div>
        </div>
       <div class="row">
                <div class="col-2"></div>
                <small class=" text-danger col-6 mb-4" v-if="errors.description != false">Please enter description.</small>
            </div>
        <div class="form-group row mb--2 mt-4">
            <label class="col-md-2 col-form-label form-control-label"
            >Keyring (req)</label
            >
            <div class="col-md-8">
            <base-input
                placeholder="Enter required keyrings here."
                v-model="myObj.keyringsRequired"
                @focusout="checkKeyring()"
            ></base-input>
            </div>
        </div>
        <div class="row">
             <div class="col-2"></div>
            <small  class=" text-danger col-6 mb-4" v-if="errors.keyringsRequired != false">Please enter required keyrings.</small>
        </div>
        <div>
            <div class="row mt-4 ">
            <label class="col-md-2 col-form-label form-control-label"
                >Color</label
            >
            <!-- color starts -->
            <div class="col-md-8">
                <multiselect
                v-model="myObj.color"
                placeholder="Select color"
                :options="options"
                :option-height="104"
                :show-labels="false"
                >
                <template slot="singleLabel" slot-scope="props"
                    >
                    <div
                    v-bind:style="{ backgroundColor: props.option }"
                    
                    > 
                    <div style="height:30px; width:100px;">
                        
                    </div>
                    </div>
                
                </template>
                <template slot="option" slot-scope="props"
                    >  <div
                    v-bind:style="{ backgroundColor: props.option }"
                    > 
                    <div style="height:30px; width:100px;">
                    </div>
                    </div>
                </template>
                </multiselect>
            </div>
            <!-- colorr ends -->
            </div>
        </div>

<div class="form-group row mt-3  ">
          <label class="col-md-2 col-form-label form-control-label"
            >Draw Date</label
          >
          <div class="col-md-8">
           <base-input icon addon-left-icon="ni ni-calendar-grid-58 "  >
      <flat-picker
        slot-scope="{ focus, blur }"
        @on-open="focus"
        @on-close="blur"
        :config="{ allowInput: true }"
        class="form-control datepicker"
        v-model="myObj.drawDate"

      >
      </flat-picker>
    </base-input>
          </div>
        </div>

        
        <div class="row mt-3">
            <div class="col-2"></div>
            <small class=" text-danger col-6 mb-4" v-if="errors.color != false">Please select color.</small>
        </div>
        <div class="form-group row mt-5 mb--2">    
            <label class="col-md-4 col-form-label form-control-label">Cover</label>  
        </div> 
            <img
                :src="mycover"
                @click="$refs.filee.click()"
                class="mt-2 ml-5"
                alt="imgAdd"
                height="120"
                width="120"
                rounded
            />
            <i
            v-if="loading == true"
            class="fas fa-circle-notch fa-spin fa-2x position-absolute "
            style="color: grey; margin-left:-315px;margin-top:42px;"
            ></i>
            <label hidden class="btn btn-success col">
                <input
                type="file"
                id="filee"
                ref="filee"
                @change="selectUFile()"
                accept="image/*"
                />
            </label>
            <div class="row">
                 <div class=""></div>
                <small class="mt-4 text-danger col-6 mb-4" v-if="errors.cover != false">Please select cover image.</small>
            </div>
        <div class="form-group row">
            <label class="col-md-12 col-form-label form-control-label "
            >More Images</label
            >
            <!-- <div class="col-md-8">
            </div> -->
            <div class="">
                <div class="row ml-5">
                    <div>
                        <div>
                            <i
                            v-if="moreloading == true"
                            class="fas fa-circle-notch fa-spin fa-2x position-absolute "
                            style="color: grey; margin-top:44px;margin-left:60px;"
                            ></i>
                            <img
                                ref="previewEl"
                                rounded
                                src="https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png"
                                @click="$refs.mfile.click()"
                                class="ml-3 "
                                height="120"
                                width="120"
                            />
                         <!-- <img v-if= "loading==false" rounded :src="require('@/assets/images/elements/Unicorn-Cake.jpg')" @click="$refs.files.click()" style="width: 7vw; height: 7vw; padding-left:20px; padding-top:20px;" alt="imgAdd"/>  -->
                            <input
                            type="file"
                            id="mfile"
                            hidden
                            ref="mfile"
                            multiple="multiple"
                            @change="selectMoreFile()"
                            accept="image/*"
                            />
                        </div>
                    </div>
                </div> 
            </div>
            <div class="container">
                <div class="row ml-1" > 
                <div style="margin-top:31px;"  v-for="img in images" :key="img.index">
                <div>
            <i
            class="fa fa-trash fa-sm cursor text-danger position-absolute "
            style="margin:55px;"
            @click="removeImg(index)"
            ></i>
        </div>
        <div >
        <img rounded :src="img" height="120" width="120" />
        </div>
        <!-- <img v-if= "loading==false" rounded :src="require('@/assets/images/elements/Unicorn-Cake.jpg')" @click="$refs.files.click()" style="width: 7vw; height: 7vw; padding-left:20px; padding-top:20px;" alt="imgAdd"/>  -->
        </div> 
            </div>
            </div>
        
        
        </div>
            <div class="row">
                <div class=""></div>
                    <small class="col-6 mb-2 text-danger" v-if="errors.images != false">Please select more images.</small>
            </div>
        <div style="margin-top: 10px">
            <base-button
            :disabled="saving"
            @click="Validate()"
            style="background-color: #00c192"
            type="success"
            class="col"
            >
            <i v-bind:class="sign"></i> {{ optionName }}</base-button
            >
        </div>
        </form>
    </div>
</div>
</template>
<script>
import Vue from "vue";
import swal from "sweetalert2";
import axios from "axios";
import Uploader from "vux-uploader-component";
import Multiselect from "vue-multiselect";
import {
  RichTextEditorPlugin,
  Toolbar,
  Link,
  Image,
  Count,
  HtmlEditor,
  QuickToolbar,
} from "@syncfusion/ej2-vue-richtexteditor";
import DropzoneFileUpload from "@/components/Inputs/DropzoneFileUpload";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";

Vue.use(RichTextEditorPlugin);

export default {
  components: {
    DropzoneFileUpload,
    Uploader,
    Multiselect,
    flatPicker
  },
  data() {
    return {
      dates:'',
      cover:
        "https://appick.io/u/lessons/723f471b-427c-4bf8-a1fd-f01f2ac129e0.png",
    //   myObj: {
    //     id: this.row.id,
    //     name: this.row.name,
    //     description: this.row.description,
    //     keyringsRequired: this.row.keyringsRequired,
    //     keyringsSold: this.row.keyringsSold,
    //     cover: this.row.cover,
    //     color: this.row.color,
    //   },
     myObj: {
        id: 0,
        name: "",
        description: "",
        keyringsRequired: "",
        keyringsSold: 0,
        cover: "",
        color: "",
      },
      
      loading:false,
      moreloading:false,
      mfile:[],
      images:[],
      optionName: "Update",
      sign: "fas fa-user-plus",
      mfilee: "",
       filee: "",
      fileList: [],
      
      mycover:"https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png",
       errors: {
        name: "",
        description: "",
        keyringsRequired: "",
        cover: "",
        color: "",
        images: "",
      },
        GenObj:{
        property:{},
        images:[]
      },
//        styleObject: {
//         'backgorund-color': 'red',
//          'height': '110px',
//          'width': '110px'

//   },
    //    namereg: /^[a-zA-Z]*$/,
    //   currentDate: moment().format("YYYY-MM-DD"),
    //   eIndex: 0,

      file: "",
      image: "",
    //   files: [],
    //   errTitle: "",
    //   errDescription: "",
    //   errText: "",
    //   errCover: "",
    
      saving: false,

       options: [  
        "#87EFFF","#FF6700","#FF0023","#1F249B","#009A56","#FFB435",
      ],
    };
  },
  provide: {
    richtexteditor: [Toolbar, Link, Image, Count, HtmlEditor, QuickToolbar],
  },
   created() {
    this.Authenticator();
  },
  methods: {
    Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
    },
    checkName() {
      if (this.myObj.name == "" ||  this.myObj.name.length <= 2) {
       return this.errors.name = "Please enter name";
        
      } else {
      return  this.errors.name = false;
      }
    },
     checkDescription() {
      if (this.myObj.description == "" ||  this.myObj.description.length <= 3) {
      return  this.errors.description = "Please enter description";
        
      } else {
      return  this.errors.description = false;
      }
    },
    checkKeyring() {
        const reg = /^[0-9]+$/
      if ( reg.test(this.myObj.keyringsRequired) &&
        this.myObj.keyringsRequired !== "") 
        {
       return    this.errors.keyringsRequired = false;
      } else {
      return  this.errors.keyringsRequired = "Please enter keyringsRequired";
      }
    },
    checkColor() {
  
    if (this.myObj.color == "" ) {
      return  this.errors.color = "Please enter color";
        
      } else {
      return  this.errors.color = false;
      }
    },
    checkCover() {
  
    if (this.myObj.cover == "" ) {
       return this.errors.cover = "Please upload cover";
        
      } else {
      return  this.errors.cover = false;
      }
    },
    checkImages() {
  
    if (this.images.length == 0 ) {
      return  this.errors.images = "Please enter description";
        
      } else {
       return this.errors.images = false;
      }
    },
      Validate() {
    
     this.checkName();
     this.checkImages();
     this.checkCover();
     this.checkColor();
     this.checkKeyring(); 
     this.checkDescription();
   console.log(this.GenObj);
   
      if ( this.checkName() !== false   || this.checkCover() !== false  || this.checkColor() !== false  || this.checkKeyring() !== false  ||
      this.checkDescription() !== false  || this.checkImages() !== false   ) {
        return this.$notify({
          verticalAlign: "bottom",
          horizontalAlign: "center",
          message: "Error! <br />" + "Please fill the form correctly",
          type: "danger",
          icon: "fa fa-ban",
          timeout: 0,
        });
      } else {
        console.log("Added");
        if (this.myObj.id === 0) {
          
          this.GenObj.property = this.myObj;
          this.GenObj.images = this.images;
          console.log( this.GenObj);
           var axios = require('axios');
    // this.$store.state.userData.userID
      var config = {
        method: 'post',
         url: 'https://dipity.fastech.pk/api/Properties/Update'  ,
    headers: {
     
        Authorization:
           this.$store.state.token
    
    },
        data : this.GenObj
      };

      axios(config)
      .then( (response) => {
        if(response.data.status === "success")
        {
        console.log(response.data);
          this.$router.push('properties');
            this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Property Updated.",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
        }
    })
      .catch(function (error) {
         swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
      });
        } else {
          //Edit
          this.GenObj.property = this.myObj;
          this.GenObj.images = this.images;
          console.log( this.GenObj);
           var axios = require('axios');
      var config = {
        method: 'put',
         url: 'https://dipity.fastech.pk/api/Properties/Update'  ,
    headers: {
     
        Authorization:
           this.$store.state.token
    
    },
        data : this.GenObj
      };

      axios(config)
      .then( (response) => {
        if(response.data.status === "success")
        {
        console.log(response.data);
          this.modals.showModal = false;
            this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Property Updated.",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
        }
    })
      .catch(function (error) {
         swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
      });
        }
      }
    },
    selectUFile() {
      this.loading = true;

      console.log(this.filee.name);

      console.log(this.filee, this.loading);
      //Upload cover
      if (this.$refs.filee.files[0] !== "") 
      {
        let formData = new FormData();
        formData.append("file", this.$refs.filee.files[0]);
        console.log(this.filee);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
            var fn =  e.data.myresp[0].path;
            console.log(fn);
            this.mycover = fn;
            console.log(this.mycover);

            this.myObj.cover = this.mycover;
            //console.log(this.myObj.coverImg);
            this.loading = false;
            console.log(this.loading);
          });
      }
    },
    selectMoreFile() {
      //this.moreFiles = this.$refs.mfile.files;
      if (this.$refs.mfile.files.length !== 0) {
        this.moreloading = true;
        var formdata = new FormData();
        for (var i = 0; i < this.$refs.mfile.files.length; i++) {
          formdata.append('file', this.$refs.mfile.files[i], '[PROXY]');
        }

        var requestOptions = {
          method: 'POST',
          body: formdata,
          redirect: 'follow',
        };

        fetch('https://upload.appick.io', requestOptions)
          .then(response => response.json()) //2
          .then(result => {
           console.log(result);
            //this.moreImages.push(result.myresp);

            for (var i = 0, len = result.myresp.length; i < len; ++i) {
              this.moreloading = false;
              var fn = result.myresp[i].path;
              this.images.push(fn);
            }
            console.log(this.images);
          })

          .catch(error =>  swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            }));
      }

    },
    
  },
  };
  
</script>
<style scoped>
@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
