<template>
  <div class="content">
    <base-header class="pb-6" style="background-color: #00c192">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Emails</h6>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <modal
        :show.sync="modals.showModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-lg"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <form role="form" class="mb--4">
              <div class="form-group row mb-4">
                <label class="col-md-4 col-form-label form-control-label"
                  >Recipient</label
                >
                <div class="col-md-8">
                  <el-select
                    placeholder="Multiple Select"
                    v-model="selects.multiple"
                    filterable
                    multiple
                    style="color: #00c192"
                    type="success"
                  >
                    <el-option
                      v-for="option in selects.languages"
                      class="select-danger"
                      :value="option.value"
                      :label="option.label"
                      :key="option.label"
                    >
                    </el-option>
                  </el-select>
                </div>
              </div>
              <div>
                <label class="typo__label">Custom option template</label>
                <multiselect
                  v-model="value"
                  placeholder="Fav No Man’s Sky path"
                  label="title"
                  track-by="title"
                  :options="options"
                  :option-height="104"
                  :custom-label="customLabel"
                  :show-labels="false"
                >
                  <template slot="singleLabel" slot-scope="props"
                    ><img
                      class="option__image"
                      style="width: 18px; height: 10px"
                      :src="props.option.img"
                      alt="No Man’s Sky"
                    /><span class="option__desc"
                      ><span class="option__title">{{
                        props.option.title
                      }}</span></span
                    ></template
                  >
                  <template slot="option" slot-scope="props"
                    ><img
                      class="option__image"
                      style="width: 18px; height: 10px"
                      :src="props.option.img"
                      alt="No Man’s Sky"
                    />
                    <div class="option__desc">
                      <span class="option__title">{{ props.option.title }}</span
                      ><span class="option__small">{{
                        props.option.desc
                      }}</span>
                    </div>
                  </template>
                </multiselect>
                <!-- <pre class="language-json"><code>{{ value  }}</code></pre> -->
              </div>

              <div>
                <base-input label="Simple select">
                  <el-select
                    v-model="selects.simple"
                    filterable
                    placeholder="Simple select"
                  >
                    <el-option
                      v-for="option in selectOptions"
                      :key="option.label"
                      :label="option.label"
                      :value="option.value"
                    >
                    </el-option>
                  </el-select>
                </base-input>
              </div>

              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Message</label
                >
                <div class="col-md-8">
                  <base-input v-bind:error="errors.description">
                    <textarea
                      v-model="myObj.description"
                      style="height: 250px"
                      @focusout="checkDesc()"
                      class="form-control"
                      placeholder="Enter Message here."
                      rows="4"
                    >
                    </textarea>
                  </base-input>
                </div>
              </div>

              <!-- File Uploader -->
              <!-- <div class="form-group"> -->

              <div class="form-group row mb-4">
                <label class="col-md-4"> Attachment </label>

                <base-button
                  type="success"
                  @click="$refs.filee.click()"
                  class="mt-2 col-md-4 ml-3"
                  style="
                    width: 9vw;
                    height: 6vh;
                    margin-left: 0px;
                    background-color: #00c192;
                  "
                >
                  Browse
                </base-button>
                <!-- </div> -->
                <i
                  v-if="loading == true"
                  class="fas fa-circle-notch fa-spin"
                  style="color: grey; margin-left: 5px"
                ></i>

                <small class="text-muted col-md-3 mt-3 ml-3"
                  >All Files Alloewd</small
                >
                <label hidden class="btn btn-success col">
                  <input
                    type="file"
                    id="filee"
                    ref="filee"
                    @change="selectUFile()"
                    accept="/"
                  />
                </label>
              </div>
              <!-- File Uploader end -->

              <!-- <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Description</label
                >
                <div class="col-md-8">
                  <base-input
                      v-bind:error="errors.description"
                  >
                    <textarea
                       v-model="myObj.description"
                      v-bind:error="errors.description"
                        @focusout="checkDesc()"
                      class="form-control"
                    
                      
                      placeholder="Enter product details"
                    
                      rows="2"
                  
                    >
                    </textarea>
                  </base-input>
                </div>
              </div> -->

              <div style="margin-top: 10px">
                <base-button
                  :disabled="saving"
                  @click="Validate()"
                  style="background-color: #00c192"
                  type="success"
                  class="col mt-3"
                >
                  <i class="ni ni-send"></i> Send</base-button
                >
              </div>
            </form>
          </template>
        </card>
      </modal>
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header"> </template>
          <div>
            <div
              class="
                col-12
                d-flex
                justify-content-center justify-content-sm-between
                flex-wrap
              "
            >
              <div style="margin-bottom: 25px">
                <base-button
                  icon
                  type="success"
                  style="background-color: #00c192"
                  @click="AddModal()"
                >
                  <span class="btn-inner--icon"
                    ><i class="ni ni-send"></i
                  ></span>
                  <span class="btn-inner--text">Send Email</span>
                </base-button>
              </div>

              <el-select
                hidden
                class="select-primary pagination-select"
                v-model="pagination.perPage"
                placeholder="Per page"
              >
                <el-option
                  class="select-primary pull-right"
                  v-for="item in pagination.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>

              <div hidden>
                <base-input
                  v-model="searchQuery"
                  disabled
                  prepend-icon="fas fa-search"
                  placeholder="Search..."
                >
                </base-input>
              </div>
            </div>
            <el-table
              :data="queriedData"
              row-key="id"
              header-row-class-name="thead-light"
              @sort-change="sortChange"
              @selection-change="selectionChange"
            >
              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              >
              </el-table-column>
              <!-- <el-table-column min-width="50px" align="right" label="Options">
                <div slot-scope="{ $index, row }" class="d-flex">
                
                   <base-button
                    @click="editRecord($index, row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                  >
                    <i class="text-white far fa-edit"></i>
                  </base-button>
                  <base-button
                    @click.native="handleDelete($index, row)"
                    class="remove btn-link"
                    type="danger"
                    size="sm"
                    icon
                  >
                     <i class="text-white far fa-trash-alt"></i>
                  </base-button>

             
                </div>
              </el-table-column> -->
            </el-table>
          </div>
          <div
            slot="footer"
            class="
              col-12
              d-flex
              justify-content-center justify-content-sm-between
              flex-wrap
            "
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "../Tables/users2";
import axios from "axios";
import qs from "qs";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import moment from "moment";
import Multiselect from "vue-multiselect";
import Uploader from "vux-uploader-component";

export default {
  mixins: [clientPaginationMixin],
  components: {
    Multiselect,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    flatPicker,
    Uploader,
  },
  created() {
    this.Authenticator();
    this.LoadData();
  },
  mounted() {},
  data() {
    return {
      selectOptions: [
        {
          label: "Alerts",
          value: "Alerts",
        },
        {
          label: "Badges",
          value: "Badges",
        },
        {
          label: "Buttons",
          value: "Buttons",
        },
        {
          label: "Cards",
          value: "Cards",
        },
        {
          label: "Forms",
          value: "Forms",
        },
        {
          label: "Modals",
          value: "Modals",
        },
      ],
      value: {
        title: "Explorer",
        desc: "Discovering new species!",
        img: "static/posters/creatures.png",
      },
      options: [
        {
          title: "Space Pirate",
          desc: "More space battles!",
          img: "https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171__340.jpg",
        },
        {
          title: "Merchant",
          desc: "PROFIT!",
          img: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7xfDItMMU_0EINoAUatTalQDvCkFDpmqnO3B4f1yE8-e1MRBkoInbDe0zROPXn5yrhoA&usqp=CAU",
        },
        {
          title: "Explorer",
          desc: "Discovering new species!",
          img: "static/posters/creatures.png",
        },
        {
          title: "Miner",
          desc: "We need to go deeper!",
          img: "https://www.gettyimages.nl/gi-resources/images/500px/983794168.jpg  ",
        },
      ],

      selects: {
        simple: "",
        multiple: [],
        languages: [
          { value: "Bahasa Indonesia", label: "Signup today" },
          { value: "Bahasa Melayu", label: "Purchased today" },
          { value: "Català", label: "Winner of this week" },
          { value: "Dansk", label: "Inactive for a week" },
          { value: "Deutsch", label: "Inactive for a month" },
        ],
      },

      cover:
        "https://appick.io/u/lessons/723f471b-427c-4bf8-a1fd-f01f2ac129e0.png",
      more: "https://appick.io/u/lessons/64a03015-aaab-44a2-85c7-fc83ad9417b7.png",
      mfilee: "",
      loading: false,
      filee: "",
      fileList: [],
      errors: {
        name: false,
        description: false,
        services: false,
      },
      myObj: {
        id: 0,
        name: "",
        description: "",
        cover: "",
        keyRings: 0,
      },
      propsToSearch: ["firstName", "email"],
      tableColumns: [
        {
          prop: "email",
          label: "Email",
          minWidth: 100,
          sortable: true,
        },
        {
          prop: "subject",
          label: "Subject",
          minWidth: 100,
          sortable: true,
        },
        {
          prop: "recipient",
          label: "Recipient",
          minWidth: 100,
          sortable: true,
        },
      ],
      tableData: [
        {
          name: "Property cde",
          description:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quam illo nostrum cupiditate mollitia sint cum iure eum aliquam fugiat maiores nesciunt officia maxime architecto, totam commodi similique eius eaque",
          keyRings: "50",
        },
        {
          name: "Property SAF",
          description:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quam illo nostrum cupiditate mollitia sint cum iure eum aliquam fugiat maiores nesciunt officia maxime architecto, totam commodi similique eius eaque",
          keyRings: "60",
        },
        {
          name: "Property GFY",
          description:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quam illo nostrum cupiditate mollitia sint cum iure eum aliquam fugiat maiores nesciunt officia maxime architecto, totam commodi similique eius eaque",
          keyRings: "70",
        },
      ],
      selectedRows: [],
      modals: {
        showModal: false,
      },
      optionName: "Add",
      saving: false,
      name: "",
      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "",
      err: {
        nameerr: false,
        contacterr: false,
        mobileerr: false,
        purposevsterr: false,
        dateerr: false,
      },
      namereg: /^[a-zA-Z]*$/,
      currentDate: moment().format("YYYY-MM-DD"),
      eIndex: 0,
    };
  },

  methods: {
      Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
    },
    customLabel({ title, desc }) {
      return `${title} – ${desc}`;
    },

    selectUFile() {
      // console.log("Osama");
      this.loading = true;
      this.filee = this.$refs.filee.files[0];

      console.log(this.filee.name);

      console.log(this.filee, this.loading);
      //Upload cover
      if (this.filee !== "") {
        let formData = new FormData();
        formData.append("file", this.filee);
        console.log(this.filee);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
            var fn = "https://appick.io/u/lessons/" + e.data.myresp[0].filename;
            console.log(fn);
            this.cover = fn;
            this.myObj.iconPath = this.cover;
            //console.log(this.myObj.coverImg);
            this.loading = false;
            console.log(this.loading);
          });
      }
    },

    selectMFile() {
      // console.log("Osama");
      this.loading = true;
      this.mfilee = this.$refs.mfilee.files[0];

      // console.log(this.filee.name);

      //   console.log(this.filee, this.loading );
      //Upload cover
      if (this.filee !== "") {
        let formData = new FormData();
        formData.append("file", this.mfilee);
        console.log(this.mfilee);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
            var fn = "https://appick.io/u/lessons/" + e.data.myresp[0].filename;
            console.log(fn);
            this.more = fn;
            // this.myObj. = this.cover;
            //console.log(this.myObj.coverImg);
            this.loading = false;
            console.log(this.loading);
          });
      }
    },

    LoadData() {
      console.log("Osama");
      // var url = "https://pexpert.fastech.pk/api/Categories";
      // axios
      //   .get(url)
      //   .then((response) => {
      //     if (response.data.status === "error") {
      //     } else {
      //       this.tableData = response.data;
      //     }
      //   })
      //   .catch(function (error) {});
    },
    resetFormErrors() {
      this.errors.name = false;
    },
    checkServices() {
      if (this.myObj.services !== "") {
        this.errors.services = false;
      } else {
        this.errors.services = "Please enter services";
      }
    },
    checkName() {
      if (this.myObj.name !== "") {
        this.errors.name = false;
      } else {
        this.errors.name = "Please enter name";
      }
    },

    Validate() {
      this.errors.name = false;
      this.errors.description = false;
      this.errors.services = false;
      this.checkName();
      this.checkServices();
      if (this.errors.name !== false || this.errors.services !== false) {
        return this.$notify({
          verticalAlign: "bottom",
          horizontalAlign: "center",
          message: "Error! <br />" + "Please fill the form correctly",
          type: "danger",
          icon: "fa fa-ban",
          timeout: 0,
        });
      } else {
        console.log("Added");
        if (this.myObj.id === 0) {
          //Add
          var url = "https://pexpert.fastech.pk/api/Categories/";

          axios
            .post(url, this.myObj)

            .then((response) => {
              console.log(response);
              if (response.data.status === "error") {
                console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              } else {
                this.errors.name = false;

                this.modals.showModal = false;
                this.LoadData();
                this.cover =
                  "https://appick.io/u/lessons/723f471b-427c-4bf8-a1fd-f01f2ac129e0.png";
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br />New category added",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
              }
            })
            .catch(function (error) {
              console.log(error);
              this.$notify({
                verticalAlign: "bottom",
                horizontalAlign: "center",
                message:
                  "Request Error! <br />Request cannot be processed at the moment.",
                type: "danger",
                icon: "fa fa-ban",
                timeout: 0,
              });
            })
            .finally(() => {
              this.sign = "fas fa-user-plus";
              this.saving = false;
              this.optionName = "Add";
            });
        } else {
          //Edit

          var url =
            "https://pexpert.fastech.pk/api/Categories/" + this.myObj.id;
          console.log(url);
          axios({
            method: "put",
            url: url,
            data: this.myObj,
            validateStatus: (status) => {
              return true;
            },
          })
            .catch((error) => {
              console.log("Server Error on saving: ", error);
            })
            .then((response) => {
              if (response.data.status === "error") {
                console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              } else {
                this.modals.showModal = false;
                this.LoadData();
                this.cover =
                  "https://appick.io/u/lessons/723f471b-427c-4bf8-a1fd-f01f2ac129e0.png";
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Category updated",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
              }
            })
            .finally(() => {
              this.sign = "far fa-edit";
              this.saving = false;
              this.optionName = "Edit";
            });
        }
      }
    },
    date: function (date) {
      return moment(date).format("MMMM Do YYYY, h:mm:ss a");
    },

    GetError() {
      return this.nameError;
      return this.prefixError;
    },
    AddModal() {
      this.saving = false;
      this.optionName = "Add";
      this.modals.showModal = true;
      this.sign = "fas fa-user-plus";
      this.errors.name = false;
      this.errors.description = false;
      this.errors.services = false;
      this.myObj.id = 0;
      (this.myObj.name = ""),
        (this.myObj.services = ""),
        (this.cover =
          "https://appick.io/u/lessons/723f471b-427c-4bf8-a1fd-f01f2ac129e0.png");
      this.myObj.iconPath = this.cover;
      this.myObj.description = "";
    },
    editRecord(index, row) {
      this.eIndex = index;
      this.saving = false;
      this.optionName = "Edit";
      this.modals.showModal = true;
      this.sign = "far fa-edit";
      this.errors.name = false;
      this.errors.description = false;
      this.myObj.id = row.id;
      this.myObj.name = row.name;
      this.myObj.description = row.description;
      this.myObj.services = row.services;
      this.myObj.iconPath = row.iconPath;
      this.cover = this.myObj.iconPath;
    },
    handleDelete(index, row) {
      swal({
        title: "Are you sure?",
        text: "You want to delete" + row.name + "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          var axios = require("axios");

          var config = {
            method: "delete",
            url: `https://pexpert.fastech.pk/api/categories/${row.id}`,
            headers: {},
          };

          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
              if (response.data.status === "success") {
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message:
                    'Saved! <br />Inquiry of "' + row.name + '" removed.',
                  type: "danger",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
                this.LoadData();
              }
            })
            .catch(function (error) {
              console.log(error);
            });

          //  var url = "http://pexpert.fastech.pk/api/Categories/"+ row.id;
          //   console.log(url);
          //    axios({
          //     method: "delete",
          //     url: url,

          //   }).then((response) => {

          //       console.log(response.status);
          //       console.log("Osama");

          //   })

          //   this.$notify({
          //     verticalAlign: "bottom",
          //     horizontalAlign: "center",
          //     message: 'Saved! <br />Inquiry of "' + row.name + '" removed.',
          //     type: "danger",
          //     icon: "fa fa-check",
          //     timeout: this.$store.state.timeout,
          //   });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}
</style>
