<template>
  <div class="content">
    <base-header class="pb-6" style="background-color: #00c192">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Manage Orders</h6>
        </div>
      </div>
    </base-header>

    <modal
      id="card_description"
      :show.sync="modals.editModal"
      body-classes="pb-2"
      modal-classes="modal-dialog-centered modal-md"
    >
      <card
        type="secondary"
        shadow
        header-classes="bg-white pb-0"
        body-classes=""
        class="border-0"
      >
        <div class="form-group row mb-3">
          <label class="col-md-3 col-form-label form-control-label"
            >Status</label
          >
          <div class="col-md-8">
            <multiselect
              style="margin-bottom: 15px"
              placeholder="Status"
              v-model="collectionData"
              :options="collectionOptions"
              :close-on-select="true"
              :clear-on-select="false"
              :hide-selected="false"
              :preserve-search="true"
              label="name"
              track-by="name"
              :preselect-first="true"
              id="example"
            >
            </multiselect>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <base-button
              @click.native="submitEdit()"
              class="remove btn-link w-100"
              type="success"
              size="lg"
              icon
            >
              <i class="text-white fas fa-check-circle">
                <span style="margin-left: 10px">Edit</span></i
              >
            </base-button>
          </div>
        </div>
      </card>
    </modal>

    <!-- view option -->
    <modal
      id="card_description"
      :show.sync="modals.showModal"
      body-classes="p-0"
      modal-classes="modal-dialog-centered modal-xl"
    >
      <card
        type="secondary"
        shadow
        header-classes="bg-white pb-5"
        body-classes=""
        class="border-0"
      >
        <div class="text-center mt-4">
          <i
            v-if="loadingdata == true"
            class="fas fa-circle-notch fa-spin fa-3x text-primary"
          ></i>
        </div>
        <div v-if="loadingdata == false">
          <h1>{{ this.myObj.title }}</h1>
          <card
          
            shadow
            header-classes="bg-white pb-5"
            body-classes=""
            class="border-0"
          >
            <h2>Basic Details</h2>
            <div class="row">
              <div class="col-md-2">
                <h4> First name </h4>
                 <base-input
                  v-model="myObj.firstName"
                ></base-input>
                </div>
                <div class="col-md-2">
                <h4>Last name </h4> 
                 <base-input
                  v-model="myObj.lastName"
                ></base-input>
                </div>
                
                <!-- <p>{{ myObj.firstName + " " + myObj.lastName }}</p> -->
              
               <div class="col-md-4">
                <h4>Email</h4>
                   <base-input
                  placeholder="Enter email address here."
                  v-model="myObj.email"
                ></base-input>
              </div>
                <div class="col-md-4">
                <h4>Phone</h4>
                <vue-tel-input style="height:45px;" v-model="myObj.phoneNo"  @input="onInput"  ></vue-tel-input>
              </div>
              <div class="col-md-3">
                <h4>Date</h4>
                <p>{{ myObj.date }}</p>
              </div>
          <div class="col-md-3">
                <h4>Total Keys</h4>
                <p>{{ myObj.quantity }}</p>
              </div>
              <div class="col-md-3">
                <h4>Bill</h4>
                <p>{{"AED " + myObj.bill }}</p>
              </div>
               <div class="col-md-3">
                <h4>Payment Method</h4>
                <p>{{ myObj.modeOfPayment }}</p>
              </div>
            </div>
          </card>

          
          <!-- Next card -->

          <!-- third -->
          <card
            
            shadow
            header-classes="bg-white pb-5"
            body-classes=""
            class="border-0"
          >
            <div class="row mr-3">
              <div class="col-md-5">
                <h2>Keyrings Details</h2>
              </div>
            
            </div>
            <div >


<div>
    <b-table striped 
      hover  
      :select-mode="selectMode"
      responsive="sm"
      ref="selectableTable"
      selectable
      @row-selected="onRowSelected" :items="orderDetails" :fields="fields">
      <template #cell(selected)="{ rowSelected }">
        <template v-if="rowSelected">
          <span aria-hidden="true">&check;</span>
          <span class="sr-only">Selected</span>
        </template>
        <template v-else>
          <span aria-hidden="true">&nbsp;</span>
          <span class="sr-only">Not selected</span>
        </template>
      </template>
      </b-table>

  </div>

              <!-- <template>
   <v-table
    
        class="table-hover"
        :data="orderDetails"
        selectionMode="multiple"
        selectedClass="table-info"
        @selectionChanged="myselectedRows = $event"
      >
        <thead slot="head">
        <th>Property</th>
        <th>Cost</th>
        <th>Ticket Id</th>
        <th>Option</th>
        </thead>
        <tbody slot="body" slot-scope="{displayData}">
        <v-tr
          v-for="row in displayData"
          :key="row.guid"
          :row="row"
          @click="MyRows(row)"
        >
          <td>{{ row.propertyName }}</td>
          <td> AED {{ row.cost }}</td>
          <td>{{ row.ticketId }}</td>
          <td>{{ row.option }}</td>
        </v-tr>
        </tbody>
      </v-table>
      
              </template>
  -->
            </div>
         
           <!-- <div class="row" v-for="item in orderDetails" :key="item.id"> 
             <div class="col-md-3">
                <h4>Property</h4>
                <p>{{ item.propertyName }}</p>
              </div>
          
          
            <div class="col-md-3">
                <h4>Cost</h4>
                <p>{{"AED " + item.cost }}</p>
              </div>
         
              <div class="col-md-3">
                <h4>Ticket Id</h4>
                <p>{{ item.ticketId }}</p>
              </div>
           
              <div class="col-md-3">
                <h4>Option</h4>
                <p>{{ item.option }}</p>
              </div>


           </div>
              -->
            
          </card>
             
        </div>
          <card
            
            shadow
            header-classes="bg-white pb-5"
            body-classes=""
            class="border-0"
            v-if='CheckdStreet !== ""' 
          >
            <div class="row mr-3">
              <div class="col-md-5">
                <h2>Delivery Details</h2>
              </div>
            
            </div>
          
              <div class="row">
              <div class="col-md-3">
                <h4>House no </h4>
                <!-- <p>{{ myObj.address }}</p> -->
                 <base-input
                  v-model="myObj.dHouseNo"
                ></base-input>
              </div>
               <div class="col-md-3">
                <h4>Street</h4>
                <!-- <p>{{ myObj.address }}</p> -->
                 <base-input
                  v-model="myObj.dStreet"
                ></base-input>
              </div>
               <div class="col-md-3">
                <h4>Area </h4>
                <!-- <p>{{ myObj.address }}</p> -->
                 <base-input
                  v-model="myObj.dArea"
                ></base-input>
              </div>
              <div class="col-md-3">
                <h4>Building </h4>
                <!-- <p>{{ myObj.address }}</p> -->
                 <base-input
                  v-model="myObj.buildingName"
                ></base-input>
              </div>
              <div class="col-md-3">
                <h4>City </h4>
                <!-- <p>{{ myObj.address }}</p> -->
                 <base-input
                  v-model="myObj.dCity"
                ></base-input>
              </div>
               <div class="col-md-3">
                <h4>Country </h4>
                <!-- <p>{{ myObj.address }}</p> -->
                 <base-input
                  v-model="myObj.dCountry"
                ></base-input>
              </div>
               <div class="col-md-3">
                 <div v-if="myObj.alMakhani !== null || myObj.alMakhani !== '' ">
                <h4> Makani </h4>
                <base-input
                  v-model="myObj.alMakhani"
                ></base-input>
                <!-- <p>{{ myObj.alMakhani  }}</p> -->
                 </div>
                
              </div>
                <div class="col-md-3">
                <h4>PO Box </h4>
                <base-input
                  v-model="myObj.dPoBox"
                ></base-input>
                <!-- <p>{{ myObj.dPoBox  }}</p> -->
              </div>

           

            </div>
          
            
          </card>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-2">
            <base-button
              @click="EditMyOrder()"
              class="btn-link"
              type="default"
              size="md"
              icon
            >
              <span class="text-white "> Save Details </span>
            </base-button>
          </div>
           <div class="col-md-2">
            <base-button
              @click="EditMyOrder()"
              class="btn-link"
              type="default"
              size="md"
              icon
            >
              <span class="text-white "> Refund   AED{{" "  +  mytotal }} </span>
            </base-button>
          </div>
          <div class="col-md-4"></div>
        </div>
      </card>
    </modal>
    <!-- view option end -->

    <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 col-sm-6 col-6">
                <!-- <h1>{{ this.quizId.title }}</h1> -->
                <h1>{{ ordersType }}</h1>
              </div>
              <div class="col-md-8 col-sm-6 col-6">
                <div class="float-right">
                  <!-- <multiselect
                    style="margin-bottom: 15px"
                    placeholder="Select quiz"
                    v-model="quizId"
                    :options="quizzes"
                    :close-on-select="true"
                    :clear-on-select="false"
                    :hide-selected="false"
                    @input="LoadResponse()"
                    :preselect-first="true"
                    label="title"
                    track-by="title"
                    class="p-0"
                    :disabled="loadingq"
                  >
                  </multiselect> -->
                </div>
              </div>
            </div>
            <div  class="row justify-content-end"> 
               <base-button  class="col" type="info" @click="FilterData('donate')"> Donate <badge type="info"><strong> {{donate}} </strong></badge></base-button>
             
             
                <base-button class="col" type="success" @click="FilterData('collect')">Collect   <badge type="success"><strong> {{collect}} </strong></badge> </base-button>
               
             
            
              <base-button class="col"  type="warning" @click="FilterData('deliver')">Deliver  <badge type="warning"><strong> {{deliver}} </strong> </badge></base-button>
               
              
              
            </div>
          </div>

          <div class="mt-4">
            <el-table
              :data="queriedData"
              row-key="id"
              class="table-flush"
              
              @sort-change="sortChange"
              @selection-change="selectionChange"
            >
              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
                min-width="160px"
              >
              </el-table-column>
              <el-table-column min-width="150px" align="right" label="View ">
                <div slot-scope="{ row }" class="d-flex">
                  <!-- <el-tooltip placement="left" content="Download CV">
                    <base-button
                      @click="DeclareWinner(row)"
                      class="like btn-link"
                      type="info"
                      size="sm"
                      style="background-color: #1e93e2; color: #fff"
                      icon
                      v-if="row.status !== 'won'"
                    >
                      <i class="fas fa-file-download"></i>
                    </base-button>
                  </el-tooltip> -->
                  
                    <el-tooltip placement="left" content="Email">
                    <base-button
                      @click="Mail(row.email)"
                      class="remove btn-link"
                      type="primary"
                      size="sm"
                      
                      icon
                    >
                      <i class="text-white ni ni-email-83"></i>
                    </base-button>
                  </el-tooltip>

                
                
                  <el-tooltip placement="right" content="View Details">
                    <base-button
                      @click="Details(row)"
                      class="remove btn-link"
                      type="info"
                      size="sm"
                      style="background-color: #1e93e2"
                      icon
                    >
                      <i class="text-white far fa-eye"></i>
                    </base-button>
                  </el-tooltip>
                  <!-- <base-button
                    @click.native="handleEdit()"
                    class="remove btn-link"
                    type="primary"
                    size="sm"
                    icon
                  >
                    <i class="text-white fas fa-edit"></i>
                  </base-button> -->
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="
              col-12
              d-flex
              justify-content-center justify-content-sm-between
              flex-wrap
            "
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import axios from "axios";
import Vue from "vue";
import moment from "moment";
import Multiselect from "vue-multiselect";
import { TablePlugin } from 'bootstrap-vue'
import VueTelInput from 'vue-tel-input';
import 'vue-tel-input/dist/vue-tel-input.css';
Vue.use(TablePlugin);
Vue.use(VueTelInput);
export default {
   props: ["row"],
  mixins: [clientPaginationMixin],
  components: {
    Multiselect,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
   
  created() {
     this.Authenticator();
    if(this.row == undefined)
    {
    console.log("HelloLoadData");  
    this.LoadData();
    }
    else
    {
    this.FilterOrders()
    }
     console.log("myrow",this.row);
  },
  mounted() {},
  data() 
  {
    return {
      CheckdStreet:'Abc',
      selected:'',
      fields:
      [
        
        {
            label:' ',
            key: 'selected',
          },
         {
            label:'Property',
            key: 'propertyName',
            sortable: true
          },
          {
            label:'Ticket No',
            key: 'ticketId',
            sortable: true
          },
          {
            key: 'cost',
            sortable: true
          },
          {
            key: 'option',
            sortable: false
          },
      ],

      myfav:'',
     mytotal:0,
      costArray:[],
      myselectedRows: [],
      deliver:'',
      collect:'',
      donate:'',
      ordersType:'Orders',
      orderDetails:[],
      title: "",
      onLoadQuizId: 0,
      loadingdata: false,
      cover:
        "https://appick.io/u/lessons/64a03015-aaab-44a2-85c7-fc83ad9417b7.png",
      more: "https://appick.io/u/lessons/64a03015-aaab-44a2-85c7-fc83ad9417b7.png",
      mfilee: "",
      loading: false,
      filee: "",
      fileList: [],
      errors: {
        prize: false,
        validTill: false,
        icon: false,
        title: false,
      },
      EditOrder:
      {
        id: 0,
        firstName:"",
        lastName:"",
        email:"",
        phoneNo:"",
        dCountry:"",
        dCity:"",
        dArea:"",
        dHouseNo:"",
        dPoBox:"",
        dStreet:'',
        alMakhani:"",
        buildingName:"",

      },
      userAns: [],
      newfunc: [],
      quizId: 0,
      quizzes: [],
      types: ["Text", "Video", "Picture"],
      myObj: {
        id: 0,
        title: "",
        name: "",
        firstName:"",
        lastName:"",
        quantity:"",
        email:"",
        phoneNo:"",
        dCountry:"",
        dCity:"",
        dArea:"",
        dHouseNo:"",
        dPoBox:"",
        dStreet:'',
        modeOfPayment:"",
        address:"",
        alMakhani:"",
        buildingName:"",

      
      number: "",
        email: "",
      
      },
      // myObj: [
      //   {name:"mubashir", number:"01234567", email:"mubashir","" }
      //   ],
    
      collectionData: { id: "Pending", name: "Pending" },
      collectionOptions: [
        { id: "Pending", name: "Pending" },
        { id: "In Complete", name: "In Complete" },
        { id: "Delivered", name: "Delivered" },
      ],

      propsToSearch: ["firstName", "email"],
      tableColumns: [
        {
          prop: "firstName",
          label: "FirstName",
          minWidth: 80,
          sortable: true,
        },
         {
          prop: "lastName",
          label: "LastName",
           minWidth: 80,
          sortable: true,
        },
        {
          prop: "date",
          label: "Date",
          // minWidth: 80,
          sortable: true,
        },
        {
          prop: "bill",
          label: "Bill",
          // minWidth: 100,
          sortable: true,
        },
        {
          prop: "quantity",
          label: "Keyrings",
          // minWidth: 200,
          sortable: true,
        },
        // {
        //   prop: "correctAnswers",
        //   label: "Correct",
        //   minWidth: 60,
        //   sortable: true,
        // },
        {
          prop: "status",
          label: "Status",
          // minWidth: 135,
          sortable: true,
        },
      ],
      tableData: [
       
      ],
      selectedRows: [],
      modals: {
        showModal: false,
        editModal: false,
      },
      optionName: "Add",
      saving: false,
      name: "",
      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "",
      err: {
        nameerr: false,
        contacterr: false,
        mobileerr: false,
        purposevsterr: false,
        dateerr: false,
      },
      namereg: /^[a-zA-Z]*$/,
      currentDate: moment().format("YYYY-MM-DD"),
      eIndex: 0,
    };
  },
 
  methods: {
    EditMyOrder()
    {
        this.EditOrder.id = this.myObj.id;
        this.EditOrder.firstName = this.myObj.firstName;
        this.EditOrder.lastName= this.myObj.lastName;
        this.EditOrder.email= this.myObj.email;
        this.EditOrder.phoneNo= this.myObj.phoneNo;
        this.EditOrder.dCountry= this.myObj.dCountry;
        this.EditOrder.dCity= this.myObj.dCity;
        this.EditOrder.dArea= this.myObj.dArea;
        this.EditOrder.dHouseNo= this.myObj.dHouseNo;
        this.EditOrder.dPoBox= this.myObj.dPoBox;
        this.EditOrder.dStreet= this.myObj.dStreet;
        this.EditOrder.alMakhani= this.myObj.alMakhani;
        this.EditOrder.buildingName= this.myObj.buildingName;

        console.log(this.EditOrder);

 var axios = require('axios');

  var config = {
    method: 'put',
    url: 'https://localhost:44339/api/Orders/EditOrder',
    headers: {
        Authorization: this.$store.state.token
    },
    data:this.EditOrder
  };

  axios(config)
  .then( (response) => {
    // console.log(JSON.stringify(response.data));

   if(response.data.status == "success")
   {
     this.modals.showModal = false;
     this.LoadData();
       this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> order saved.",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
   }
   else
   {


   }


    // this.images  =  response.data.data.images;

    
 })
  .catch(function (error) {
     swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
  });

    },
    RefundOrder()
    {
      
  var axios = require('axios');

  var config = {
    method: 'put',
    url: 'https://localhost:44339/api/Orders/RefundAmount/'+ this.myObj.id + '/' + this.mytotal ,
    headers: 
    {
        Authorization: this.$store.state.token
    },
    data:this.EditOrder
  };
  console.log(config.url);
  axios(config)
  .then( (response) => {
    // console.log(JSON.stringify(response.data));

   if(response.data.status == "success")
   {
     this.modals.showModal = false;
     this.LoadData();
       this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> order saved.",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
   }    
 })
  .catch(function (error) {
     swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
  });

    },
    onRowSelected(items) 
    {
     
        console.log("Hellooooooo");

      },
      closeCard() {
      this.modals.showModal = false;
      this.$refs.selectableTable.clearSelected();

      console.log("Selected Items" ,this.selected);
     // this.selected = [];
      //this.myselectedRows = [];
    },

  Mail(email)
  {
    var myemail = "mailto:" + email + "?subject=Subject&body=message%20goes%20here" ;
    window.location.href = myemail;
  },
    FilterOrders()
    {
      if(this.row  == "deliver")
      {
      this.ordersType = "Deliverd Orders";
      }
      else if(this.row  == "donate")
      {
      this.ordersType = "Donated Orders";
      }
      else if(this.row  == "collect")
      {
      this.ordersType = "Collected Orders";
      }
      
  console.log(this.row);
  var axios = require('axios');

  var config = {
    method: 'get',
    url: 'https://dipity.fastech.pk/api/Orders/OrderFilter/'+ this.row,
    headers: {
     
        Authorization: this.$store.state.token
    
    }
  };

  axios(config)
  .then( (response) => {
    // console.log(JSON.stringify(response.data));

      this.tableData = []
     //this.tableData  =  response.data.data;

     response.data.data.forEach(elem => {
       elem.date =  elem.date.split("T")[0];
       this.tableData.push(elem);
     });
     this.deliver = response.data.deliver ;
     this.donate = response.data.donate ;
     this.collect = response.data.collect ;


    // this.images  =  response.data.data.images;

     console.log(this.tableData);
    
 })
  .catch(function (error) {
     swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
  });

    },
    FilterData(mydata)
    {
    console.log(mydata);
     this.row = mydata;
     if(mydata  == "deliver")
      {
      this.ordersType = "Deliverd Orders";
      }
      else if(mydata  == "donate")
      {
      this.ordersType = "Donated Orders";
      }
      else if(mydata  == "collect")
      {
      this.ordersType = "Collected Orders";
      }
      
  console.log(this.row);
  var axios = require('axios');

  var config = {
    method: 'get',
    url: 'https://dipity.fastech.pk/api/Orders/OrderFilter/'+ mydata,
    headers: {
     
        Authorization: this.$store.state.token
    
    }
  };

  axios(config)
  .then( (response) => {
    // console.log(JSON.stringify(response.data));

      this.tableData = []
     //this.tableData  =  response.data.data;

     response.data.data.forEach(elem => {
       elem.date =  elem.date.split("T")[0];
       this.tableData.push(elem);
     });

    // this.images  =  response.data.data.images;

     console.log(this.tableData);
    
 })
  .catch(function (error) {
     swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
  });
    },
    Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
    },
    
    Details(row) 
    {
      //this.myselectedRows = [];
      //this.costArray = [];
       //console.log(row);
       //this.mytotal = 0;
      console.log("Hello",row);  
      if(this.row == "donate" || this.row == "collect")
      {
        console.log("working",this.row);  
        
         this.CheckdStreet = "";
      }
      // else
      // {
      //   this.CheckdStreet ;
        
      // }

      this.loadingdata = false;
      this.modals.showModal = true;
      this.myObj.id = row.id;
      this.myObj.firstName = row.firstName;
      this.myObj.lastName = row.lastName;
      this.myObj.email = row.email;
      this.myObj.phoneNo = row.phoneNo;
      this.myObj.bill = row.bill;
      this.myObj.date = row.date;
      this.myObj.quantity = row.quantity;
      this.myObj.address = row.address;
      this.orderDetails = row.orderDetails;
      this.myObj.dStreet = row.dStreet;
      this.myObj.dCountry = row.dCountry;
      this.myObj.dPoBox = row.dPoBox;
      this.myObj.alMakhani = row.alMakhani;
      this.myObj.dArea = row.dArea;
      this.myObj.dHouseNo = row.dHouseNo;
      this.myObj.dCity = row.dCity;
      this.myObj.buildingName = row.buildingName;

      
      this.myObj.modeOfPayment = row.modeOfPayment;



      //this.orderDetails = row.orderDetails;

      // this.myObj.certificate = row.certificate;
      // this.myObj.degree = row.degree;
      // this.myObj.experience = row.experience;
      // this.myObj.description = row.description;
     
    },


    
 OrderDetails(id) {
  var axios = require('axios');

  var config = {
    method: 'get',
    url: 'https://dipity.fastech.pk/api/Orders/OrderDetails/' + id,
    headers: {
        Authorization:this.$store.state.token
    }
  };

  axios(config)
  .then( (response) => {
    console.log(response.data.data);

      this.orderDetails = [];
     //this.tableData  =  response.data.data;
      this.orderDetails =  response.data.data;
    //  response.data.data.forEach(elem => {
    //    elem.date =  elem.date.split("T")[0];
    //    this.tableData.push(elem);
    //  });

    // this.images  =  response.data.data.images;

    
 })
  .catch(function (error) {
    swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
  });
    },

    LoadData() {
         var axios = require('axios');

  var config = {
    method: 'get',
    url: 'https://dipity.fastech.pk/api/Orders/ViewDetails',
    headers: {
     
        Authorization:
           this.$store.state.token
    
    }
  };

  axios(config)
  .then( (response) => {
    console.log(response.data);

      this.tableData = []
     //this.tableData  =  response.data.data;
     this.deliver = response.data.deliver;  
     this.collect = response.data.collect;
     this.donate = response.data.donate;

     response.data.data.forEach(elem => {
      var d = new Date(elem.date);
      elem.date = d.toDateString();
      //  elem.date =  elem.date.split("T")[0];
       this.tableData.push(elem);
     });

    // this.images  =  response.data.data.images;

     console.log(this.tableData);

 })
  .catch(function (error) {
     swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
  });
    },
    resetFormErrors() {
      this.errors.name = false;
    },

    checkTitle() {
      if (this.myObj.title !== "" && this.myObj.title !== 0) {
        this.errors.title = false;
      } else {
        this.errors.title = "Please enter title";
      }
    },
    checkPrize() {
      if (this.myObj.prize !== "" && this.myObj.prize !== 0) {
        this.errors.prize = false;
      } else {
        this.errors.prize = "Please enter prize";
      }
    },
    checkDate() {
      console.log(this.myObj.validTill);
      console.log(this.currentDate);
      if (
        this.myObj.validTill == "" ||
        this.myObj.validTill < this.currentDate ||
        this.myObj.validTill === null
      ) {
        console.log("Osama");
        this.errors.validTill = "Please enter valid date ";
      } else 
      {
        this.errors.validTill = false;
      }
    },

    Validate() {
      this.errors.prize = false;
      this.errors.title = false;
      this.errors.validTill = false;
      this.checkDate();
      this.checkPrize();
      this.checkTitle();
      if (this.errors.prize !== false || this.errors.validTill !== false) {
        return this.$notify({
          verticalAlign: "bottom",
          horizontalAlign: "center",
          message: "Error! <br />" + "Please fill the form correctly",
          type: "danger",
          icon: "fa fa-ban",
          timeout: 0,
        });
      } else {
        console.log("Added");
        if (this.myObj.id === 0) {
          //Add
          var url = "https://emiratesquiz.fastech.pk/api/Quizzes/";

          axios
            .post(url, this.myObj)

            .then((response) => {
              console.log(response);
              if (response.data.status === "error") {
                console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              } else {
                this.errors.validTill = false;

                this.modals.showModal = false;
                this.LoadData();
                this.cover =
                  "https://appick.io/u/lessons/64a03015-aaab-44a2-85c7-fc83ad9417b7.png";
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br />New Quiz added",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
              }
            })
            .catch(function (error) {
              swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
            })
            .finally(() => {
              this.sign = "fas fa-user-plus";
              this.saving = false;
              this.optionName = "Add";
            });
        } else {
          //Edit

          console.log(this.myObj);
          var url =
            "https://emiratesquiz.fastech.pk/api/Quizzes/" + this.myObj.id;
          console.log(url);
          axios({
            method: "put",
            url: url,
            data: this.myObj,
            validateStatus: (status) => {
              return true;
            },
          })
            .catch((error) => {
               swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
            })
            .then((response) => {
              if (response.data.status === "error") {
                console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              } else {
                this.modals.showModal = false;
                this.LoadData();
                this.cover =
                  "https://appick.io/u/lessons/723f471b-427c-4bf8-a1fd-f01f2ac129e0.png";
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Quiz updated",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
              }
            })
            .finally(() => {
              this.sign = "far fa-edit";
              this.saving = false;
              this.optionName = "Edit";
            });
        }
      }
    },
    date: function (date) {
      return moment(date).format("MMMM Do YYYY, h:mm:ss a");
    },

    GetError() {
      return this.nameError;
      return this.prefixError;
    },


  },
};
</script>
<style scoped>
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

</style>
<style>

.no-border-card .card-footer {
  border-top: 0;
}

/*
  area  done
  number done
  status = avalable working done
  download btn CV 
  fname l name email no. address done
  qualification: job intrested done hi samjho
  btn = contact for interview done
*/
</style>
