<template>
  <div class="p-4">
    <h2 class="pb-4">Add Past Winners</h2>
    <div class="p-4">
      <form role="form" class="mb--4">
        <div class="form-group row mb--2">
          <label class="col-md-2 col-form-label form-control-label"
            >Title</label
          >
          <div class="col-md-8">
            <base-input
              placeholder="Enter Title here."
              v-model="myObj.title"
            ></base-input>
          </div>
        </div>

        <div class="form-group row mb--2">
          <label class="col-md-2 col-form-label form-control-label"
            >Short Description</label
          >
          <div class="col-md-8">
            <base-input v-bind:error="errors.description">
              <textarea
                v-model="myObj.shortDescription"
                style="height: 100px"
                class="form-control"
                placeholder="Enter description here."
                rows="2"
              >
              </textarea>
            </base-input>
          </div>
        </div>

        <div class="form-group row mb--2">
          <label class="col-md-2 col-form-label form-control-label"
            >Detail Description</label
          >
          <div class="col-md-8">
            <ejs-richtexteditor
              ref="defaultRTE"
              :height="500"
              v-model="myObj.text"
              placeholder="Description here"
            >
            </ejs-richtexteditor>
          </div>
        </div>
        <div class="form-group row mt-4">
          <label class="col-md-2 col-form-label form-control-label"
            >Properties</label
          >
          <div class="col-md-8">
           <multiselect
                    style="margin-bottom: 15px"
                    placeholder="Select property"
                    v-model="collectionData"
                    :options="optionsProperties"
                    :close-on-select="true"
                    :clear-on-select="false"
                    :hide-selected="false"
                    :preserve-search="true"
                    label="name"
                    track-by="id"
                    :preselect-first="true"
                    id="example"
                  >
                  </multiselect>

          </div>
        </div>
        <div class="form-group row mt-2">
          <label class="col-md-2 col-form-label form-control-label"
            >Image</label
          >
          <div class="col-md-8">
            <img
              :src="cover"
              @click="$refs.filee.click()"
              class=""
              style="
                width: 5vw;
                height: 5vw;
                margin-left: 0px;
                margin-right: 20px;
              "
              alt="imgAdd"
            />
             <i
                      v-if="loading == true"
                      class="fas fa-circle-notch fa-spin fa-2x position-absolute "
                      style="color: grey; margin-top:31px; margin-left:-85px;"
                    ></i>
            <small class="text-muted"
              >Upload valid images only png and jpeg are allowed.</small
            >
            <label hidden class="btn btn-success col">
              <input
                type="file"
                id="filee"
                ref="filee"
                @change="selectUFile()"
                accept="image/*"
              />
            </label>
          </div>
        </div>

      <div class="row">
          <div class="col-md-2">

          </div>
          <div class="col-md-8">
        <div style="margin-top: 10px">
          <base-button
            :disabled="saving"
            style="background-color: #00c192"
            type="success"
           class="col"
            @click="submit()"
          >
            <i v-bind:class="sign"></i> Submit</base-button
          >
        </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import Multiselect from "vue-multiselect";
import swal from "sweetalert2";
import {
  RichTextEditorPlugin,
  Toolbar,
  Link,
  Image,
  Count,
  HtmlEditor,
  QuickToolbar,
} from "@syncfusion/ej2-vue-richtexteditor";
import { Select, Option } from "element-ui";
import axios from "axios";
Vue.use(RichTextEditorPlugin);

export default {
  props: ["row"],
  components: {
    Multiselect,
    [Select.name]: Select,
    [Option.name]: Option,
  },
   created()
  {
     this.Authenticator();
    this.LoadProperties();
    this.LoadForm(this.row);
  },
  data() {
    return {
      // myObj:{
      //   from: this.row.from,
      //   to: this.row.to,
      // },
      loading:false,
      filee:"",
      optionsProperties:[],
      collectionData:{},
      cover:"https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png",
      myObj: {
        id: 0,
        title: "",
        propertyId: 0,
        shortDescription: "",
        image: "",
        sequence: 0,
        text: "",
      },
      selectOptions: [
        {
          label: "Properity 1",
          value: "Properity 1",
        },
        {
          label: "Properity 2",
          value: "Properity 2",
        },
        {
          label: "Properity 3",
          value: "Properity 3",
        },
      ],
      selects: {
        simple: "",
        multiple: ["Alerts", "Buttons"],
      },
    };
  },
  provide: {
    richtexteditor: [Toolbar, Link, Image, Count, HtmlEditor, QuickToolbar],
  },
  methods: {
Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
    },
    LoadProperties(){
       var url = "https://dipity.fastech.pk/api/Properties";
      axios
        .get(url, {
          headers: {
            
        Authorization:
           this.$store.state.token
    
          }
        })
        .then((response) => {
          if (response.data.status === "success") 
          {
            this.optionsProperties = [];
            //this.optionsProperties = response.data.data;
            //console.log("mypropps",this.optionsProperties);
             response.data.data.forEach((elem) => {
              elem.id;
              elem.name;
              this.optionsProperties.push(elem);
            });
            console.log("-------------",this.optionsProperties);
          } 
         
        })
        .catch(function (error) {
           swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
    },
    LoadForm(row)
    {
      if(row == undefined)
      {
        this.myObj;
      }
      else
      {
        this.myObj.id = row.id;
        this.myObj.title = row.title;   
        this.myObj.propertyId = row.propertyId;   
        this.myObj.shortDescription = row.shortDescription;   
        this.myObj.sequence = row.sequence;
        this.myObj.image = row.image;  
        this.myObj.text = row.text; 
        this.collectionData = row.property;
        this.cover = row.image;   
       
        this.optionsProperties.forEach((element) => {
            console.log("-----dssdfsd-----",element);

          if(element.id == row.propertyId )
          {
           this.collectionData.push(elem);
            this.myObj.propertyId = elem.id;
          }
        });
        //console.log("col--------------",this.myObj.propertyId ,this.optionsProperties ,this.collectionData);
      }
    },
    selectUFile() {
      // console.log("Osama");
      this.loading = true;

      console.log(this.filee.name);

      console.log(this.filee, this.loading);
      //Upload cover
      if (this.$refs.filee.files[0] !== "") 
      {
        let formData = new FormData();
        formData.append("file", this.$refs.filee.files[0]);
        console.log(this.filee);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
            var fn =  e.data.myresp[0].path;
            console.log(fn);
            this.cover = fn;
            console.log(this.cover);

            this.myObj.image= this.cover;
            //console.log(this.myObj.coverImg);
            this.loading = false;
            console.log(this.loading);
          });
      }
    },
    submit() {

    // this.myObj.propertyId =   this.collectionData[0].propertyId   ;
  this.myObj.propertyId =  this.collectionData.id;
   console.log(this.collectionData);
   console.log(this.myObj);
        if (this.myObj.id == 0 || this.row == undefined ) {
          
          
        
           var axios = require('axios');
    // this.$store.state.userData.userID
      var config = {
        method: 'post',
         url: 'https://dipity.fastech.pk/api/Winners'  ,
    headers: {
     
        Authorization:
           this.$store.state.token
    
    },
        data : this.myObj
      };

      axios(config)
      .then( (response) => {
        if(response.data.status === "success")
        {
        console.log(response.data);
        
       this.$router.push({ name: 'pastWinners' })
            this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Winners Added.",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
        }

        //  this.data  =  response.data;
        //console.log(this.$store.state.userData.userID);
      //this.items = response.data;

       // console.log(this.items);
    })
      .catch(function (error) {
         swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
      });
        } else {
          //Edit

           var axios = require('axios');
    // this.$store.state.userData.userID
      var config = {
        method: 'put',
         url: 'https://dipity.fastech.pk/api/Winners/'  ,
    headers: {
     
        Authorization:
           this.$store.state.token
    
    },
        data : this.myObj
      };

      axios(config)
      .then( (response) => {
        if(response.data.status === "success")
        {
        console.log(response.data);
        
          this.$router.push({ name: 'pastWinners' })
            this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Property Updated.",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
        }

        //  this.data  =  response.data;
        //console.log(this.$store.state.userData.userID);
      //this.items = response.data;

       // console.log(this.items);
    })
      .catch(function (error) {
         swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
      });
        }
    },
  },
};
</script>
<style scoped>
@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
