<template>
  <div class="content">
    <base-header class="pb-6" style="background-color: #00c192">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Manage Previous Winners</h6>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
       <modal
        :show.sync="modals.showModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
      <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
           <div class=" mb-2">
                  <div class="row">
                    <label class="col-md-12 col-form-label form-control-label"
                      >Set Priority</label
                    >
                    <div class="col-md-12" >
                     <multiselect
                    style="margin-bottom: 15px"
                    placeholder="Select an option"
                    v-model="priority"
                    :options="sequenceOptions"
                    :close-on-select="true"
                    :clear-on-select="false"
                    :hide-selected="false"
                    :preserve-search="true"
                    :preselect-first="true"
                    id="example"
                    >
                    </multiselect>
                  </div>
                </div>
                 <div style="margin-top: 10px">
                  <base-button
                    style="background-color: #00c192"
                    type="success"
                    class="col"
                    @click="EditPriority()"
                  >
                    <i v-bind:class="sign"></i> Update</base-button
                  >
                </div>
            </div>
      </card>
     </modal>
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-auto col-sm-6 col-12">
                 <a href="#/fusion/pastWinnersAdd" style="color: white">
                <base-button
                  icon
                  type="success"
                  size="md"
                  style="background-color: #00c192"
                >
                  <span class="btn-inner--icon"
                    ><i class="fas fa-plus"></i
                  ></span>
                 
                    <span class="btn-inner--text">Add a previous winner</span>
                  
                </base-button>
                </a>
              </div>

              <!-- <div class="col-md-auto col-sm-6 col-12 mr-2">
                <base-button icon type="primary" size="md" class="mt-md-0 my-2">
                  <downloadexcel
                    :fetch="fetchData"
                    :fields="json_fields"
                    :before-finish="finishDownload"
                  >
                    <i v-bind:class="sign"> </i>
                    Export Winners
                  </downloadexcel>
                </base-button>
              </div> -->
              <div class="col-md-4">
                <div class="row mt-2">
                  <label class="col-md-auto form-control-label mt-1">
                   Show previous winner on homepage</label
                  >
                    <base-button outline type="secondary"  size="sm" @click="PreviousWinner">
                  <base-switch
                    class="col-md-auto col-sm-auto  ml-md-0 "
                    type="success"
                    v-model="mySwitche.pwSwitch"
                  
                  >
                    </base-switch>
                     </base-button>
                </div>
              </div>
            </div>
          </div>
          <!-- <template slot="header"> 
            <div class="row">
             <div class="col-md-4" >
                <base-button icon type="success"  style="background-color:#00c192;" @click="AddModal()">
                  <span class="btn-inner--icon"
                    ><i class="fas fa-plus"></i></span>
                  <span class="btn-inner--text">Add Winner</span>
                </base-button>
              </div>   
              <div class="col-md-5">

              </div>
              <div class="col-md-3">
               <div class="row mt-2">
                 <div class="col-md-3">

                 </div>
              <label class="col-md-6  form-control-label"
                  > Perivous Winners</label> 
             <base-switch class="col-md-2" type="success" v-model="switches.off"> Winners</base-switch>
                   </div>

              </div>
            </div>
        
              
          </template> -->
          <div class="mt-4">
            <div
              class="
                col-12
                d-flex
                justify-content-center justify-content-sm-between
                flex-wrap
              "
            >
               <multiselect
                    style="margin-bottom: 15px"
                    placeholder="Select property"
                    v-model="collectionData"
                    :options="optionsProperties"
                    :close-on-select="true"
                    :clear-on-select="false"
                    :hide-selected="false"
                    :preserve-search="true"
                    label="name"
                    track-by="id"
                    :preselect-first="true"
                    id="example"
                  >
                  </multiselect>
<!-- 
              <div hidden>
                <base-input
                  v-model="searchQuery"
                  disabled
                  prepend-icon="fas fa-search"
                  placeholder="Search..."
                >
                </base-input>
              </div> -->
            </div>

            <el-table
             class="table-flush"
              :data="queriedData"
              row-key="id"
             
              @sort-change="sortChange"
              @selection-change="selectionChange"
              
            >
              <!-- imges -->

              <!-- <el-table-column
                label="Images"
                min-width="50px"
                prop="name"
                sortable
              >
                <template v-slot="{ row }">
                  <div class="media align-items-center">
                    <div class="avatar mr-3">
                      <img alt="Image placeholder" :src="row.image" />
                    </div>
                   
                  </div>
                </template>
              </el-table-column> -->

              <!-- images end -->
              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
                
              >
              </el-table-column>
              <el-table-column min-width="80px" align="right" label="Options">
                <div slot-scope="{ row }" class="d-flex">
                
                  <base-button
                    @click="AddModal($index, row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    :disabled="row.sequence"
                    icon
                  >
                    <span class="text-white"> Mark As Hero</span>
                  </base-button>
                
                  <base-button
                    @click="editRecord(row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                  >
                    <i class="text-white far fa-edit"></i>
                  </base-button>
                  <base-button
                    @click.native="handleDelete($index, row)"
                    class="remove btn-link"
                    type="danger"
                    size="sm"
                    icon
                  >
                    <i class="text-white far fa-trash-alt"></i>
                  </base-button>
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="
              col-12
              d-flex
              justify-content-center justify-content-sm-between
              flex-wrap
            "
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "../Tables/users2";
import axios from "axios";
import qs from "qs";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import moment from "moment";
import Multiselect from "vue-multiselect";
import Uploader from "vux-uploader-component";
import BaseButton from '../../components/BaseButton.vue';
export default {
  mixins: [clientPaginationMixin],
  components: {
    Multiselect,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    flatPicker,
    Uploader,
    BaseButton,
  },
  created() {
     this.Authenticator();
    this.LoadData();
  },
  mounted() {},
  computed: {
   PreviousWinner()
    {
     console.log(this.mySwitche.pwSwitch);  
     // return console.log(this.mySwitche.pwSwitch);
   
 var config = {
        method: 'put',
         url: 'https://dipity.fastech.pk/api/PreviousWinners'  ,
    headers: {
     
        Authorization:
           this.$store.state.token
    },
        data : this.mySwitche
      };

      axios(config)
      .then( (response) => {
        if(response.data.status === "success")
        { 
        console.log(response.data);
    
        }

      
    })
      .catch(function (error) {
        //  swal.fire({
        //       type: 'error',
        //        title: '  ' + error.message,
        //       text: 'Something went wrong with the connection, Please try again later!',
        //     })
      });
      return  this.mySwitche.pwSwitch;
    //     console.log("Else Block");
    //    this.mySwitche.pwSwitch = true;
    //     var config = {
    //     method: 'put',
    //      url: 'https://dipity.fastech.pk/api/PreviousWinners'  ,
    // headers: {
     
    //     Authorization:
    //        this.$store.state.token
    
    // },
    //     data : this.mySwitche
    //   };

    //   axios(config)
    //   .then( (response) => {
    //     if(response.data.status === "success")
    //     { 
    //     console.log(response.data);
        
    //      this.LoadData();
         
    //     //  return   this.$notify({
    //     //           verticalAlign: "bottom",
    //     //           horizontalAlign: "center",
    //     //           message: "Saved! <br /> Switch updated.",
    //     //           type: "success",
    //     //           icon: "fa fa-check",
    //     //           timeout: this.$store.state.timeout,
    //     //         });
    //     }

    //     //  this.data  =  response.data;
    //     //console.log(this.$store.state.userData.userID);
    //   //this.items = response.data;

    //    // console.log(this.items);
    // })
    //   .catch(function (error) {
    //      swal.fire({
    //           type: 'error',
    //            title: '  ' + error.message,
    //           text: 'Something went wrong with the connection, Please try again later!',
    //         })
    //   });

      
     
},
    },
  data() {
    return {
       sequenceOptions: [
        "Set as primary",
        "Set as default"
      ],
       priority: "",
       obj: {
        id: 0,
        title: "",
        shortDescription: "",
        image: "",
        sequence: 0,
        text: "",
        propertyId: 0,

      },
      switche: false,
      cover:
        "https://appick.io/u/lessons/723f471b-427c-4bf8-a1fd-f01f2ac129e0.png",
      more: "https://appick.io/u/lessons/64a03015-aaab-44a2-85c7-fc83ad9417b7.png",
      mfilee: "",
      loading: false,
      filee: "",
      fileList: [],
      errors: {
        name: false,
        description: false,
        services: false,
      },
      myObj: {
        id: 0,
        name: "",
        description: "",
        cover: "",
        keyRings: 0,
      },
      mySwitche:
      {
        id:0,
        pwSwitch:false,
      },
      propsToSearch: ["firstName", "email"],
      tableColumns: [
        {
          prop: "title",
          label: "Title",
          minWidth: 50,
          sortable: true,
        },
        {
          prop: "shortDescription",
          label: "Short Description",
          minWidth: 100,
          sortable: true,
        },
       
      ],
      tableData: [],
      selectedRows: [],
      modals: {
        showModal: false,
      },
      optionName: "Add",
      saving: false,
      name: "",
      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "",
      err: {
        nameerr: false,
        contacterr: false,
        mobileerr: false,
        purposevsterr: false,
        dateerr: false,
      },
      namereg: /^[a-zA-Z]*$/,
      currentDate: moment().format("YYYY-MM-DD"),
      eIndex: 0,
    };
  },
methods:{
  Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
    },
     editRecord(row) {
       console.log(row);
      this.$router.push({ name: 'pastWinnersAdd', params: {
        row: row
         } })
    },
   AddModal($index, row){
  
      this.obj.id= row.id;
      this.obj.title= row.title;
      this.obj.shortDescription= row.shortDescription;
      this.obj.image= row.image;
      //this.obj.sequence= row.sequence;
      this.obj.propertyId= row.propertyId;
      this.obj.text= row.text;
      //console.log(this.priority.value);
       if(row.sequence === 1){
        this.obj.sequence = 0;
      }else{
          this.obj.sequence = 1;
      }
       var url = "https://dipity.fastech.pk/api/Winners/MakePrimary";
         axios
        .put(url, this.obj, {
          headers: {
            
        Authorization:
           this.$store.state.token
    
          }
        })
        .then((response) => {
          //console.log(this.myObj);
          if (response.data.status === "error") {
             this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Request Error! <br />" + response.data.data,
              type: "danger",
              icon: "fa fa-ban",
              timeout: 0,
            });
          } else  if (response.data.status === "success") {
           this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message:  "Updated! <br /> This winner priority is updated.",
              type: "success",
              icon: "fa fa-check",
              timeout: this.$store.state.timeout,
            });
             this.LoadData();
          
          }
        })
        .catch(function (error) {
           swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
     
    },
    EditPriority(){
     // return console.log(this.obj);
        if(this.priority === "Set as primary"){
        this.obj.sequence = 1;
      }else {
        this.obj.sequence = 0;
      }
        var url = "https://dipity.fastech.pk/api/Winners/MakePrimary";
         axios
        .put(url, this.obj, {
          headers: {
            
        Authorization:
           this.$store.state.token
    
          }
        })
        .then((response) => {
          //console.log(this.myObj);
          if (response.data.status === "error") {
             this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Request Error! <br />" + response.data.data,
              type: "danger",
              icon: "fa fa-ban",
              timeout: 0,
            });
          } else  if (response.data.status === "success") {
           this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message:  "Updated! <br /> This winner priority is updated.",
              type: "success",
              icon: "fa fa-check",
              timeout: this.$store.state.timeout,
            });
             this.LoadData();
            this.modals.showModal = false;
          }
        })
        .catch(function (error) {
           swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
    },
    c_charity() {
      swal("Are you sure you want to do this?", {
        buttons: [false, true],
      });
    },
  
    selectUFile() {
      // console.log("Osama");
      this.loading = true;
      this.filee = this.$refs.filee.files[0];

      console.log(this.filee.name);

      console.log(this.filee, this.loading);
      //Upload cover
      if (this.filee !== "") {
        let formData = new FormData();
        formData.append("file", this.filee);
        console.log(this.filee);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
            var fn = "https://appick.io/u/lessons/" + e.data.myresp[0].filename;
            console.log(fn);
            this.cover = fn;
            this.myObj.iconPath = this.cover;
            //console.log(this.myObj.coverImg);
            this.loading = false;
            console.log(this.loading);
          });
      }
    },

    selectMFile() {
      // console.log("Osama");
      this.loading = true;
      this.mfilee = this.$refs.mfilee.files[0];

      // console.log(this.filee.name);

      //   console.log(this.filee, this.loading );
      //Upload cover
      if (this.filee !== "") {
        let formData = new FormData();
        formData.append("file", this.mfilee);
        console.log(this.mfilee);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
            var fn = "https://appick.io/u/lessons/" + e.data.myresp[0].filename;
            console.log(fn);
            this.more = fn;
            // this.myObj. = this.cover;
            //console.log(this.myObj.coverImg);
            this.loading = false;
            console.log(this.loading);
          });
      }
    },

    LoadData() {
      var axios = require('axios');
  var config = {
    method: 'get',
    url: 'https://dipity.fastech.pk/api/PreviousWinners/',
    headers: {
     
        Authorization:
           this.$store.state.token
    
    }
  };

  axios(config)
  .then( (response) => {
     if (response.data.status === "error") {
     }else{
       this.mySwitche  =  response.data.data[0];
     }
 })
  .catch(function (error) {
     swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
  });

   var config = {
    method: 'get',
    url: 'https://dipity.fastech.pk/api/Winners/GetWinner',
    headers: {
     
        Authorization:
           this.$store.state.token
    
    }
  };

  axios(config)
  .then( (response) => {

      if (response.data.status === "error") {
     }else{
       this.tableData  =  response.data.data;
     }
 })
  .catch(function (error) {
     swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
  });
    },
    resetFormErrors() {
      this.errors.name = false;
    },
    checkServices() {
      if (this.myObj.services !== "") {
        this.errors.services = false;
      } else {
        this.errors.services = "Please enter services";
      }
    },
    checkName() {
      if (this.myObj.name !== "") {
        this.errors.name = false;
      } else {
        this.errors.name = "Please enter name";
      }
    },

    Validate() {
      this.errors.name = false;
      this.errors.description = false;
      this.errors.services = false;
      this.checkName();
      this.checkServices();
      if (this.errors.name !== false || this.errors.services !== false) {
        return this.$notify({
          verticalAlign: "bottom",
          horizontalAlign: "center",
          message: "Error! <br />" + "Please fill the form correctly",
          type: "danger",
          icon: "fa fa-ban",
          timeout: 0,
        });
      } else {
        console.log("Added");
        if (this.myObj.id === 0) {
          //Add
          var url = "https://pexpert.fastech.pk/api/Categories/";

          axios
            .post(url, this.myObj)

            .then((response) => {
              console.log(response);
              if (response.data.status === "error") {
                console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              } else {
                this.errors.name = false;

                this.modals.showModal = false;
                this.LoadData();
                this.cover =
                  "https://appick.io/u/lessons/723f471b-427c-4bf8-a1fd-f01f2ac129e0.png";
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br />New category added",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
              }
            })
            .catch(function (error) {
              console.log(error);
               swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
              // this.$notify({
              //   verticalAlign: "bottom",
              //   horizontalAlign: "center",
              //   message:
              //     "Request Error! <br />Request cannot be processed at the moment.",
              //   type: "danger",
              //   icon: "fa fa-ban",
              //   timeout: 0,
              // });
            })
            .finally(() => {
              this.sign = "fas fa-user-plus";
              this.saving = false;
              this.optionName = "Add";
            });
        } else {
          //Edit

          var url =
            "https://pexpert.fastech.pk/api/Categories/" + this.myObj.id;
          console.log(url);
          axios({
            method: "put",
            url: url,
            data: this.myObj,
            validateStatus: (status) => {
              return true;
            },
          })
            .catch((error) => {
               swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
            })
            .then((response) => {
              if (response.data.status === "error") {
                console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              } else {
                this.modals.showModal = false;
                this.LoadData();
                this.cover =
                  "https://appick.io/u/lessons/723f471b-427c-4bf8-a1fd-f01f2ac129e0.png";
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Category updated",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
              }
            })
            .finally(() => {
              this.sign = "far fa-edit";
              this.saving = false;
              this.optionName = "Edit";
            });
        }
      }
    },
    date: function (date) {
      return moment(date).format("MMMM Do YYYY, h:mm:ss a");
    },

    GetError() {
      return this.nameError;
      return this.prefixError;
    },
  
   
  handleDelete(index, row) {
      swal({
        title: "Are you sure?",
        text: "You want to delete" +  " "  + row.title + "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          var axios = require("axios");

          var config = {
            method: "delete",
            url: `https://dipity.fastech.pk/api/Winners/${row.id}`,
             headers: {
     
        Authorization:
           this.$store.state.token
    
    },
          };

          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
              if (response.data.status === "success") {
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message:
                    'Saved! <br />Inquiry of " ' +  " " + row.title + '" removed.',
                  type: "danger",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
                this.LoadData();
              }
              else if(response.data.status === "notallowed")
              {

        swal({
        title: "Not Allowed !",
        text: "You cannot delete this property it has relative data!",
        type: "warning",
        showCancelButton: false,
        confirmButtonClass: "btn btn-primary btn-fill",
        confirmButtonText: "Ok",
        buttonsStyling: false,
      })

                  this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message:
                    'You cannot delete this property it has relative data.!',
                  type: "warning",
                  icon: "fa fa-warning",
                  timeout: this.$store.state.timeout,
                });

              }
            })
            .catch(function (error) {
               swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
            });

          //  var url = "http://pexpert.fastech.pk/api/Categories/"+ row.id;
          //   console.log(url);
          //    axios({
          //     method: "delete",
          //     url: url,

          //   }).then((response) => {

          //       console.log(response.status);
          //       console.log("Osama");

          //   })

          //   this.$notify({
          //     verticalAlign: "bottom",
          //     horizontalAlign: "center",
          //     message: 'Saved! <br />Inquiry of "' + row.name + '" removed.',
          //     type: "danger",
          //     icon: "fa fa-check",
          //     timeout: this.$store.state.timeout,
          //   });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}
</style>
