<template>
  <div class="content">
    <base-header class="pb-6" style="background-color: #00c192">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Raffle</h6>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
         <modal
        :show.sync="modals.showModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
           <div class="mb-2" style="font-size: 18px; text-align: center">
               Winner
           </div>
            <div class="mb-2" style="font-size: 18px; text-align: center">
               is
           </div>
           
           <div style="font-size: 50px; font-weight: 600; text-align: center"> 
                {{this.member.keyring}}
           </div>
         
            <div v-if="winnerSelected == true" class="my-3" style="text-align: center">
               <h5>Name: <b>{{this.member.name}}</b></h5>
               <h5>Email: <b>{{this.member.email}}</b></h5>
            </div>
              <div class="my-4" style="text-align: center" v-if="winnerSelected == true" >
                <base-button
                   @click="contactWinner()"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                  >
                    <span class="text-white">Contact winner</span>
                </base-button>
            </div>
          </template>
        </card>
      </modal>
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <div class="container-fluid">
          </div>

          <div class="mt-4">
                      <el-table
              :data="tableData.data"
              class="table-responsive table-flush"
              row-key="id"
              header-row-class-name="thead-light"
              @sort-change="sortChange"
              @selection-change="selectionChange"
            >
              <el-table-column
               
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              >
              </el-table-column>
              <el-table-column min-width="270px" align="right" label="Options">
                <div slot-scope="{ $index, row }" class="d-flex">
                  <base-button
                    @click="AddModal($index, row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                    :disabled="row.sequence"
                  >
                    <span class="text-white">Choose Winner</span>
                  </base-button>
                  <!-- <el-tooltip placement="right" content="Trash">
                    <base-button
                      @click.native="handleDelete($index, row)"
                      class="remove btn-link"
                      type="danger"
                      size="sm"
                      icon
                    >
                      <i class="text-white far fa-trash-alt"></i>
                    </base-button>
                  </el-tooltip> -->
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="
              col-12
              d-flex
              justify-content-center justify-content-sm-between
              flex-wrap
            "
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "../Tables/users2";
import axios from "axios";
import qs from "qs";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import moment from "moment";
import Multiselect from "vue-multiselect";
import Uploader from "vux-uploader-component";
import downloadexcel from "vue-json-excel";

export default {
  mixins: [clientPaginationMixin],
  components: {
    Multiselect,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    flatPicker,
    Uploader,
    downloadexcel,
  },
  created() {
     this.Authenticator();
    this.LoadData();
    //  console.log("total keyrings");
            // // this.percentageSold[0] = 0.0;
            // // console.log(this.tableData.data[1]['keyringsRequired']);
            // for(var i=0; i<this.tableData.data.length; i++){
            //     // var keyringReq = parseFloat(this.tableData.data[i]['keyringsRequired']);
            //     console.log(i);
            //     // var keyringsold = parseFloat(this.tableData.data[i]['keyringsSold'] );
            //     // this.percentageSold[i]=(0/567);
            //     // this.percentageSold[i] = (parseInt(this.tableData.data[i]['keyringsSold'] ))/(parseInt(this.tableData.data[i]['keyringsRequired']));
            //     // console.log(this.percentageSold[i]);
            // }
  },
  mounted() {
    // window.setTimeout(function(){
      
        // }
        // },9000);
      
  },
  data() {
    return {
      winnerSelected: false,
      tableData: [],
      tabelNames: [],
      tabledes: [],
      intervals: "",
      winner: "",
      member: "",
      showWinnerDetails: false,
      percentageSold: [],
    //   cover:
    //     "https://appick.io/u/lessons/723f471b-427c-4bf8-a1fd-f01f2ac129e0.png",
    //   more: "https://appick.io/u/lessons/64a03015-aaab-44a2-85c7-fc83ad9417b7.png",
    //   mfilee: "",
      loading: false,
    //   filee: "",
    //   fileList: [],
      errors: {
        title: false,
        description: false,
        services: false,
      },
      priority: "",
      obj: {
        id: 0,
        title: "",
        shortescription: "",
        image: "",
        sequence: 0,
        text: "",
      },
      myObj: {
        id: 0,
        name: "",
        keyringsRequired: "",
        keyringsSold: "",
        
      },

      propsToSearch: ["name"],
      tableColumns: [
        {
          prop: "name",
          label: "Name",
          sortable: true,
           minWidth: 190,
        },
         {
          prop: "keyringsRequired",
          label: "Keyrings Required",
          sortable: true,
          minWidth: 260,
        },
        {
          prop: "keyringsSold",
          label: "Keyrings Sold",
          sortable: true,
          minWidth: 170,
        },
        {
          prop: "percentageSold",
          label: "Percentage sold",
          sortable: true,
          minWidth: 170,
        },
      ],

     
      selectedRows: [],
     
      optionName: "Add",
      saving: false,
      title: "",
      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "",
      modals: {
        showModal: false,
      },
      winners: [
         {name: "Moin", email: "moin@example.com", keyring: "6gd7a3dk"},
         {name: "Zohan", email: "zohan@example.com", keyring: "8vlw5qp4"},
         {name: "Shayan", email: "shayan@example.com", keyring: "as1df0gh"},
      ]
    };
  },

  methods: {
    Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
    },
    LoadData() {
      var url = "https://dipity.fastech.pk/api/Properties/All";
      axios
        .get(url, {
          headers :{
            
        Authorization:
           this.$store.state.token
    
          }
        })
        .then((response) => {
          if (response.data.status === "error") {
          } else {
            this.tableData = response.data;
             for(var i=0; i<this.tableData.data.length; i++){
                 var myData = ((parseFloat(this.tableData.data[i]['keyringsSold'])/parseFloat(this.tableData.data[i]['keyringsRequired']))*100).toFixed(2) + '%'
                this.tableData.data[i]['percentageSold']= myData;
                // console.log(parseFloat(this.tableData.data[i]['percentageSold']));
            }
          }
        })
        .catch(function (error) {
           swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
    },
    contactWinner(){
    //    navigate to email page
    },
    
    AddModal(row){
        console.log(row);
      this.modals.showModal = true;
      this.winnerSelected = false;
    
    //   this.myObj.id= row.id;
    //   this.myObj.name= row.name;
    
    //   

        setInterval(function(){
            console.log(this.winnerSelected)
              if(!this.winnerSelected)
                    this.member = this.winners[Math.floor(Math.random() * this.winners.length)]
        }.bind(this), 100)


        setTimeout(() => {
            this.winnerSelected = true;
             console.log("chnage now", this.winnerSelected)
        }, 5000);
     
    

    },
    handleDelete(index, row) {
      swal({
        title: "Are you sure?",
        text: "You want to delete " + row.title + "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          var axios = require("axios");
          var config = {
            method: "delete",
            url: `https://dipity.fastech.pk/api/Charities/${row.id}`,
            headers: {
              
        Authorization:
           this.$store.state.token
    
            },
          };
          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
              if (response.data.status === "success") {
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message:
                    'Saved! <br />Inquiry of "' + row.title + '" removed.',
                  type: "danger",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
                this.LoadData();
              }
            })
            .catch(function (error) {
              console.log(error);
               swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
            });
          //  var url = "http://pexpert.fastech.pk/api/Categories/"+ row.id;
          //   console.log(url);
          //    axios({
          //     method: "delete",
          //     url: url,
          //   }).then((response) => {
          //       console.log(response.status);
          //       console.log("Osama");
          //   })
          //   this.$notify({
          //     verticalAlign: "bottom",
          //     horizontalAlign: "center",
          //     message: 'Saved! <br />Inquiry of "' + row.name + '" removed.',
          //     type: "danger",
          //     icon: "fa fa-check",
          //     timeout: this.$store.state.timeout,
          //   });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}

/* 
    Charity-> Title, description -> 10-12 lines ,  btns -> mark as hero Charity, edit, delete
      
*/
</style>
