<template>
  <div class="content">
    <base-header class="pb-6" style="background-color: #00c192">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Manage Reports</h6>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <modal
        :show.sync="modals.showModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <form role="form" class="mb--4">
              <div class="form-group row mb--2">
                <label class="col-md-3 col-form-label form-control-label"
                  >Select Date</label
                >
                <div class="col-md-9">
                  <base-input addon-left-icon="ni ni-calendar-grid-58">
                    <flat-picker
                      slot-scope="{ focus, blur }"
                      @on-open="focus"
                      @on-close="blur"
                      :config="{ allowInput: true, mode: 'range' }"
                      class="form-control datepicker"
                      v-model="myObj.date"
                    >
                    </flat-picker>
                  </base-input>
                </div>
              </div>

              <div class="form-group row mt-4">
                <label class="col-md-3 col-form-label form-control-label"
                  >Type</label
                >
                <div class="col-md-9">
                  <base-input>
                    <el-select
                      v-model="selects.simple"
                      filterable
                      placeholder="Simple Properties"
                    >
                      <el-option
                        v-for="option in selectOptions"
                        :key="option.label"
                        :label="option.label"
                        :value="option.value"
                      >
                      </el-option>
                    </el-select>
                  </base-input>
                </div>
              </div>
              <div style="margin-top: 10px">
                <base-button
                  :disabled="saving"
                  @click="Validate()"
                  type="danger"
                  class="col"
                >
                  <i v-bind:class="sign"></i> Close
                </base-button>
              </div>
            </form>
          </template>
        </card>
      </modal>
      <div>
        <card
          class="no-border-card pb-4"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-auto col-sm-6 col-6">
                <base-button
                  icon
                  type="success"
                  size="md"
                  style="background-color: #00c192"
                  @click="AddModal()"
                >
                  <span class="btn-inner--icon"
                    ><i class="fas fa-plus"></i
                  ></span>
                  <span class="btn-inner--text">Add Property</span>
                </base-button>
              </div>
            </div>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";

import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import moment from "moment";
import Multiselect from "vue-multiselect";
import Uploader from "vux-uploader-component";
import downloadexcel from "vue-json-excel";

export default {
  mixins: [clientPaginationMixin],
  components: {
    Multiselect,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    flatPicker,
    Uploader,
    downloadexcel,
  },
  created() {
    this.Authenticator();
    this.LoadData();
  },
  mounted() {},
  data() {
    return {
      errors: {},
      myObj: {
        date: null,
      },
      modals: {
        showModal: true,
      },
      selectOptions: [
        {
          label: "Properity 1",
          value: "Properity 1",
        },
        {
          label: "Properity 2",
          value: "Properity 2",
        },
        {
          label: "Properity 3",
          value: "Properity 3",
        },
      ],
      selects: {
        simple: "",
      },
    };
  },

  methods: {
    Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
    },
    AddModal() {
      this.modals.showModal = true;
    },
    Validate() {
      this.modals.showModal = false;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}
</style>
