<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Update Settings</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
    
       <!-- Hero banner -->
       <modal
        :show.sync="modals.showCostModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <form role="form" class="mb--4">
              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Banner</label
                >
                <div class="col-md-8">
                  <base-input>
                    <input 
                      type="file"
                      class="form-control"
                      accept="*"
                      ref="mfilee"
                      @change="selectMFile()"
                    />
                  </base-input>
                 
                  <base-progress
                    show-label
                    type="info"
                    :height="8"
                    v-if="progress"
                    :striped="true"
                    :showLabel="loading"
                    label="File uploaded"
                    :value="uploadPercentage"
                  ></base-progress>
                </div>
              </div>
               <template>
                        <div v-if= "errors.image != '' && this.obj.media =='' " style="color:red"
                          v-bind:error="errors.image"> {{errors.image}}</div>
                          <div v-else
                          > </div>
                      </template>
                  <img
                      v-if="obj.media.length !=0" :src="this.obj.media"
                      style="width: 15vw; height: 11vw; justify-content: center; object-fit: cover;"
                      
                      alt="imgAdd"
                    />
              <p class="mt-1 text-muted"  style="font-size: 12px"> Recommended pixels 1920px x 1200px.</p>
              <div style="margin-top: 10px">
                <base-button
                  :disabled="saving"
                  @click="updateHeroBanner()"
                  style="background-color: #00c192"
                  type="success"
                  class="col mt-3"
                >
                  <i v-bind:class="sign"></i> Update Section</base-button
                >
              </div>
            </form>
          </template>
        </card>
      </modal>
      <!-- Property hero banner -->
      <modal
        :show.sync="modals.showModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-lg"
        width="500"
        ref="modalProperty"
        
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
          :key="componentKey"
          
        >
          <template>
            <form role="form">
              <form role="form" class="mb--4">
                <div class="form-group row mb--2">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Title</label
                  >
                  <div class="col-md-8 mb-4">
                     <textarea
                        v-model="myObj.title"
                        class="form-control"
                        placeholder="Enter title here."
                        rows="6"
                      >
                      </textarea>
                      <h6 style="font-size: 12px"><b>Hint:</b> Type "\n" to enter new line</h6>
                      <!-- <ejs-richtexteditor
                        ref="rteRef"
                        :height="180"
                        v-model="myObj.title"
                        placeholder="Enter title here."
                        :pasteCleanupSettings="pasteCleanupSettings"
                        :toolbarSettings="toolbarSettings"
                      >
                      </ejs-richtexteditor> -->
                    <!-- <base-input
                      id="title"
                      placeholder="Enter hero banner title here."
                      v-model="myObj.title"
                      v-bind:error="errors.title"
                    >
                    </base-input> -->
                  </div>
                </div>

                <div class="form-group row mb--2">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Description</label
                  >
                  <div class="col-md-8"  >
                    <base-input v-bind:error="errors.description">
                      <textarea
                        v-model="myObj.text"
                        @focusout="checkPropertyDesc()"
                        class="form-control"
                        placeholder="Enter description here."
                        rows="6"
                      >
                      </textarea>
                       <h6 style="font-size: 12px"><b>Hint:</b> Type "\n" to enter new line</h6>
                    </base-input>
                    
                  </div>
                </div>
                 <div class=" mb-2">
                  <div class="row">
                    <label class="col-md-4 col-form-label form-control-label"
                      >Properties</label
                    >
                    <div class="col-md-8" >
                     <multiselect
                    style="margin-bottom: 15px"
                    placeholder="Select property"
                    v-model="collectionData"
                    :options="optionsProperties"
                    :close-on-select="true"
                    :clear-on-select="false"
                    :hide-selected="false"
                    :preserve-search="true"
                    label="name"
                    track-by="id"
                    :preselect-first="true"
                    id="example"
                  >
                  </multiselect>
                 <!-- <template slot="singleLabel" slot-scope="{ option }"><strong>{{ option.name }}</strong> <strong>  {{ option.id }}</strong></template>
                 <pre class="language-json"><code>{{ selected.property_id.name }}</code></pre>
                             <template>
                            <div v-if= "errors.property != '' && this.myObj.property =='' " style="color:red"
                              v-bind:error="errors.property"> {{errors.property}}</div>
                              <div v-else
                              > </div>
                          </template> -->
                        </div>
                      </div>
                </div>

                <div>
                  <div class="row">
                    <label class="col-md-4 col-form-label form-control-label"
                      >Color</label
                    >
                    <!-- color starts -->
                    <div class="col-md-8" >
                      <multiselect
                        v-model="myObj.color"
                        placeholder="Select Color"
                        label=""
                        track-by=""
                        :options="options"
                        :option-height="104"
                        :custom-label="customLabel"
                        :show-labels="false"
                        v-bind:error="errors.color"
                      >
                      
                        <template slot="singleLabel" slot-scope="props"
                          >
                          <div
                          v-bind:style="{ backgroundColor: props.option }"
                        > 
                        <div style="height:30px; width:100px;"> 
                          </div>
                           </div>
                      </template>
                         <template slot="option" slot-scope="props"
                        >  <div
                          v-bind:style="{ backgroundColor: props.option }"
                          
                        > 
                        <div style="height:30px; width:100px;">
                            
                          </div>
                           </div>
                      </template>
                     
                      </multiselect>
                        
                    </div>
                    <!-- colorr ends -->
                  </div>
                </div>

                <div class="form-group row mb--2">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Image</label
                  >
                  <div class="col-md-8 mt-3 ">
                    <img
                      v-if="loading == false"
                       src="https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png"
                      @click="$refs.mfilee.click()"
                      style="width: 5vw; height: 5vw; margin-rights: 40px"
                      alt="imgAdd"
                     class="mr-2"
                    />
                     <i
                      v-if="loading == true"
                      class="fas fa-circle-notch fa-spin fa-2x mr-4 mt-0"
                      style="color: grey; margin-left: 10px"
                    ></i>
                  <img
                      v-if="myObj.image.length !=0" :src="this.myObj.image"
                      style="width: 5vw; height: 5vw; margin-rights: 40px; object-fit: cover;"
                      alt="imgAdd"
                    />
                   
                      <template>
                        <div v-if= "errors.image != '' && this.myObj.image =='' " style="color:red"
                          v-bind:error="errors.image"> {{errors.image}}</div>
                          <div v-else
                          > </div>
                      </template>
                    <label hidden class="btn btn-success">
                      <input
                        type="file"
                        id="mfilee"
                        ref="image"
                        @change="selectMFile()"
                        accept="image/*"
                         v-bind:error="errors.image"
                      />
                    </label>
                  </div>
                  <div class="col-md-4"></div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <small class="text-muted"
                      >  Recommended pixels 1920px x 1200px.</small
                    >
                  </div>
                </div>
              </form>
              <div>
                <base-button
                  @click="Upload()"
                  :disabled="saving"
                  style="background-color: #00c192"
                  type="success"
                  class="col mt-5"
                  ><i v-bind:class="sign"></i> {{ this.optionName }}
                </base-button>
              </div>
            </form>
          </template>
        </card>
      </modal>
      <!-- keyring -->
      <modal
        :show.sync="modals.showKeyringModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-lg"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
          :key="componentKey"
        >
          <template>
            <form role="form">
              <form role="form" class="mb--4">
                <div class="form-group row mb--2">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Title</label
                  >
                  <div class="col-md-8 mb-4">
                     <textarea
                        v-model="myObj.title"
                        class="form-control"
                        placeholder="Enter hero banner title here."
                        rows="6"
                        v-bind:error="errors.title"
                      >
                      </textarea>
                    <h6 style="font-size: 12px"><b>Hint:</b> Type "\n" to enter new line</h6>
                    <!-- <base-input
                      id="title"
                      placeholder="Enter hero banner title here."
                      v-model="myObj.title"
                      v-bind:error="errors.title"
                    >
                    </base-input> -->
                     <!-- <ejs-richtexteditor
                        ref="rteRef"
                        v-model="myObj.title"
                        placeholder="Enter title here."
                        v-bind:error="errors.title"
                        :pasteCleanupSettings="pasteCleanupSettings"
                        :toolbarSettings="toolbarSettings"
                      >
                      </ejs-richtexteditor> -->
                  </div>
                </div>

                <div class="form-group row mb--2">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Short Description</label
                  >
                  <div class="col-md-8"  >
                    <base-input v-bind:error="errors.description">
                      <textarea
                        v-model="myObj.shortDescription"
                        @focusout="checkPropertyDesc()"
                        class="form-control"
                        placeholder="Enter description here."
                        rows="6"
                      >
                      </textarea>
                      <h6 style="font-size: 12px"><b>Hint:</b> Type "\n" to enter new line</h6>
                    </base-input>
                  </div>
                </div>
                <div class="form-group row mb--2">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Price</label
                  >
                  <div class="col-md-8">
                    <base-input
                      id="price"
                      placeholder="Enter keyring price here."
                      v-model="myObj.price"
                      v-bind:error="errors.price"
                    >
                    </base-input>
                  </div>
                </div>
                <div class="form-group row mb--2">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Image</label
                  >
                  <div class="col-md-8 mt-3 ">
                    <img
                       src="https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png"
                      @click="$refs.mfilee.click()"
                      style="width: 5vw; height: 5vw; margin-rights: 40px"
                      alt="imgAdd"
                     class="mr-2"
                    />
                  <img
                      v-if="this.myObj.image != ''" :src="this.myObj.image"
                      style="width: 5vw; height: 5vw; margin-rights: 40px; object-fit: cover;"
                      alt="imgAdd"
                    />
                    <i
                      v-if="loading == true"
                      class="fas fa-circle-notch fa-spin fa-2x"
                      style="color: grey; margin-left: 40px"
                    ></i>
                      <template>
                        <div v-if= "errors.image != '' && this.myObj.image =='' " style="color:red"
                          v-bind:error="errors.image"> {{errors.image}}</div>
                          <div v-else
                          > </div>
                      </template>
                    <label hidden class="btn btn-success">
                      <input
                        type="file"
                        id="mfilee"
                        ref="image"
                        @change="selectMFile()"
                        accept="image/*"
                         v-bind:error="errors.image"
                      />
                    </label>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </form>
              <div>
                <base-button
                  @click="updateKeyRingBanner()"
                  :disabled="saving"
                  style="background-color: #00c192"
                  type="success"
                  class="col mt-5"
                  ><i v-bind:class="sign"></i> {{ this.optionName }}
                </base-button>
              </div>
            </form>
          </template>
        </card>
      </modal>

      <modal
        :show.sync="modals.keyringPriceModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <form role="form">
              <form role="form" class="mb--4">
                <div class="form-group row mb--2">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Price</label
                  >
                  <div class="col-md-8">
                    <base-input
                      id="title"
                      placeholder="Enter keyring price here."
                      v-model="keyObj.price"
                      v-bind:error="errors.price"
                    >
                    </base-input>
                  </div>
                </div>
                
              </form>
              <div>
                <base-button
                  @click="updateKeyringPrice()"
                  :disabled="saving"
                  style="background-color: #00c192"
                  type="success"
                  class="col mt-5"
                  ><i v-bind:class="sign"></i> {{ this.optionName }}
                </base-button>
              </div>
            </form>
          </template>
        </card>
      </modal>
    
       <modal
        :show.sync="modals.showOurStoryModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <form role="form">
              <form role="form" class="mb--4">
                <div class="form-group row mb--2">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Title</label
                  >
                  <div class="col-md-8">
                    <base-input
                      placeholder="Enter our story banner title here."
                      v-model="myObj.title"
                      v-bind:error="errors.title"
                      
                    ></base-input>
                  </div>
                </div>

                <div>
                  <div class="row">
                    <label class="col-md-4 col-form-label form-control-label"
                      >Color</label
                    >
                    
                    <div class="col-md-8">
                      <multiselect
                        v-model="myObj.color"
                        placeholder="Select Color"
                        label=""
                        track-by=""
                        :options="options"
                        :option-height="104"
                        :custom-label="customLabel"
                        :show-labels="false"
                        v-bind:error="errors.color"
                      >
                        <template slot="singleLabel" slot-scope="props"
                          >
                          <div
                          v-bind:style="{ backgroundColor: props.option }"
                          
                        > 
                        <div style="height:30px; width:100px;">
                             
                          </div>
                           </div>
                       
                      </template>
                         <template slot="option" slot-scope="props"
                        >  <div
                          v-bind:style="{ backgroundColor: props.option }"
                          
                        > 
                        <div style="height:30px; width:100px;">
                            
                          </div>
                           </div>
                       
                      </template>
                      </multiselect>
                       <template>
                        <div v-if= "errors.color != false && this.myObj.color =='' " style="color:red"
                          v-bind:error="errors.color"> {{errors.color}}</div>
                          <div v-else
                          > </div>
                      </template>
                    </div>
                    
                  </div>
                </div>

                <div class="form-group row mb--2">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Image</label
                  >
                  <div class="col-md-8 mt-3">
                    <img
                       src="https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png"
                      @click="$refs.mfilee.click()"
                      style="width: 5vw; height: 5vw; margin-rights: 40px"
                      alt="imgAdd"
                     class="mr-2"
                    />
                  <img
                      v-if="myObj.image.length !=0" :src="this.myObj.image"
                      style="width: 5vw; height: 5vw; margin-rights: 40px; object-fit: cover;"
                      alt="imgAdd"
                    />
                    <i
                      v-if="loading == true"
                      class="fas fa-circle-notch fa-spin fa-2x"
                      style="color: grey; margin-left: 40px"
                    ></i>
                     <template>
                        <div v-if= "errors.image != '' && this.myObj.image =='' " style="color:red"
                          v-bind:error="errors.image"> {{errors.image}}</div>
                          <div v-else
                          > </div>
                      </template>
                    <label hidden class="btn btn-success">
                      <input
                        type="file"
                        id="mfilee"
                        ref="image"
                        @change="selectMFile()"
                        accept="image/*"
                      />
                    </label>
                  </div>

                  <div class="col-md-4"></div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <small class="text-muted"
                      >  <small class="text-muted"
                      >  Recommended pixels 1920px x 1200px.</small
                    ></small
                    >
                  </div>
                </div>
              </form>
              <div>
                <base-button
                  @click="UploadOurStoryBanner()"
                  :disabled="saving"
                  style="background-color: #00c192"
                  type="success"
                  class="col mt-5"
                  ><i v-bind:class="sign"></i> {{ this.optionName }}
                </base-button>
              </div>
            </form>
          </template>
        </card>
      </modal>
      <modal
        :show.sync="modals.showOurCharityModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <form role="form">
              <form role="form" class="mb--4">
                <div class="form-group row mb--2">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Title</label
                  >
                  <div class="col-md-8">
                    <base-input
                      placeholder="Enter our charity banner title here."
                      v-model="myObj.title"
                      v-bind:error="errors.title"
                      
                    ></base-input>
                  </div>
                </div>

                <div>
                  <div class="row">
                    <label class="col-md-4 col-form-label form-control-label"
                      >Color</label
                    >
                    
                   <div class="col-md-8">
                      <multiselect
                        v-model="myObj.color"
                        placeholder="Select Color"
                        label=""
                        track-by=""
                        :options="options"
                        :option-height="104"
                        :custom-label="customLabel"
                        :show-labels="false"
                        v-bind:error="errors.color"
                      >
                        <template slot="singleLabel" slot-scope="props"
                          >
                          <div
                          v-bind:style="{ backgroundColor: props.option }"
                          
                        > 
                        <div style="height:30px; width:100px;">
                             
                          </div>
                           </div>
                       
                      </template>
                         <template slot="option" slot-scope="props"
                        >  <div
                          v-bind:style="{ backgroundColor: props.option }"
                          
                        > 
                        <div style="height:30px; width:100px;">
                          </div>
                           </div>
                       
                      </template>
                      </multiselect>
                       <template>
                        <div v-if= "errors.color != false && this.myObj.color =='' " style="color:red"
                          v-bind:error="errors.color"> {{errors.color}}</div>
                          <div v-else
                          > </div>
                      </template>
                    </div>
                    
                  </div>
                </div>

                <div class="form-group row mb--2">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Image</label
                  >
                  <div class="col-md-8 mt-3">
                     <img
                       src="https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png"
                      @click="$refs.mfilee.click()"
                      style="width: 5vw; height: 5vw; margin-rights: 40px"
                      alt="imgAdd"
                     class="mr-2"
                    />
                  <img
                      v-if="myObj.image.length !=0" :src="this.myObj.image"
                      style="width: 5vw; height: 5vw; margin-rights: 40px; object-fit: cover;"
                      alt="imgAdd"
                    />
                    <i
                      v-if="loading == true"
                      class="fas fa-circle-notch fa-spin fa-2x"
                      style="color: grey; margin-left: 40px"
                    ></i>
                    <template>
                        <div v-if= "errors.image != '' && this.myObj.image =='' " style="color:red"
                          v-bind:error="errors.image"> {{errors.image}}</div>
                          <div v-else
                          > </div>
                      </template>
                    <label hidden class="btn btn-success">
                      <input
                        type="file"
                        id="mfilee"
                        ref="image"
                        @change="selectMFileCh()"
                        accept="image/*"
                      />
                    </label>
                  </div>

                  <div class="col-md-4"></div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                      <small class="text-muted"
                      >  Recommended pixels 1920px x 1200px.</small
                    >
                    
                  </div>
                </div>
              </form>
              <div>
                <base-button
                  @click="UploadOurCharityBanner()"
                  :disabled="saving"
                  style="background-color: #00c192"
                  type="success"
                  class="col mt-5"
                  ><i v-bind:class="sign"></i> {{ this.optionName }}
                </base-button>
              </div>
            </form>
          </template>
        </card>
      </modal>
      <modal
        :show.sync="modals.showHomeOwnersModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-lg"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
          :key="componentKey"
        >
          <template>
            <form role="form">
              <form role="form" class="mb--4">
                <div class="form-group row mb--2">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Title</label
                  >
                  <div class="col-md-8 mb-4">
                       <textarea
                        v-model="myObj.title"
                        class="form-control"
                        placeholder="Enter title here."
                        rows="6"
                        v-bind:error="errors.title"
                      >
                      </textarea>
                    <h6 style="font-size: 12px"><b>Hint:</b> Type "\n" to enter new line</h6>

                    <!-- <h6 style="font-size: 12px"><b>Hint:</b> Type "\n" to enter new line</h6> -->
                      <!-- <ejs-richtexteditor
                        ref="rteRef"
                        v-model="myObj.title"
                        placeholder="Enter title here."
                         v-bind:error="errors.title"
                         :pasteCleanupSettings="pasteCleanupSettings"
                         :toolbarSettings="toolbarSettings"
                      >
                      </ejs-richtexteditor> -->
                  </div>
                </div>

                <div class="form-group row mb--2">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Description</label
                  >
                  <div class="col-md-8">
                    <base-input v-bind:error="errors.description">
                      <textarea
                        v-model="myObj.text"
                        @focusout="checkDesc()"
                        class="form-control"
                        placeholder="Enter description here."
                        rows="6"
                      >
                      </textarea>
                    <h6 style="font-size: 12px"><b>Hint:</b> Type "\n" to enter new line</h6>

                    </base-input>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label class="col-md-4 col-form-label form-control-label"
                      >Color</label
                    >
                    
                    <div class="col-md-8">
                      <multiselect
                        v-model="myObj.color"
                        placeholder="Select Color"
                        label=""
                        track-by=""
                        :options="options"
                        :option-height="104"
                        :custom-label="customLabel"
                        :show-labels="false"
                        v-bind:error="errors.color"
                      >
                        <template slot="singleLabel" slot-scope="props"
                          >
                          <div
                          v-bind:style="{ backgroundColor: props.option }"
                          
                        > 
                        <div style="height:30px; width:100px;">
                             
                          </div>
                           </div>
                       
                      </template>
                         <template slot="option" slot-scope="props"
                        >  <div
                          v-bind:style="{ backgroundColor: props.option }"
                          
                        > 
                        <div style="height:30px; width:100px;">
                            
                          </div>
                           </div>
                       
                      </template>
                      </multiselect>
                       <template>
                        <div v-if= "errors.color != false && this.myObj.color =='' " style="color:red"
                          v-bind:error="errors.color"> {{errors.color}}</div>
                          <div v-else
                          > </div>
                      </template>
                    </div>
                    
                  </div>
                </div>

                <div class="form-group row mb--2">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Image</label
                  >
                  <div class="col-md-8 mt-3">
                    <img
                       src="https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png"
                      @click="$refs.mfilee.click()"
                      style="width: 5vw; height: 5vw; margin-rights: 40px"
                      alt="imgAdd"
                     class="mr-2"
                    />
                  <img
                      v-if="myObj.image.length !=0" :src="this.myObj.image"
                      style="width: 5vw; height: 5vw; margin-rights: 40px; object-fit: cover;"
                      alt="imgAdd"
                    />
                    <i
                      v-if="loading == true"
                      class="fas fa-circle-notch fa-spin fa-2x"
                      style="color: grey; margin-left: 40px"
                    ></i>
                      <template>
                        <div v-if= "errors.image != '' && this.myObj.image =='' " style="color:red"
                          v-bind:error="errors.image"> {{errors.image}}</div>
                          <div v-else
                          > </div>
                      </template>
                    <label hidden class="btn btn-success">
                      <input
                        type="file"
                        id="mfilee"
                        ref="image"
                        @change="selectMFile()"
                        accept="image/*"
                      />
                    </label>
                  </div>

                  <div class="col-md-4"></div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <small class="text-muted"
                      >  Recommended pixels 1920px x 1200px.</small
                    >
                  </div>
                </div>
              </form>
              <div>
                <base-button
                  @click="UploadHomeOwnerBanner()"
                  :disabled="saving"
                  style="background-color: #00c192"
                  type="success"
                  class="col mt-5"
                  ><i v-bind:class="sign"></i> {{ this.optionName }}
                </base-button>
              </div>
            </form>
          </template>
        </card>
      </modal>
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <div class="row justify-content-sm-center">
              <div class="mr-1">
               
                 <base-button
                  icon
                  style="background-color: #00c192"
                  type="success"
                  @click="AddCostModal()"
                >
                  <span class="btn-inner--icon"
                    ><i class="fas fa-edit"></i
                  ></span>
                  <span class="btn-inner--text">Hero Banner</span>
                </base-button>
              </div>
              <div>
                <base-button
                  icon
                  style="background-color: #00c192"
                  type="success"
                  @click="AddModal()"
                >
                  <!-- :disabled="isLoading" -->
                  <span class="btn-inner--icon"
                    ><i class="fas fa-edit"></i
                  ></span>
                  <span class="btn-inner--text">Hero Property</span>
                </base-button>
              </div>
                <div class="ml-1">
                <base-button
                  icon
                  style="background-color: #00c192"
                  type="success"
                  @click="AddkeyRringModal()"
                >
                  <!-- :disabled="isLoading" -->
                  <span class="btn-inner--icon"
                    ><i class="fas fa-edit"></i
                  ></span>
                  <span class="btn-inner--text">Keyring Banner</span>
                </base-button>
                </div>
              
               <div class="mr-1">
                <base-button
                  icon
                  style="background-color: #00c192"
                  type="success"
                  @click="AddOurStoryModal()"
                >
                  <span class="btn-inner--icon"
                    ><i class="fas fa-edit"></i
                  ></span>
                  <span class="btn-inner--text">Our Story Banner</span>
                </base-button>
                </div>
                <div class="mr-1">
                  <base-button
                  icon
                  style="background-color: #00c192"
                  type="success"
                  @click="AddOurCharityModal()"
                >
                  <span class="btn-inner--icon"
                    ><i class="fas fa-edit"></i
                  ></span>
                  <span class="btn-inner--text">Charity Banner</span>
                </base-button>
                </div>
               <div>
    <base-button
                  icon
                  style="background-color: #00c192"
                  type="success"
                  @click="AddHomeOwnerModal()"
                >
                  <span class="btn-inner--icon"
                    ><i class="fas fa-edit"></i
                  ></span>
                  <span class="btn-inner--text">Home Owner Banner</span>
                </base-button> 
               </div>
            
               </div>
            
               
              
            
          </template>
          <div>
            <div
              class="
                col-12
                d-flex
                justify-content-center justify-content-sm-between
                flex-wrap
              "
            >
              <div style="margin-bottom: 5px"></div>

              <el-select
                hidden
                class="select-primary pagination-select"
                v-model="pagination.perPage"
                placeholder="Per page"
              >
                <el-option
                  class="select-primary pull-right"
                  v-for="item in pagination.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>

              <div></div>
            </div>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";

import axios from "axios";
import qs from "qs";
import Vue from "vue";
import DropzoneFileUpload from "@/components/Inputs/DropzoneFileUpload";
import Uploader from "vux-uploader-component";

// import users from "../Tables/users2";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
// import moment from "moment";
import Multiselect from "vue-multiselect";
// import BaseInput from "../../components/Inputs/BaseInput.vue";
import { required, minLength, helpers} from "vuelidate/lib/validators";
import { bus } from "@/main";
import {
  RichTextEditorPlugin,
  Toolbar,
  Link,
  Image,
  Count,
  HtmlEditor,
  QuickToolbar,
  PasteCleanup
} from "@syncfusion/ej2-vue-richtexteditor";
// import Rte from "./rte";
Vue.use(RichTextEditorPlugin);
export default {
  mixins: [clientPaginationMixin],
  components: {
    BasePagination,
    RouteBreadCrumb,
    DropzoneFileUpload,
    flatPicker,
    Uploader,
    Multiselect,

    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  created() {
     this.Authenticator();
    this.LoadHeroPropertyData();
    this.LoadHeroBannerData();
    this.LoadStoryBannerData();
    this.LoadCharityBannerData();
    this.LoadHomeOwnerBannerData();
    this.LoadProperties();
    this.LoadKeyringPrice();
    this.LoadKeyRingData();
  },
  data() {
    return {
      componentKey: 0,
      switches: {
        off: false,
        on: true,
      },
      progress: false,
      update: false,
      cover:
        "https://appick.io/u/lessons/64a03015-aaab-44a2-85c7-fc83ad9417b7.png",
      loading: false,
      myObj: {
        id: 1,
        title: "",
        image: "",
        text: "",
        propertyId: 0,
        color: "",
        price: 0,
        shortDescription: "",
       
      },
      keyObj:
      {
        id:0,
        price:0
      },
      heroProperty: {},
      heroBanner: {},
      storyBanner: {},
      charityBanner: {},
      HomeOwnerBanner: {},
      myCostObj: {},
      propsToSearch: ["batch"],
      tableColumns: [
        {
          type: "selection",
        },
        {
          prop: "title",
          label: "Banner title",
          minWidth: 800,
          sortable: true,
        },
        {
          prop: "buttonText",
          label: "Button Text",
          minWidth: 800,
          sortable: true,
        },
      ],
     
      tableData: [],
      selectedRows: [],
      // properties: [],
      collectionData: [],
      optionsProperties: [],
      modals: {
        showModal: false,
        showCostModal: false,
        showKeyringModal: false,
        showOurStoryModal: false,
        showOurCharityModal: false,
        showHomeOwnersModal: false,
        keyringPriceModal: false,

      },
      optionName: "Update Banner",
      file: "",
      name: "",
      image: "",
      uploadPercentage: 0,
      obj: {
        id: 1,
        media: "",
      },
      errors: {
        title: false,
        description: false,
        color: false,
        image: false,
        propertyID: false,
        price:false,
        detailDescription: false,
      },

      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "fas fa-user-plus",
      shouldAdd: true,
      saving: false,
      eIndex: 0,
      value: {},

       options: [  
        "#87EFFF", "#FF6700", "#FF0023", "#1F249B", "#009A56", "#FFB435",
      ],
      toolbarSettings: {
            type: 'Expand',
            items: ['Bold', 'Italic', 'Underline', 'StrikeThrough',
            'FontName', 'FontSize', 'FontColor', 'BackgroundColor',
            'LowerCase', 'UpperCase', '|',
            'Formats', 'Alignments', 'OrderedList', 'UnorderedList',
            'Outdent', 'Indent', '|',
            'CreateLink', 'Image', '|', 'ClearFormat', 'Print',
            'SourceCode', 'FullScreen', '|', 'Undo', 'Redo'
        ]
        },
       pasteCleanupSettings: {
            // prompt: true,
            plainText: true,
            keepFormat: false,
            // deniedTags: ['a'],
            // deniedAttrs: ['class', 'title', 'id'],
            allowedStyleProps: ['color', 'margin', 'font-size', 'font-weight']
        }
    };
  },
   provide: {
    richtexteditor: [Toolbar, Link, Image, Count, HtmlEditor, QuickToolbar, PasteCleanup],
  },
  
  mounted(){
    this.LoadProperties();
  },
  methods: {
    Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
    },
    forceRerender() {
      this.componentKey += 1;  
    },
     isValid() {
       var regexName = /^[a-zA-Z ]{3,30}$/;
       var isValidName = regexName.test(this.myObj.title);
       return isValidName;
      },
    customLabel({ title, desc }) {
      return `${title} – ${desc}`;
    },
    selectMFile() {
      // console.log("Osama");
     
      this.progress = true;
      this.mfilee = this.$refs.mfilee.files[0];
      console.log("file");
      console.log(this.mfilee);
      //   console.log(this.filee, this.loading );
      //Upload cover
      if (this.mfilee !== "") {
        let formData = new FormData();
        formData.append("file", this.mfilee);
        console.log(this.mfilee);
        //this.loading = true;
        if(this.mfilee.value == null || this.mfilee.value == ""){
           this.loading = false;
            console.log(this.loading);
        }
         this.loading = true;
            console.log(this.loading);
        axios

          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
            onUploadProgress: function (progressEvent) {
              this.uploadPercentage = parseInt(
                Math.round((progressEvent.loaded / progressEvent.total) * 100)
              );
            }.bind(this),
          })
          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
            var fn = e.data.myresp[0].path;
            console.log(fn);
            this.myObj.image = fn;
            this.obj.media = fn;
             this.loading = false;
            console.log(this.loading);
            //this.myObj.media = this.cover;
            //console.log(this.myObj.coverImg);
           
          })
          .catch(function () {
            console.log("FAILURE!!");
            
          });
      }
    },
     LoadKeyringPrice()
     {
       var url = "https://dipity.fastech.pk/api/KeyringPrice";
      axios
        .get(url, {
          headers: {
          
        Authorization:
           this.$store.state.token
    
          }
        })
        .then((response) => {
          if (response.data.status === "success") 
          {
            this.keyObj = response.data.data[0];
            console.log(this.keyObj);
          } 
          else {
          
          }
        })
        .catch(function (error) {
           swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
          
        });
    },
    LoadProperties(){
       var url = "https://dipity.fastech.pk/api/Properties/All";
      axios
        .get(url, {
          headers: {
          
        Authorization:
           this.$store.state.token
    
          }
        })
        .then((response) => {
          if (response.data.status === "error") {
          } else {
            this.optionsProperties = response.data.data;
            console.log(this.optionsProperties);
          }
        })
        .catch(function (error) {
           swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
    },
    LoadHeroPropertyData() {
      var url = "https://dipity.fastech.pk/api/PropertyHeroBanners";
      axios
        .get(url, {
          headers: {
           
        Authorization:
           this.$store.state.token
    
          }
        })
        .then((response) => {
          if (response.data.status === "error") {
          } else {
            this.heroProperty={};
            this.heroProperty = response.data;          
            // console.log(this.heroProperty.data[0]['title']);
          }
        })
        .catch(function (error) {
            swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
    },
    LoadHeroBannerData(){
      var url = "https://dipity.fastech.pk/api/HeroBanners";
      axios
        .get(url, {
          headers: {
            
        Authorization:
           this.$store.state.token
    
          }
        })
        .then((response) => {
          
          if (response.data.status === "error") {
          } else {
            this.heroBanner={};
            this.heroBanner = response.data;
            // console.log(this.heroBanner.data[0]['media']);
          }
        })
        .catch(function (error) {
           swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
    },
      LoadKeyRingData() {
      var url = "https://dipity.fastech.pk/api/Keyrings/";
      axios
        .get(url, {
          headers: {
            
        Authorization:
           this.$store.state.token
    
          }
        })
        .then((response) => {
          
          if (response.data.status === "error") {
          } else {
            this.keyRing={};
            this.keyRing = response.data;          
            // console.log(this.heroProperty.data[0]['title']);
          }
        })
        .catch(function (error) {
            swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
    },
    LoadStoryBannerData(){
      var url = "https://dipity.fastech.pk/api/OurStoryBanners";
      axios
        .get(url, {
          headers: {
           
        Authorization:
           this.$store.state.token
    
          }
          
        })
        .then((response) => {
          if (response.data.status === "error") {
          } else {
           
            this.storyBanner={};
            this.storyBanner = response.data;
            // console.log(this.storyBanner.data[0]['title']);
          }
        })
        .catch(function (error) {
           swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
    },
    LoadCharityBannerData(){
      var url = "https://dipity.fastech.pk/api/OurCharityBanners/";
      axios
        .get(url, {
          headers: {
            
        Authorization:
           this.$store.state.token
    
          }
        })
        .then((response) => {
            
          if (response.data.status === "error") {
          } else {
            this.charityBanner={};
            this.charityBanner = response.data;
            // console.log(this.charityBanner.data[0]['title']);
          }
        })
        .catch(function (error) {
           swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
    },
    LoadHomeOwnerBannerData(){
      var url = "https://dipity.fastech.pk/api/HomeOwners";
      axios
        .get(url, {
          headers: {
             
        Authorization:
           this.$store.state.token
    
          }
        })
        .then((response) => {
            
          if (response.data.status === "error") {
          } else {
            this.homeOwnerBanner={};
            this.homeOwnerBanner = response.data;
            // console.log(response.status);
            // console.log(this.homeOwnerBanner.data[0]['title']);
          }
        })
        .catch(function (error) {
           swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
    },
    Upload() {
      //console.log.log("File:", this.file);
      this.optionName = "Uploading...";
      if (this.file !== "") {
        let formData = new FormData();
        formData.append("file", this.file);
        //console.log.log(this.file);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            //console.log.log(e.data);
            // this.file = undefined;
            var fn = "https://appick.io/u/lessons/" + e.data.myresp[0].filename;
            this.myObj.image = fn;
            this.updateBanner();
          }).catch(function (error){
             swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
          });
      } else {
        this.updateBanner();
      }
    },
    AddCostSettings() {
      //Add
      var url = "https://dipity.fastech.pk/api/HeroBanners/" + this.myObj.id.toString();
      axios
        .put(url, this.myCostObj, {
          headers: {
           
        Authorization:
           this.$store.state.token
    
          }
        })
        .then((response) => {
          //console.log.log(response);
          if (response.data.status === "error") {
            //console.log.log("Error saving: ", response.data);
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Request Error! <br />" + response.data.data,
              type: "danger",
              icon: "fa fa-ban",
              timeout: 0,
            });
          } else {
            this.modals.showCostModal = false;
            // this.LoadData();
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Saved! <br />New Setting Updated",
              type: "success",
              icon: "fa fa-check",
              timeout: this.$store.state.timeout,
            });
          }
        })
        .catch(function (error) {
          swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        })
        .finally(() => {
          this.sign = "fas fa-user-plus";
          this.saving = false;
          this.optionName = "Add";
        });
    },
    
     UploadOurStoryBanner() {
       
       this.loading= false;
      // console.log.log("File:", this.file);
      this.optionName = "Uploading...";
      if (this.file !== "") {
        let formData = new FormData();
        formData.append("file", this.file);
        // console.log(this.file);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            //console.log.log(e.data);
            // this.file = undefined;
            var fn = "https://appick.io/u/lessons/" + e.data.myresp[0].filename;
            this.myObj.image = fn;
            
            this.updateOurStoryBanner();
          }).catch(function (error) {
          swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
      } else {
        this.updateOurStoryBanner();
      }
    },
     UploadOurCharityBanner() {
      //console.log.log("File:", this.file);
      this.optionName = "Uploading...";
      if (this.file !== "") {
        let formData = new FormData();
        formData.append("file", this.file);
        //console.log.log(this.file);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            var fn = "https://appick.io/u/lessons/" + e.data.myresp[0].filename;
            this.myObj.image = fn;
            this.updateOurCharityBanner();
          }).catch(function (error) {
          swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
      } else {
        this.updateOurCharityBanner();
      }
    },
     UploadHomeOwnerBanner() {
      //console.log.log("File:", this.file);
      this.optionName = "Uploading...";
      if (this.file !== "") {
        let formData = new FormData();
        formData.append("file", this.file);
        //console.log.log(this.file);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            var fn = "https://appick.io/u/lessons/" + e.data.myresp[0].filename;
            this.myObj.image = fn;
            this.updateHomeOwnerBanner();
          }).catch(function (error) {
           swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
      } else {
        this.updateHomeOwnerBanner();
      }
    },
    UploadKeyringBanner() {
      //console.log.log("File:", this.file);
      this.optionName = "Uploading...";
      if (this.file !== "") {
        let formData = new FormData();
        formData.append("file", this.file);
        //console.log.log(this.file);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            var fn = "https://appick.io/u/lessons/" + e.data.myresp[0].filename;
            this.myObj.image = fn;
            this.updateKeyRingBanner();
          }).catch(function (error) {
           swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
      } else {
        this.updateKeyRingBanner();
      }
    },
    updateBanner() {
      
      if (this.myObj.title.length === 0) {
        this.errors.title = "Please enter title of the banner";
        this.optionName = "Update Banner"
      }else if(this.myObj.text.length === 0 ){
        this.errors.description = "Please enter description of banner";
         this.optionName = "Update Banner"
      }else if(this.myObj.text.length > 280 ){
        this.errors.description = "Description length must not exceet 280 characters length";
         this.optionName = "Update Banner"
          }else if(this.myObj.color.length === 0 || this.myObj.color === null ){
        this.errors.color = "Please select a color of banner";
         this.optionName = "Update Banner"
           }else if(this.myObj.image.length === 0 ){
        this.errors.image = "Please select an image for banner";
         this.optionName = "Update Banner"
          } else {
        this.errors.title = "";
        this.errors.description = "";
        this.errors.color= "";
        this.errors.image = "";
        this.errors.propertyID = "";
       this.myObj.propertyId = this.collectionData.id;
     
        console.log("this.myObj" + this.myObj);
       var url = "https://dipity.fastech.pk/api/PropertyHeroBanners";
    //return console.log(this.myObj);
      axios
        .put(url, this.myObj, {
          headers:{
            
        Authorization:
           this.$store.state.token
    ,            
          }
        })
        .then((response) => {
         
         console.log("Response" + response.status);
          if(response.data.status === "success") 
          {            
            
            this.modals.showModal = false;
            this.$router.go(0);
          
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Saved! <br /> Banner updated.",
              type: "success",
              icon: "fa fa-check",
              timeout: this.$store.state.timeout,
            });
           
          }else {            
               swal.fire({
              type: 'error',
              title: '  ',
              text: 'Something went wrong!',
            })           
          }           
        })
        .catch(function (error) {
           swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
    
      this.optionName = "Update Banner";
      this.LoadHeroPropertyData();
      this.modals.showModal = false;
      }
    },
     updateHeroBanner() {
       this.update = true;
       var url = "https://dipity.fastech.pk/api/HeroBanners";
       console.log(this.obj);
      axios
        .put(url, this.obj, {
          headers:{
           
        Authorization:
           this.$store.state.token
    
          }
        })
        .then((response) => {
            console.log("status");
        console.log(response.status);
          if (response.data.status === "error") {
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Request Error! <br />" + response.data.data,
              type: "danger",
              icon: "fa fa-ban",
              timeout: 0,
            });

          } else {
            this.modals.showCostModal = false;
            this.$router.go(0);

            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Saved! <br /> Banner updated.",
              type: "success",
              icon: "fa fa-check",
              timeout: this.$store.state.timeout,
            });
          }
        })
        .catch(function (error) {
          //console.log.log(error);
          swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });

      //Update Banner API
      ////console.log.log(fn);
      this.optionName = "Update Banner";
      this.LoadHeroBannerData();
      this.modals.showCostModal = false;
    },
     updateKeyRingBanner() {
      
      if (this.myObj.title.length === 0) {
        this.errors.title = "Please enter title of the banner";
        this.optionName = "Update Banner"
      }else if(this.myObj.shortDescription.length === 0 ){
        this.errors.description = "Please enter description of banner";
         this.optionName = "Update Banner"
      }else if(this.myObj.shortDescription.length > 280 ){
        this.errors.description = "Description length must not exceet 280 characters length";
        this.optionName = "Update Banner"
        }else if(this.myObj.price.length === 0 ){
        this.errors.description = "Please enter price";
        this.optionName = "Update Banner"
      } else {
        this.errors.title = "";
        this.errors.description = "";
        this.errors.price = "";
       var url = "https://dipity.fastech.pk/api/Keyrings/";
       this.myObj.id = 2;
    //return console.log(this.myObj);
      axios
        .put(url, this.myObj, {
          headers:{
           
        Authorization:
           this.$store.state.token
    
            //  'Content-Type': 'application/json'
          }
        })
        .then((response) => {
         
         console.log(response.data);
          if (response.data.status === "error") {
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Request Error! <br />" + response.data.data,
              type: "danger",
              icon: "fa fa-ban",
              timeout: 0,
            });
          } else if(response.data.status === "success") 
          {
            this.modals.showKeyringModal = false;
            this.$router.go(0);
          
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Saved! <br /> Banner updated.",
              type: "success",
              icon: "fa fa-check",
              timeout: this.$store.state.timeout,
            });
           
          }
        })
        .catch(function (error) {
          //console.log.log(error);
          swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });

      //Update Banner API
      ////console.log.log(fn);
      this.optionName = "Update Banner";
      this.LoadKeyRingData();
      this.modals.showKeyringModal = false;
      }
    },
     updateOurStoryBanner() {
         if (this.myObj.title.length === 0) {
        this.errors.title = "Please enter title of the banner";
        this.optionName = "Update Banner";
          }else if(this.myObj.color.length === 0 ){
        this.errors.color = "Please select a color of banner";
         this.optionName = "Update Banner";
          }else if(this.myObj.image.length === 0 ){
        this.errors.image = "Please select an image for banner";
         this.optionName = "Update Banner"
      } else {
        this.errors.title = "";
        this.errors.color= "";
        this.errors.image = "";
        this.errors.propertyID = "";
  
       var url = "https://dipity.fastech.pk/api/OurStoryBanners" ;
      //  console.log(this.myObj);
      axios
        .put(url, this.myObj, {
          headers: {
            
        Authorization:
           this.$store.state.token
    
          },
        })
        .then((response) => {
        //   console.log("status");
        // console.log(response.status);
          if (response.data.status === "error") {
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Request Error! <br />" + response.data.data,
              type: "danger",
              icon: "fa fa-ban",
              timeout: 0,
            });
          } else {
            this.modals.showOurStoryModal = false;
            this.$router.go(0);
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Saved! <br /> Banner updated.",
              type: "success",
              icon: "fa fa-check",
              timeout: this.$store.state.timeout,
            });
          }
        })
        .catch(function (error) {
          swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
      this.optionName = "Update Banner";
      this.LoadStoryBannerData();
      this.modals.showOurStoryModal = false;
      this.loading= false;
      }
    },
       updateKeyringPrice() {
         if (this.keyObj.price <= 0  || this.keyObj.price === ""  ) {
        this.errors.price = "Please enter keyring price.";
        this.optionName = "Update keyring price";
          } else {
        this.errors.price = "";
        
       var url = "https://dipity.fastech.pk/api/KeyringPrice" ;
      //  console.log(this.myObj);
      axios
        .put(url, this.keyObj, {
          headers: {
            
        Authorization:
           this.$store.state.token
    
          },
        })
        .then((response) => {
        //   console.log("status");
        // console.log(response.status);
          if (response.data.status === "error") {
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Request Error! <br />" + response.data.data,
              type: "danger",
              icon: "fa fa-ban",
              timeout: 0,
            });
          } else {
            this.modals.keyringPriceModal = false;

            this.$router.go(0);
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Saved! <br /> price updated.",
              type: "success",
              icon: "fa fa-check",
              timeout: this.$store.state.timeout,
            });
          }
        })
        .catch(function (error) {
           swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
      this.optionName = "Update Keyring price";
      this.LoadKeyringPrice();
      this.modals.keyringPriceModal = false;
      this.loading= false;
      }
    },
     updateOurCharityBanner() {
         if (this.myObj.title.length === 0) {
        this.errors.title = "Please enter title of the banner";
        this.optionName = "Update Banner"
        }else if(this.myObj.color.length === 0 ){
        this.errors.color = "Please select a color of banner";
         this.optionName = "Update Banner";
          }else if(this.myObj.image.length === 0 ){
        this.errors.image = "Please select an image for banner";
         this.optionName = "Update Banner"
      } else {
        this.errors.title = "";
        this.errors.description = "";
        this.errors.color= "";
        this.errors.image = "";
        this.errors.propertyID = "";
        this.errors.property = "";
      var url = "https://dipity.fastech.pk/api/OurCharityBanners";
      axios
        .put(url, this.myObj, {
          headers: {
             
        Authorization:
           this.$store.state.token
    
          }
        })
        .then((response) => {
          if (response.data.status === "error") {
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Request Error! <br />" + response.data.data,
              type: "danger",
              icon: "fa fa-ban",
              timeout: 0,
            });
          } else {
            this.modals.showOurCharityModal = false;
            this.$router.go(0);

            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Saved! <br /> Banner updated.",
              type: "success",
              icon: "fa fa-check",
              timeout: this.$store.state.timeout,
            });
          }
        })
        .catch(function (error) {
          swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });
      this.optionName = "Update Banner";
      this.LoadCharityBannerData();
      this.modals.showOurCharityModal = false;
      }
    },
   
      updateHomeOwnerBanner() {
        console.log("hello");
         if (this.myObj.title.length === 0) {
        this.errors.title = "Please enter title of the banner";
        this.optionName = "Update Banner"
      }else if(this.myObj.text.length === 0 ){
        this.errors.description = "Please enter description of banner";
        
         this.optionName = "Update Banner"
      }else if(this.myObj.text.length > 280 ){
        this.errors.description = "Description length must not exceet 280 characters length";
        
         this.optionName = "Update Banner"
       }else if(this.myObj.color.length === 0 ){
        this.errors.color = "Please select a color of banner";
         this.optionName = "Update Banner";
          }else if(this.myObj.image.length === 0 ){
        this.errors.image = "Please select an image for banner";
         this.optionName = "Update Banner"
      } else {
         this.errors.title = false;
        this.errors.description = false;
        this.errors.color= false;
        this.errors.image = false;
        this.errors.propertyID = false;
        
          var url = "https://dipity.fastech.pk/api/HomeOwners";
      axios
        .put(url, this.myObj, {
          headers: {
            
        Authorization:
           this.$store.state.token
    
          }
        })
        .then((response) => {
          if (response.data.status === "error") {
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Request Error! <br />" + response.data.data,
              type: "danger",
              icon: "fa fa-ban",
              timeout: 0,
            });
          } else {
            this.modals.showHomeOwnersModal = false;
            this.$router.go(0);
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Saved! <br /> Banner updated.",
              type: "success",
              icon: "fa fa-check",
              timeout: this.$store.state.timeout,
            });
          }
        })
        .catch(function (error) {
          swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
        });

      this.optionName = "Update Banner";
      this.LoadHomeOwnerBannerData();
      this.modals.showHomeOwnersModal = false;
      }
    },
    selectFile() {
      this.file = this.$refs.file.files[0];
    },
   
    AddModal() {
      this.forceRerender();
      this.saving = false;
      this.shouldAdd = true;
      this.optionName = "Update Banner";
      this.modals.showModal = true;
      this.sign = "fas fa-edit";
      this.errors.title= "";
      this.errors.description= "";
      this.errors.image = "";
      this.errors.color = false;
      this.errors.propertyID = "";
      this.errors.property = '',
    
    this.optionsProperties.forEach((elem) => {
        if (elem.id === this.heroProperty.data[0]['propertyId']) {
          this.collectionData = elem;
          this.myObj.propertyId = elem.id;
        }
      });

      this.myObj.id = this.heroProperty.data[0]['id'];
      this.myObj.title = this.heroProperty.data[0]['title'];
      this.myObj.image= this.heroProperty.data[0]['image'];
      this.myObj.color= this.heroProperty.data[0]['color'];
      this.myObj.text= this.heroProperty.data[0]['text'];
      this.myObj.propertyId= this.heroProperty.data[0]['propertyId'];
    },
      AddkeyRringModal() {
      this.forceRerender();
      this.saving = false;
      this.shouldAdd = true;
      this.optionName = "Update Banner";
      this.modals.showKeyringModal = true;
      this.sign = "fas fa-edit";
      this.errors.title= "";
      this.errors.description= "";
      this.errors.image = "";
      this.errors.color = "";
      this.errors.propertyID = "";
      this.errors.property = '',
      this.myObj.image = "",
    
      this.myObj.id = this.keyRing.data[0]['id'];
      this.myObj.title = this.keyRing.data[0]['title'];
      this.myObj.shortDescription = this.keyRing.data[0]['shortDescription'];
      this.myObj.price= this.keyRing.data[0]['price'];
      this.myObj.detailDescription = this.keyRing.data[0]['detailDescription'];
      this.myObj.image = this.keyRing.data[0]['image'];
      if(this.myObj.image == null){
        this.myObj.image = "";
      }
     
    },
    AddCostModal() {
      
      this.saving = false;
      this.shouldAdd = true;
      this.optionName = "Add";
      this.modals.showCostModal = true;
      this.sign = "fas fa-user-plus";
      this.errors.image = "";
     
      this.obj.id = this.heroBanner.data[0]['id'];
      this.obj.media = this.heroBanner.data[0]['media'];
      this.myObj.image = "";
        if(this.update == false){
        this.progress = false;
        this.$refs.mfilee.value = null;
      }
      
    },
     AddOurStoryModal() {
      this.saving = false;
      this.shouldAdd = true;
      this.optionName = "Update Banner";
      this.modals.showOurStoryModal = true;
      this.sign = "fas fa-user-plus";
       this.errors.title= "";
      this.errors.image = "";
      this.errors.color = "";
      this.errors.propertyID = "";

      this.myObj.id = this.storyBanner.data[0]['id'];
      this.myObj.title = this.storyBanner.data[0]['title'];
      this.myObj.image= this.storyBanner.data[0]['image'];
      this.myObj.color= this.storyBanner.data[0]['color'];
      this.myObj.propertyId = 1;
    },
     AddOurCharityModal() {
       
      this.saving = false;
      this.shouldAdd = true;
      this.optionName = "Update Banner";
      this.modals.showOurCharityModal = true;
      this.sign = "fas fa-user-plus";

      this.errors.title= "";
      this.errors.description= "";
      this.errors.image = "";
      this.errors.color = "";
      this.errors.propertyID = "";

      this.myObj.id = this.charityBanner.data[0]['id'];
      this.myObj.title = this.charityBanner.data[0]['title'];
      this.myObj.image= this.charityBanner.data[0]['image'];
      this.myObj.color= this.charityBanner.data[0]['color'];
    },
     AddHomeOwnerModal() {
       this.forceRerender();
      this.saving = false;
      this.shouldAdd = true;
      this.optionName = "Update Banner";
      this.modals.showHomeOwnersModal = true;
      this.sign = "fas fa-user-plus";
      this.errors.title= "";
      this.errors.description= "";
      this.errors.image = "";
      this.errors.color = "";
      this.errors.propertyID = "";

       this.myObj.id = this.homeOwnerBanner.data[0]['id'];
      this.myObj.title =this.homeOwnerBanner.data[0]['title'];
      this.myObj.image= this.homeOwnerBanner.data[0]['image'];
      this.myObj.color= this.homeOwnerBanner.data[0]['color'];
      this.myObj.text= this.homeOwnerBanner.data[0]['text'];
      
    },
      ChangeKeyringPrice() {
      this.saving = false;
      this.shouldAdd = true;
      this.optionName = "Update Keyring Price";
      this.modals.keyringPriceModal = true;
      this.sign = "fas fa-user-plus";
      
    },
    editRecord(index, row) {
      this.eIndex = index;
      this.saving = false;
      this.myObj.id = row.id;
      this.myObj.batch = row.batch;

      this.shouldAdd = false;
      this.optionName = "Edit";
      this.modals.showModal = true;
      this.sign = "far fa-edit";
    },
    handleDelete(index, row) {
      swal({
        title: "Are you sure?",
        text: "You want to delete batch " + row.batch + "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          //Remove API
          // var url =
          //   this.$store.state.domain +
          //   "/Batch/Delete?id=" +
          //   row.id +
          //   "&_db=" +
          //   this.$store.state.db;
          //console.log.log("Remove: " + url);
          axios
            .post(url, qs.stringify(""))
            .then((response) => {
              if (response.data.status === "error") {
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              } else {
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: 'Saved! <br />Batch "' + row.batch + '" removed.',
                  type: "danger",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });

                this.deleteRow(row);
              }
            })
            .catch(function (error) {
              this.$notify({
                verticalAlign: "bottom",
                horizontalAlign: "center",
                message: "Request Error! <br />" + response.data.data,
                type: "danger",
                icon: "fa fa-ban",
                timeout: 0,
              });
            });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
  computed: {
    getData() {
      return this.$store.state.gridData;
    },
  },
};
</script>
<style>
/* #modal-dialog { width: 600px !important; margin: 30px auto; } */
.no-border-card .card-footer {
  border-top: 0;
}
</style>
<style scoped>
@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";


</style>
