<template>

  <div class="content">
    <base-header class="pb-6" style="background-color: #00c192">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Manage Subcribers</h6>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
         <modal
        :show.sync="modals.detailModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-lg"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
             <h3 class="text-center " > Property Details </h3>
             <hr>
                <card
          type="secondary"
          shadow
          header-classes="bg-white "
          body-classes=""
          class="border-0"
        >
        <!-- <div class="row"> 
          <div class="col-md-6"> 
         <h4>Name</h4>  <p > Muhammad Hammad </p> 
          </div>
          <div class="col-md-6"> 
          <h4>Email  </h4>  <p > hammad@gmail.com </p> 
          </div>
          
  
        </div>
     

          <div class="row"> 
          <div class="col-md-6"> 
         <h4>Contact No </h4>  <p >782127178  </p> 
          </div>
           <div class="col-md-6"> 
          <h4>Town  </h4>  <p > Ajman </p> 
          </div>
        
        </div> -->
            <div class="row"> 
          <div class="col-md-4"> 
        <h4>Name   </h4>  <p > {{ myObj.name }}  </p> 
          </div>
            <div class="col-md-4"> 
        <h4>Required Keyrings   </h4>  <p > {{ myObj.keyringsRequired }}  </p> 
          </div>
            <div class="col-md-4"> 
        <h4>Sold Keyrings   </h4>  <p > {{ myObj.keyringsSold }}  </p> 
          </div>
        </div>
          <div class="row"> 
          <div class="col-md-12"> 
        <h4>Description   </h4>  <p > {{ strippedHtml }}  </p> 
          </div>
          
        </div>
        
          
        </card>
        <hr>

              <card
          type="secondary"
          shadow
          header-classes="bg-white "
          body-classes=""
          class="border-0"
        >
          <h3 class="text-center " > Property Images </h3>
          <template>
   <div v-if="imageStatus == true" > <h1 class="text-center "> Not Uploaded </h1> </div>
        <div >
    <gallery :images="images"  :index="index" @close="index = null"></gallery>
    <div class="ml-2">
<div
      class="image "
      v-for="(image, imageIndex) in images"
      :key="imageIndex"
      @click="index = imageIndex"
      :style="{ backgroundImage: 'url(' + image  + ')', width: '150px', height: '150px' }"
    ></div>
    </div>
    
  </div>

          </template>
        </card>
            
          </template>
        </card>
      </modal>
      <modal
        :show.sync="modals.showModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <form role="form" class="mb--4">
              <div class="form-group row mb--4">
                <label class="col-md-4 col-form-label form-control-label"
                  >Name</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Enter name here."
                    v-model="myObj.name"
                    @focusout="checkName()"
                  ></base-input>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-8"> 
                 <small style="margin-left:160px;" class=" text-danger" v-if="errors.name != false">Please enter name.</small>

                </div>
              </div>
              <div class="form-group row mt-4 mb--4">
                <label class="col-md-4 col-form-label form-control-label"
                  >Description</label
                >
                <div class="col-md-8">
                  <base-input >
                    <textarea
                      v-model="myObj.description"
                      style="height: 100px"
                      @focusout="checkDescription()"
                      class="form-control"
                      placeholder="Enter description here."
                      rows="2"
                    >
                    </textarea>
                  </base-input>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-8">
                 <small style="margin-left:160px;" class=" text-danger" v-if="errors.description != false">Please enter description.</small>
                </div>
              </div>
              <div class="form-group row mt-4 mb--4">
                <label class="col-md-4 col-form-label form-control-label"
                  >Keyring (req)</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Enter required keyrings here."
                    v-model="myObj.keyringsRequired"
                   
                    @focusout="checkKeyring()"
                  ></base-input>
                </div>
              </div>
               <div class="row">
                 <small style="margin-left:160px;" class=" text-danger" v-if="errors.keyringsRequired != false">Please enter required keyrings.</small>
              </div>

     
              <div>
                <div class="row mt-4 ">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Color</label
                  >
                  <!-- color starts -->
                  <div class="col-md-8">
                    <multiselect
                      v-model="myObj.color"
                      placeholder="Select color"
                      
                      :options="options"
                      :option-height="104"
                    
                      :show-labels="false"
                    >
                      <template slot="singleLabel" slot-scope="props"
                        >
                        <div
                          v-bind:style="{ backgroundColor: props.option }"
                          
                        > 
                        <div style="height:30px; width:100px;">
                             
                          </div>
                           </div>
                       
                      </template>
                      <template slot="option" slot-scope="props"
                        >  <div
                          v-bind:style="{ backgroundColor: props.option }"
                          
                        > 
                        <div style="height:30px; width:100px;">
                            
                          </div>
                           </div>
                       
                      </template>
                    </multiselect>
                  </div>
                  <!-- colorr ends -->
                </div>
                
              </div>
               <div class="row">
                 <small style="margin-left:160px;" class=" text-danger" v-if="errors.color != false">Please select color.</small>
              </div>

                <div class="form-group row mt-5 mb--2">    
                        <label class="col-md-4 col-form-label form-control-label"
                  >Cover</label
                >     
                  
                      </div> 
            <img
                :src="mycover"
                @click="$refs.filee.click()"
                style="height:150px;width:400px"
                
                class="mt-2"
                alt="imgAdd"
              />
                    <i
                      v-if="loading == true"
                      class="fas fa-circle-notch fa-spin fa-2x position-absolute "
                      style="color: grey; margin-left:-215px;margin-top:42px;"
                    ></i>
                  
              <label hidden class="btn btn-success col">
                <input
                  type="file"
                  id="filee"
                  ref="filee"
                  @change="selectUFile()"
                  accept="image/*"
                />
              </label>

              <div class="row">
                 <small style="margin-left:140px;" class="mt-4 text-danger" v-if="errors.cover != false">Please select cover image.</small>
              </div>

              <div class="form-group row ">
                <label class="col-md-4 col-form-label form-control-label "
                  >More Images</label
                >
              
                <div class="container">
                   <div class="row">
        <div>
         

          <div>
             <i
                      v-if="moreloading == true"
                      class="fas fa-circle-notch fa-spin fa-2x position-absolute "
                      style="color: grey; margin-top:44px;margin-left:60px;"
                    ></i>
            <!-- <div v-if="moreloading == true">
              <b-spinner
                variant="primary"
                type="grow"
                class="m-5"
                label="Spinning"
              ></b-spinner>
            </div> -->

           
              <img
                ref="previewEl"
                rounded
                src="https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png"
                @click="$refs.mfile.click()"
                height="120"
                width="120"
              />

              <!-- <img v-if= "loading==false" rounded :src="require('@/assets/images/elements/Unicorn-Cake.jpg')" @click="$refs.files.click()" style="width: 7vw; height: 7vw; padding-left:20px; padding-top:20px;" alt="imgAdd"/>  -->
            

            <input
              type="file"
              id="mfile"
              hidden
              ref="mfile"
              multiple="multiple"
              @change="selectMoreFile()"
              accept="image/*"
            />

           
          </div>

        </div>
                     </div> 
                </div>
              

                <div class="container">
                     <div class="row ml-1" > 
                
           <div style="margin-top:13px;"  v-for="img in images" :key="img.index">
              <div>
                <i
                  class="fa fa-trash fa-sm cursor text-danger position-absolute "
                  style="margin:55px;"
                  @click="removeImg(index)"
                ></i>
              </div>

              <div >
              <img rounded :src="img" height="120" width="120" />

               </div>
              <!-- <img v-if= "loading==false" rounded :src="require('@/assets/images/elements/Unicorn-Cake.jpg')" @click="$refs.files.click()" style="width: 7vw; height: 7vw; padding-left:20px; padding-top:20px;" alt="imgAdd"/>  -->
            </div>
                
                </div>
                </div>
             
               
              </div>
           <div class="row">
                 <small style="margin-left:15px;" class="mb-2 text-danger" v-if="errors.images != false">Please select more images.</small>
              </div>
              <div style="margin-top: 10px">
                <base-button
                  :disabled="saving"
                  @click="Validate()"
                  style="background-color: #00c192"
                  type="success"
                  class="col"
                >
                  <i v-bind:class="sign"></i> {{ optionName }}</base-button
                >
              </div>
            </form>
          </template>
        </card>
      </modal>
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-auto col-sm-6 col-6">
                <!-- <base-button
                  icon
                  type="success"
                  size="md"
                  style="background-color: #00c192"
                >
                  <span class="btn-inner--icon"
                    ><i class="fas fa-plus"></i
                  ></span>
                  <a href="#/fusion/addProperty" style="color: #fff">
                  <span class="btn-inner--text">Add Property</span>
                  </a>
                </base-button> -->
              </div>

              <!-- <div class="col-md-auto col-sm-6 col-6 mr-2">
                <base-button icon type="primary" size="md">
                  <downloadexcel
                    :fetch="fetchData"
                    :fields="json_fields"
                    :before-finish="finishDownload"
                  >
                    Export Properties
                  </downloadexcel>
                </base-button>
              </div> -->
            </div>
          </div>

          <div class="mt-4">
            <!-- <div
              class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
            >

               <el-select
                hidden
                class="select-primary pagination-select"
                v-model="pagination.perPage"
                placeholder="Per page"
              >
                <el-option
                  class="select-primary pull-right"
                  v-for="item in pagination.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>

            <div hidden>
                <base-input
                  v-model="searchQuery"
                  disabled
                  prepend-icon="fas fa-search"
                  placeholder="Search..."
                >
                </base-input>
              </div>
            </div> -->
            <el-table
              :data="queriedData"
              class="table-responsive table-flush"
              row-key="id"
              header-row-class-name="thead-light"
              @sort-change="sortChange"
              @selection-change="selectionChange"
            >
              <el-table-column
                min-width="250px"
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              >
              </el-table-column>
              <el-table-column min-width="100px" align="right" label="Options">
                <div slot-scope="{ row }" class="d-flex">
                    <base-button
                      @click="Mail(row.email)"
                      class="remove btn-link"
                      type="primary"
                      size="sm"
                      
                      icon
                    >
                      <i class="text-white ni ni-email-83"></i>
                    </base-button>
                </div>
              </el-table-column>
            </el-table>
          </div>

          <div
            slot="footer"
            class="
              col-12
              d-flex
              justify-content-center justify-content-sm-between
              flex-wrap
            "
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "../Tables/users2";
import axios from "axios";
import qs from "qs";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import moment from "moment";
import Multiselect from "vue-multiselect";
import Uploader from "vux-uploader-component";
import downloadexcel from "vue-json-excel";
import DropzoneFileUpload from "@/components/Inputs/DropzoneFileUpload";
import VueGallery from 'vue-gallery';

export default {
  mixins: [clientPaginationMixin],
  components: {
    Multiselect,
    BasePagination,
    DropzoneFileUpload,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    flatPicker,
    Uploader,
    downloadexcel,
    'gallery': VueGallery,
  },
  computed: {
  	strippedHtml() {
        let regex = /(&nbsp;|<([^>]+)>)/ig;
    //   let regex = / ((<.+>)|(^<))*user((^>)|(<.*>))*/ig;
        
       
	return this.myObj.description.replace(regex, "");
    }
},
    
  
  created() {
     this.Authenticator();
    this.LoadData();
  },
  mounted() {},
  data() {
    return {
      index: null,
      loading:false,
      mfile:[],
      moreloading:false,
      tabelNames: [],
      tabledes: [],
      value: {},
      images:[],
        styleObject: {
        'backgorund-color': 'red',
         'height': '110px',
         'width': '110px'

  },
      options: [  
        "#87EFFF","#FF6700","#FF0023","#1F249B","#009A56","#FFB435",
      ],
      GenObj:{
        property:{},
        images:[]
      },
      mycover:"https://dk0pm9zdlq16s.cloudfront.net/b047d5f8-d2b4-4852-aa19-846b19235468.png",
      more: "https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png",
      mfilee: "",
      filee: "",
      fileList: [],
      errors: {
        name: "",
        description: "",
        keyringsRequired: "",
        cover: "",
        color: "",
        images: "",

      },
      myObj: {
        id: 0,
        name: "",
        description: "",
        keyringsRequired: "",
        keyringsSold: 0,
        cover: "",
        color: "",
      },
      propsToSearch: ["firstName", "email"],
      tableColumns: [
        {
          prop: "email",
          label: "Emai Address",
          sortable: true,
        },
        {
          prop: "date",
          label: "Date",
          sortable: true,
        },
      ],

      json_fields: {
        name: "shoe_id",
        description:
          "Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quam illo nostrum cupiditate mollitia sint cum iure eum aliquam fugiat ma",
        keyRings: "asdas",
      },

      tableData: [

      ],
      selectedRows: [],
      modals: {
        showModal: false,
        detailModal:false
      },
      optionName: "Add",
      saving: false,
      name: "",
      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "",
      err: {
        nameerr: false,
        contacterr: false,
        mobileerr: false,
        purposevsterr: false,
        dateerr: false,
      },
      namereg: /^[a-zA-Z]*$/,
      currentDate: moment().format("YYYY-MM-DD"),
      eIndex: 0,
    };
  },

  methods: {
      Mail(email)
  {
    var myemail = "mailto:" + email + "?subject=Subject&body=message%20goes%20here" ;
    window.location.href = myemail;
  },
    Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
    },
 strippedContent: function(string) {
           return string.replace(/<\/?[^>]+>/ig, " ");
 },
 
 viewRecord(index, row) {
      this.eIndex = index;
      this.saving = false;
      this.optionName = "Edit";
      this.modals.detailModal = true;
      this.sign = "far fa-edit";
      this.images = row.images;
      this.myObj.cover = row.cover;
      this.myObj.name = row.name;
      this.myObj.keyringsRequired = row.keyringsRequired;
      this.myObj.keyringsSold = row.keyringsSold;
      this.myObj.description = row.description;


     
    },
    removeImg(index) {
      console.log(index);
      this.images.splice(index, 1);
    },
    selectMoreFile() {
      //this.moreFiles = this.$refs.mfile.files;
      if (this.$refs.mfile.files.length !== 0) {
        this.moreloading = true;
        var formdata = new FormData();
        for (var i = 0; i < this.$refs.mfile.files.length; i++) {
          formdata.append('file', this.$refs.mfile.files[i], '[PROXY]');
        }

        var requestOptions = {
          method: 'POST',
          body: formdata,
          redirect: 'follow',
        };

        fetch('https://upload.appick.io', requestOptions)
          .then(response => response.json()) //2
          .then(result => {
           console.log(result);
            //this.moreImages.push(result.myresp);

            for (var i = 0, len = result.myresp.length; i < len; ++i) {
              this.moreloading = false;
              var fn = result.myresp[i].path;
              this.images.push(fn);
            }
            console.log(this.images);
          })

          .catch(error =>  swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            }));
      }

    },

    customLabel({ title, desc }) {
      return `${title} – ${desc}`;
    },

    finishDownload() {
      console.log("finish");
      // this.sign = "fas fa-circle-notch fa-spin";
    },

    // fetchData() {
    //   // for (i in this.tableData) {
    //   // }
    //   this.tableData.forEach((i) => {
    //     this.tabelNames.push({
    //       name: i.name,
    //       description: i.description,
    //       keyRings: i.keyRings,
    //     });
    //   });
    //   // this.tableData.name = this.tabelNames;
    //   console.log(this.tabelNames);
    //   return this.tabelNames;
    // },
    selectUFile() {
      // console.log("Osama");
      this.loading = true;

      console.log(this.filee.name);

      console.log(this.filee, this.loading);
      //Upload cover
      if (this.$refs.filee.files[0] !== "") 
      {
        let formData = new FormData();
        formData.append("file", this.$refs.filee.files[0]);
        console.log(this.filee);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
            var fn =  e.data.myresp[0].path;
            console.log(fn);
            this.mycover = fn;
            console.log(this.mycover);

            this.myObj.cover = this.mycover;
            //console.log(this.myObj.coverImg);
            this.loading = false;
            console.log(this.loading);
          });
      }
    },

    selectMFile() {
      // console.log("Osama");
      this.loading = true;
      this.mfilee = this.$refs.mfilee.files[0];

      // console.log(this.filee.name);

      //   console.log(this.filee, this.loading );
      //Upload cover
      if (this.filee !== "") {
        let formData = new FormData();
        formData.append("file", this.mfilee);
        console.log(this.mfilee);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
            var fn = "https://appick.io/u/lessons/" + e.data.myresp[0].filename;
            console.log(fn);
            this.more = fn;
            // this.myObj. = this.cover;
            //console.log(this.myObj.coverImg);
            this.loading = false;
            console.log(this.loading);
          });
      }
    },

    LoadData() {
      var axios = require('axios');

  var config = {
    method: 'get',
    url: 'https://dipity.fastech.pk/api/Subscribers',
    headers: {
     
        Authorization:
           this.$store.state.token
    
    }
  };

  axios(config)
  .then( (response) => {
    // console.log(JSON.stringify(response.data));

     this.tableData  =  [];
     response.data.data.forEach(elem => {
      var d = new Date(elem.date);
      elem.date = d.toDateString();
      //  elem.date =  elem.date.split("T")[0];
       this.tableData.push(elem);
     });
    // this.images  =  response.data.data.images;

     console.log(response.data.data);

 })
  .catch(function (error) {
     swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
  });
    },
    resetFormErrors() {
      this.errors.name = false;
    },
    checkServices() {
      if (this.myObj.services !== "") {
      return  this.errors.services = false;
      } else {
      return  this.errors.services = "Please enter services";
      }
    },
    checkName() {
      if (this.myObj.name == "" ||  this.myObj.name.length <= 2) {
       return this.errors.name = "Please enter name";
        
      } else {
      return  this.errors.name = false;
      }
    },
    checkDescription() {
      if (this.myObj.description == "" ||  this.myObj.description.length <= 3) {
      return  this.errors.description = "Please enter description";
        
      } else {
      return  this.errors.description = false;
      }
    },

    checkKeyring() {
  const reg = /^[0-9]+$/
      if ( reg.test(this.myObj.keyringsRequired) &&
        this.myObj.keyringsRequired !== "") 
        {
       return    this.errors.keyringsRequired = false;
        
      } else {
      return  this.errors.keyringsRequired = "Please enter keyringsRequired";
       
      }
    },
    checkColor() {
  
    if (this.myObj.color == "" ) {
      return  this.errors.color = "Please enter color";
        
      } else {
      return  this.errors.color = false;
      }
    },
    checkCover() {
  
    if (this.myObj.cover == "" ) {
       return this.errors.cover = "Please enter description";
        
      } else {
      return  this.errors.cover = false;
      }
    },
    checkImages() {
  
    if (this.images.length == 0 ) {
      return  this.errors.images = "Please enter description";
        
      } else {
       return this.errors.images = false;
      }
    },
    Validate() {
    
     this.checkName();
     this.checkImages();
     this.checkCover();
     this.checkColor();
     this.checkKeyring(); 
     this.checkDescription();
   console.log(this.GenObj);
   
      if ( this.checkName() !== false   || this.checkCover() !== false  || this.checkColor() !== false  || this.checkKeyring() !== false  ||
      this.checkDescription() !== false  || this.checkImages() !== false   ) {
        return this.$notify({
          verticalAlign: "bottom",
          horizontalAlign: "center",
          message: "Error! <br />" + "Please fill the form correctly",
          type: "danger",
          icon: "fa fa-ban",
          timeout: 0,
        });
      } else {
        console.log("Added");
        if (this.myObj.id === 0) {
          
          this.GenObj.property = this.myObj;
          this.GenObj.images = this.images;
          console.log( this.GenObj);
           var axios = require('axios');
    // this.$store.state.userData.userID
      var config = {
        method: 'post',
         url: 'https://dipity.fastech.pk/api/Properties/AddProperty'  ,
    headers: {
     
        Authorization:
           this.$store.state.token
    
    },
        data : this.GenObj
      };

      axios(config)
      .then( (response) => {
        if(response.data.status === "success")
        {
        console.log(response.data);
        
         this.LoadData();
          this.modals.showModal = false;
            this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Property Added.",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
        }

        //  this.data  =  response.data;
        //console.log(this.$store.state.userData.userID);
      //this.items = response.data;

       // console.log(this.items);
    })
      .catch(function (error) {
         swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
      });
        } else {
          //Edit

          this.GenObj.property = this.myObj;
          this.GenObj.images = this.images;
          console.log( this.GenObj);
           var axios = require('axios');
    // this.$store.state.userData.userID
      var config = {
        method: 'put',
         url: 'https://dipity.fastech.pk/api/Properties/Update'  ,
    headers: {
     
        Authorization:
           this.$store.state.token
    
    },
        data : this.GenObj
      };

      axios(config)
      .then( (response) => {
        if(response.data.status === "success")
        {
        console.log(response.data);
        
         this.LoadData();
          this.modals.showModal = false;
            this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Property Updated.",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
        }

        //  this.data  =  response.data;
        //console.log(this.$store.state.userData.userID);
      //this.items = response.data;

       // console.log(this.items);
    })
      .catch(function (error) {
        swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
      });
        }
      }
    },
    date: function (date) {
      return moment(date).format("MMMM Do YYYY, h:mm:ss a");
    },

    GetError() {
      return this.nameError;
      return this.prefixError;
    },
    AddModal() {
      this.saving = false;
      this.optionName = "Add";
      this.modals.showModal = true;
      this.sign = "fas fa-user-plus";
      this.errors.name = false;
      this.errors.description = false;
      this.errors.color = false;
      this.errors.images = false;
      this.errors.keyringsRequired = false;
      this.errors.cover = false;
      Vue.filter('stripHTML', function (value) {
       const div = document.createElement('div')
      div.innerHTML = value
      const text = div.textContent || div.innerText || ''
     return text
      });
      this.myObj.id = 0;
      this.myObj.name = "";
      this.myObj.color = "";
      this.myObj.description = "";
      this.myObj.keyringsRequired ="";
      this.myObj.keyringsSold = 0;
      this.images = [];
      this.myObj.cover = "";
      this.mycover = "https://dk0pm9zdlq16s.cloudfront.net/b047d5f8-d2b4-4852-aa19-846b19235468.png";
    },
    editRecord(row) {
      console.log(row);
      this.$router.push({ name: 'addProperty', params: {
        row: row
         } });
      // this.eIndex = index;
      // this.saving = false;
      // this.optionName = "Edit";
      // this.modals.showModal = true;
      // this.sign = "far fa-edit";
      // this.errors.name = false;
      // this.errors.description = false;
      // this.myObj.id = row.id;
      // this.myObj.name = row.name;
      // this.myObj.color = row.color;
      // this.myObj.description = row.description;
      // this.myObj.keyringsRequired = row.keyringsRequired;
      // this.myObj.keyringsSold = row.keyringsSold;
      // this.images = row.images;
      // this.myObj.cover = row.cover;
      // this.mycover = row.cover;
      // console.log(row);
    },
    handleDelete(index, row) {
      swal({
        title: "Are you sure?",
        text: "You want to delete" +  " "  + row.name + "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          var axios = require("axios");

          var config = {
            method: "delete",
            url: `https://dipity.fastech.pk/api/Properties/Deleteby/${row.id}`,
             headers: {
     
        Authorization:
           this.$store.state.token
    
    },
          };

          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
              if (response.data.status === "success") {
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message:
                    'Saved! <br />Inquiry of " ' +  " " + row.name + '" removed.',
                  type: "danger",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
                this.LoadData();
              }
              else if(response.data.status === "notallowed")
              {

        swal({
        title: "Not Allowed !",
        text: "You cannot delete this property it has relative data!",
        type: "warning",
        showCancelButton: false,
        confirmButtonClass: "btn btn-primary btn-fill",
        confirmButtonText: "Ok",
        buttonsStyling: false,
      })

                  this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message:
                    'You cannot delete this property it has relative data.!',
                  type: "warning",
                  icon: "fa fa-warning",
                  timeout: this.$store.state.timeout,
                });

              }
            })
            .catch(function (error) {
               swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
            });

          //  var url = "http://pexpert.fastech.pk/api/Categories/"+ row.id;
          //   console.log(url);
          //    axios({
          //     method: "delete",
          //     url: url,

          //   }).then((response) => {

          //       console.log(response.status);
          //       console.log("Osama");

          //   })

          //   this.$notify({
          //     verticalAlign: "bottom",
          //     horizontalAlign: "center",
          //     message: 'Saved! <br />Inquiry of "' + row.name + '" removed.',
          //     type: "danger",
          //     icon: "fa fa-check",
          //     timeout: this.$store.state.timeout,
          //   });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}
</style>
<style scoped>
  .image {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ebebeb;
    margin: 5px;
  }
</style> 

