<template>
  <div class="content">
    <base-header class="pb-6" style="background-color: #00c192">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">
            Manage Terms And Condition
          </h6>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <!-- <modal
        :show.sync="modals.showModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-lg"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <form role="form" class="mb--4">
            
              <label class="col-form-label form-control-label">Title</label>
              <div class="">
                <base-input
                  placeholder="Enter title here."
                  v-model="myObj.title"
                  @focusout="checkTitle()"
                ></base-input>
              </div>
               <div class="row">
                 <small style="margin-left:15px;" class=" text-danger" v-if="errors.title != false">Please enter title.</small>
              </div>

              <label class="col-form-label form-control-label"
                >Description</label
              >
              <div class="row">
                <div class="col">

                </div>
                <ejs-richtexteditor
               ref="defaultRTE"
                :height="500"
                v-model="myObj.text"
              placeholder="Description here"
            >
            </ejs-richtexteditor>
               
              </div>
<div class="row">
                 <small style="margin-left:15px;" class=" text-danger" v-if="errors.text != false">Please enter description.</small>
              </div>
              <div style="margin-top: 10px">
                <base-button
                  :disabled="saving"
                  @click="Validate()"
                  style="background-color: #00c192"
                  type="success"
                  class="col"
                >
                  <i v-bind:class="sign"></i> {{ optionName }}</base-button
                >
              </div>
            </form>
          </template>
        </card>
      </modal> -->
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-auto col-sm-6 col-6">
                <!-- <base-button
                  icon
                  type="success"
                  size="md"
                  style="background-color: #00c192"
                  @click="AddModal()"
                >
                  <span class="btn-inner--icon"
                    ><i class="fas fa-plus"></i
                  ></span>
                  <span class="btn-inner--text">Add Terms And Condition</span>
                </base-button> -->
              </div>
            </div>
          </div>

          <div class="mt-4">
            <!-- <div
              class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
            >
             
               <el-select
                hidden
                class="select-primary pagination-select"
                v-model="pagination.perPage"
                placeholder="Per page"
              >
                <el-option
                  class="select-primary pull-right"
                  v-for="item in pagination.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select> 

            <div hidden>
                <base-input
                  v-model="searchQuery"
                  disabled
                  prepend-icon="fas fa-search"
                  placeholder="Search..."
                >
                </base-input>
              </div> 
            </div> -->
            <el-table
              :data="queriedData"
              class="table-responsive table-flush"
              row-key="id"
              header-row-class-name="thead-light"
              @sort-change="sortChange"
              @selection-change="selectionChange"
            >
              <el-table-column
                min-width="100px"
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              >
              </el-table-column>
              <el-table-column min-width="50px" align="right" label="Options">
                <div slot-scope="{ row }" class="d-flex">
                  <base-button
                    @click="editRecord(row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                  >
                    <i class="text-white far fa-edit"></i>
                  </base-button>
                  <!-- <base-button
                    @click.native="handleDelete(row)"
                    class="remove btn-link"
                    type="danger"
                    size="sm"
                    icon
                  >
                    <i class="text-white far fa-trash-alt"></i>
                  </base-button> -->
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="
              col-12
              d-flex
              justify-content-center justify-content-sm-between
              flex-wrap
            "
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "../Tables/users2";
import axios from "axios";
import qs from "qs";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import moment from "moment";
import Multiselect from "vue-multiselect";
import Uploader from "vux-uploader-component";
import downloadexcel from "vue-json-excel";
import {
  RichTextEditorPlugin,
  Toolbar,
  Link,
  Image,
  Count,
  HtmlEditor,
  QuickToolbar,
  PasteCleanup
} from "@syncfusion/ej2-vue-richtexteditor";
Vue.use(RichTextEditorPlugin);
export default {
  mixins: [clientPaginationMixin],
  components: {
    Multiselect,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    flatPicker,
    Uploader,
    
    downloadexcel,
  },
  created() {
     this.Authenticator();
    this.LoadData();
  },
  mounted() {},
  data() {
    return {
    
      tabelNames: [],
      tabledes: [],
      value: {},
      options: [
        {
          title: "Light Blue",
          desc: "Light Blue",
          img: "https://www.colorhexa.com/87efff.png",
        },
        {
          title: "Safety Orange",
          desc: "Safety Orange",
          img: "https://www.htmlcsscolor.com/preview/gallery/FF5E13.png",
        },
        {
          title: "Torch Red",
          desc: "Torch Red",
          img: "https://plchldr.co/i/250x215?&bg=ff1744&text=",
        },
        {
          title: "Ultramarine",
          desc: "Ultramarine",
          img: "https://www.htmlcsscolor.com/preview/gallery/120A8F.png  ",
        },
        {
          title: "Shamrock Green",
          desc: "Shamrock Green",
          img: "https://www.colorhexa.com/009e60.png",
        },
        {
          title: "Supernova",
          desc: "Supernova",
          img: "https://www.htmlcsscolor.com/preview/gallery/FFB437.png",
        },
        {
          title: "Razzmatazz",
          desc: "Razzmatazz",
          img: "https://www.colorhexa.com/e3256b.png",
        },
      ],

      cover:
        "https://appick.io/u/lessons/723f471b-427c-4bf8-a1fd-f01f2ac129e0.png",
      more: "https://appick.io/u/lessons/64a03015-aaab-44a2-85c7-fc83ad9417b7.png",
      mfilee: "",
      loading: false,
      filee: "",
      fileList: [],
      errors: {
        title:false,
        text:false,
      },
      myObj: {
        id: 0,
        title: "",
        text: "",
        sequence: 1,
      },
      propsToSearch: ["firstName", "email"],
      tableColumns: [
        {
          prop: "title",
          label: "Title",
          sortable: true,
        },
        {
          prop: "text",
          label: "Description",
          sortable: true,
        },
      ],

      json_fields: {
        name: "shoe_id",
        text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quam illo nostrum cupiditate mollitia sint cum iure eum aliquam fugiat ma",
        keyRings: "asdas",
      },

      tableData: [
      
      ],
      selectedRows: [],
      modals: {
        showModal: false,
      },
      optionName: "Add",
      saving: false,
      name: "",
      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "",
      err: {
        nameerr: false,
        contacterr: false,
        mobileerr: false,
        purposevsterr: false,
        dateerr: false,
      },
      namereg: /^[a-zA-Z]*$/,
      currentDate: moment().format("YYYY-MM-DD"),
      eIndex: 0,
    };
  },
   provide: {
    richtexteditor: [Toolbar, Link, Image, Count, HtmlEditor, QuickToolbar],
  },
  methods: {
    Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
    },
    checkTitle() {
      if (this.myObj.title == "" ) {
       return this.errors.title = "Please enter title";
        
      } else {
      return  this.errors.title = false;
      }
    },
    checkDescription() {
      if (this.myObj.text == "" ||  this.myObj.text.length <= 3) {
      return  this.errors.text = "Please enter description";
        
      } else {
      return  this.errors.text = false;
      }
    },
    customLabel({ title, desc }) {
      return `${title} – ${desc}`;
    },

    finishDownload() {
      console.log("finish");
      // this.sign = "fas fa-circle-notch fa-spin";
    },

    fetchData() {
      // for (i in this.tableData) {
      // }
      this.tableData.forEach((i) => {
        this.tabelNames.push({
          name: i.name,
          description: i.description,
          keyRings: i.keyRings,
        });
      });
      // this.tableData.name = this.tabelNames;
      console.log(this.tabelNames);
      return this.tabelNames;
    },
    selectUFile() {
      // console.log("Osama");
      this.loading = true;
      this.filee = this.$refs.filee.files[0];

      console.log(this.filee.name);

      console.log(this.filee, this.loading);
      //Upload cover
      if (this.filee !== "") {
        let formData = new FormData();
        formData.append("file", this.filee);
        console.log(this.filee);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
            var fn = "https://appick.io/u/lessons/" + e.data.myresp[0].filename;
            console.log(fn);
            this.cover = fn;
            this.myObj.iconPath = this.cover;
            //console.log(this.myObj.coverImg);
            this.loading = false;
            console.log(this.loading);
          });
      }
    },

    selectMFile() {
      // console.log("Osama");
      this.loading = true;
      this.mfilee = this.$refs.mfilee.files[0];

      // console.log(this.filee.name);

      //   console.log(this.filee, this.loading );
      //Upload cover
      if (this.filee !== "") {
        let formData = new FormData();
        formData.append("file", this.mfilee);
        console.log(this.mfilee);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
            var fn = "https://appick.io/u/lessons/" + e.data.myresp[0].filename;
            console.log(fn);
            this.more = fn;
            // this.myObj. = this.cover;
            //console.log(this.myObj.coverImg);
            this.loading = false;
            console.log(this.loading);
          });
      }
    },

    LoadData() {
       var axios = require('axios');

  var config = {
    method: 'get',
    url: 'https://dipity.fastech.pk/api/TermsAndConditions',
    headers: {
     
        Authorization:
           this.$store.state.token
    
    }
  };

  axios(config)
  .then( (response) => {
    // console.log(JSON.stringify(response.data));

     this.tableData  =  response.data.data;
    // this.images  =  response.data.data.images;

     console.log(response.data.data);

 })
  .catch(function (error) {
     swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
  });
    },
    resetFormErrors() {
      this.errors.name = false;
    },
   
    checkName() {
      if (this.myObj.name !== "") {
        this.errors.name = false;
      } else {
        this.errors.name = "Please enter name";
      }
    },

    Validate() {
     /// return console.log(this.myObj);
      // this.errors.name = false;
      // this.errors.description = false;
      this.checkTitle();
      this.checkDescription();
      // this.checkDescription();
      if (this.checkDescription() !== false ||  this.checkTitle() !== false) {
        return this.$notify({
          verticalAlign: "bottom",
          horizontalAlign: "center",
          message: "Error! <br />" + "Please fill the form correctly",
          type: "danger",
          icon: "fa fa-ban",
          timeout: 0,
        });
      } else {

        if (this.myObj.id == 0) {
          //Add
      //console.log("----",this.myObj);
 var axios = require('axios');
    // this.$store.state.userData.userID
      var config = {
        method: 'post',
         url: 'https://dipity.fastech.pk/api/TermsAndConditions'  ,
    headers: {
     
        Authorization:
           this.$store.state.token
    
    },
        data : this.myObj
      };

      axios(config)
      .then( (response) => {
        if(response.data.status === "success")
        {
        console.log(response.data);
        
         this.LoadData();
          this.modals.showModal = false;
            this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Property Added.",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
        }

        //  this.data  =  response.data;
        //console.log(this.$store.state.userData.userID);
      //this.items = response.data;

       // console.log(this.items);
    })
      .catch(function (error) {
         swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
      });
        } else {
          //Edit

           var axios = require('axios');
      var config = {
        method: 'put',
         url: 'https://dipity.fastech.pk/api/TermsAndConditions'  ,
    headers: {
     
        Authorization:
           this.$store.state.token
    
    },
        data : this.myObj
      };

      axios(config)
      .then( (response) => {
        if(response.data.status === "success")
        {
        console.log(response.data);
        
         this.LoadData();
          this.modals.showModal = false;
            this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Property Updated.",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
        }

        //  this.data  =  response.data;
        //console.log(this.$store.state.userData.userID);
      //this.items = response.data;

       // console.log(this.items);
    })
      .catch(function (error) {
         swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
      });
        }
      }
    },
    date: function (date) {
      return moment(date).format("MMMM Do YYYY, h:mm:ss a");
    },

    GetError() {
      return this.nameError;
      return this.prefixError;
    },
    AddModal() {
      this.saving = false;
      this.optionName = "Add";
      this.modals.showModal = true;
      this.sign = "fas fa-user-plus";
      this.errors.name = false;
      this.errors.description = false;
      this.errors.services = false;
      this.myObj.id = 0;
      this.myObj.title ="" ;
      this.myObj.text = "";
      this.myObj.sequence = 1;
      this.errors.title =false;
      this.errors.text =false;


    },
    editRecord(row) {
      console.log(row);
      this.$router.push({ name: 'AddTermAndConditions', params: {
        row: row
         } });
    },
   handleDelete(row) {
      swal({
        title: "Are you sure?",
        text: "You want to delete" +  " "  + row.title + "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          var axios = require("axios");

          var config = {
            method: "delete",
            url: `https://dipity.fastech.pk/api/TermsAndConditions/${row.id}`,
             headers: {
     
        Authorization:
           this.$store.state.token
    
    },
          };

          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
              if (response.data.status === "success") {
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message:
                    'Saved! <br />Inquiry of " ' +  " " + row.title + '" removed.',
                  type: "danger",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
                this.LoadData();
              }
              else if(response.data.status === "notallowed")
              {

        swal({
        title: "Not Allowed !",
        text: "You cannot delete this property it has relative data!",
        type: "warning",
        showCancelButton: false,
        confirmButtonClass: "btn btn-primary btn-fill",
        confirmButtonText: "Ok",
        buttonsStyling: false,
      })

                  this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message:
                    'You cannot delete this property it has relative data.!',
                  type: "warning",
                  icon: "fa fa-warning",
                  timeout: this.$store.state.timeout,
                });

              }
            })
            .catch(function (error) {
               swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
            });

          //  var url = "http://pexpert.fastech.pk/api/Categories/"+ row.id;
          //   console.log(url);
          //    axios({
          //     method: "delete",
          //     url: url,

          //   }).then((response) => {

          //       console.log(response.status);
          //       console.log("Osama");

          //   })

          //   this.$notify({
          //     verticalAlign: "bottom",
          //     horizontalAlign: "center",
          //     message: 'Saved! <br />Inquiry of "' + row.name + '" removed.',
          //     type: "danger",
          //     icon: "fa fa-check",
          //     timeout: this.$store.state.timeout,
          //   });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
};
</script>

<style scoped>
@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
