<template>
  <div class="p-4">
    <h2 class="pb-4">Update Hero property Banner</h2>
    <div class="p-4">
      <form role="form" class="mb--4">
        <div class="form-group row mb-4">
          <label class="col-md-2 col-form-label form-control-label"
            >Title</label
          >
          <div class="col-md-8">
            <ejs-richtexteditor
            ref="rteObj"
            :height="150"
            v-model="myObj.title"
            placeholder="Enter title here."
            v-bind:error="errors.title"
            :pasteCleanupSettings="pasteCleanupSettings"
             :toolbarSettings="toolbarSettings"
            >
            </ejs-richtexteditor>
          </div>
        </div>

          <div class="form-group row mb--2">
            <label class="col-md-2 col-form-label form-control-label"
            >Description</label
            >
            <div class="col-md-8"  >
            <base-input v-bind:error="errors.description">
                <textarea
                v-model="myObj.text"
                @focusout="checkPropertyDesc()"
                class="form-control"
                placeholder="Enter description here."
                rows="6"
                >
                </textarea>
            </base-input>
            </div>
          </div>

        <div class=" mb-2">
                  <div class="row">
                    <label class="col-md-2 col-form-label form-control-label"
                      >Properties</label
                    >
                    <div class="col-md-8" >
                     <multiselect
                    style="margin-bottom: 15px"
                    placeholder="Select property"
                    v-model="collectionData"
                    :options="optionsProperties"
                    :close-on-select="true"
                    :clear-on-select="false"
                    :hide-selected="false"
                    :preserve-search="true"
                    label="name"
                    track-by="id"
                    :preselect-first="true"
                    id="example"
                  >
                  </multiselect>
                 <!-- <template slot="singleLabel" slot-scope="{ option }"><strong>{{ option.name }}</strong> <strong>  {{ option.id }}</strong></template>
                 <pre class="language-json"><code>{{ selected.property_id.name }}</code></pre>
                             <template>
                            <div v-if= "errors.property != '' && this.myObj.property =='' " style="color:red"
                              v-bind:error="errors.property"> {{errors.property}}</div>
                              <div v-else
                              > </div>
                          </template> -->
                        </div>
                      </div>
                </div>
                  <div>
                  <div class="row">
                    <label class="col-md-2 col-form-label form-control-label"
                      >Color</label
                    >
                    <!-- color starts -->
                    <div class="col-md-8" >
                      <multiselect
                        v-model="myObj.color"
                        placeholder="Select Color"
                        label=""
                        track-by=""
                        :options="options"
                        :option-height="104"
                        :custom-label="customLabel"
                        :show-labels="false"
                        v-bind:error="errors.color"
                      >
                      
                        <template slot="singleLabel" slot-scope="props"
                          >
                          <div
                          v-bind:style="{ backgroundColor: props.option }"
                        > 
                        <div style="height:30px; width:100px;"> 
                          </div>
                           </div>
                      </template>
                         <template slot="option" slot-scope="props"
                        >  <div
                          v-bind:style="{ backgroundColor: props.option }"
                          
                        > 
                        <div style="height:30px; width:100px;">
                            
                          </div>
                           </div>
                      </template>
                     
                      </multiselect>
                        
                    </div>
                    <!-- colorr ends -->
                  </div>
                </div>
         <div class="form-group row mb--2">
                  <label class="col-md-2 col-form-label form-control-label"
                    >Image</label
                  >
                  <div class="col-md-8 mt-3 ">
                    <img
                      v-if="loading == false"
                       src="https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png"
                      @click="$refs.mfilee.click()"
                      style="width: 5vw; height: 5vw; margin-rights: 40px"
                      alt="imgAdd"
                     class="mr-2"
                    />
                     <i
                      v-if="loading == true"
                      class="fas fa-circle-notch fa-spin fa-2x mr-4 mt-0"
                      style="color: grey; margin-left: 10px"
                    ></i>
                  <img
                      v-if="myObj.image.length !=0" :src="this.myObj.image"
                      style="width: 5vw; height: 5vw; margin-rights: 40px; object-fit: cover;"
                      alt="imgAdd"
                    />
                   
                      <template>
                        <div v-if= "errors.image != '' && this.myObj.image =='' " style="color:red"
                          v-bind:error="errors.image"> {{errors.image}}</div>
                          <div v-else
                          > </div>
                      </template>
                    <label hidden class="btn btn-success">
                      <input
                        type="file"
                        id="mfilee"
                        ref="image"
                        @change="selectMFile()"
                        accept="image/*"
                         v-bind:error="errors.image"
                      />
                    </label>
                  </div>
                  <div class="col-md-4"></div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <small class="text-muted"
                      >Upload valid images only png and jpeg are allowed.</small
                    >
                  </div>
                </div>
        <div>
        </div>
        <div class="row">
          <div class="col-md-2">

          </div>
          <div class="col-md-8">
        <div style="margin-top: 10px">
         <base-button
                  @click="Upload()"
                  :disabled="saving"
                  style="background-color: #00c192"
                  type="success"
                  class="col mt-5"
                  ><i v-bind:class="sign"></i> Save
                </base-button>
          >
        </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import swal from "sweetalert2";
import axios from "axios";
import Multiselect from "vue-multiselect";
import {
  RichTextEditorPlugin,
  Toolbar,
  Link,
  Image,
  Count,
  HtmlEditor,
  QuickToolbar,
  PasteCleanup 
} from "@syncfusion/ej2-vue-richtexteditor";
import DropzoneFileUpload from "@/components/Inputs/DropzoneFileUpload";

Vue.use(RichTextEditorPlugin);
// RichTextEditorPlugin.Inject(PasteCleanup);

export default {
  components: {
    DropzoneFileUpload,
    Multiselect,
  },
 
   data() {
    return {
      componentKey: 0,
      switches: {
        off: false,
        on: true,
      },
      progress: false,
      update: false,
      cover:
        "https://appick.io/u/lessons/64a03015-aaab-44a2-85c7-fc83ad9417b7.png",
      loading: false,
      myObj: {
        id: 5,
        title: "",
        image: "",
        text: "",
        propertyId: 0,
        color: "",
        price: 0,
        shortDescription: "",
       
      },
      keyObj:
      {
        id:0,
        price:0
      },
      heroProperty: {},
      heroBanner: {},
      storyBanner: {},
      charityBanner: {},
      HomeOwnerBanner: {},
      myCostObj: {},
      propsToSearch: ["batch"],
      tableColumns: [
        {
          type: "selection",
        },
        {
          prop: "title",
          label: "Banner title",
          minWidth: 800,
          sortable: true,
        },
        {
          prop: "buttonText",
          label: "Button Text",
          minWidth: 800,
          sortable: true,
        },
      ],
     
      tableData: [],
      selectedRows: [],
      // properties: [],
      collectionData: [],
      optionsProperties: [],
      modals: {
        showModal: false,
        showCostModal: false,
        showKeyringModal: false,
        showOurStoryModal: false,
        showOurCharityModal: false,
        showHomeOwnersModal: false,
        keyringPriceModal: false,

      },
      optionName: "Update Banner",
      file: "",
      name: "",
      image: "",
      uploadPercentage: 0,
      obj: {
        id: 1,
        media: "",
      },
      errors: {
        title: false,
        description: false,
        color: false,
        image: false,
        propertyID: false,
        price:false,
        detailDescription: false,
      },

      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "fas fa-edit",
      shouldAdd: true,
      saving: false,
      eIndex: 0,
      value: {},

       options: [  
        "#87EFFF", "#FF6700", "#FF0023", "#1F249B", "#009A56", "#FFB435",
      ],
        toolbarSettings: {
            type: 'Expand',
            items: ['Bold', 'Italic', 'Underline', 'StrikeThrough',
            'FontName', 'FontSize', 'FontColor', 'BackgroundColor',
            'LowerCase', 'UpperCase', '|',
            'Formats', 'Alignments', 'OrderedList', 'UnorderedList',
            'Outdent', 'Indent', '|',
            'CreateLink', 'Image', '|', 'ClearFormat', 'Print',
            'SourceCode', 'FullScreen', '|', 'Undo', 'Redo'
        ]
        },
      pasteCleanupSettings: {
            prompt: true,
            plainText: false,
            keepFormat: false,
            deniedTags: ['a'],
            // deniedAttrs: ['class', 'title', 'id'],
            allowedStyleProps: ['color', 'margin', 'font-size']
        }
    };
  },
  provide: {
    richtexteditor: [Toolbar, Link, Image, Count, HtmlEditor, QuickToolbar, PasteCleanup ],
  },
  created() 
  {
     this.Authenticator();
       this.LoadProperties();
       this.LoadHeroPropertyData();
  },
  mounted(){
    this.LoadProperties();
  },
  methods: {
    Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
    },
       LoadProperties(){
       var url = "https://dipity.fastech.pk/api/Properties/All";
      axios
        .get(url, {
          headers: {
          
        Authorization:
           this.$store.state.token
    
          }
        })
        .then((response) => {
          if (response.data.status === "error") {
          } else {
            this.optionsProperties = response.data.data;
            console.log(this.optionsProperties);
          }
        })
        .catch(function (error) {});
    },
     LoadHeroPropertyData() {
      var url = "https://dipity.fastech.pk/api/PropertyHeroBanners";
      axios
        .get(url, {
          headers: {
           
        Authorization:
           this.$store.state.token
    
          }
        })
        .then((response) => {
          
          if (response.data.status === "error") {
               this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Request Error! <br />" + response.data.data,
              type: "danger",
              icon: "fa fa-ban",
              timeout: 0,
            });
          } else if(response === "ERR_NAME_NOT_RESOLVED" ){
              console.log("Hello");
          } 
          else {
            this.heroProperty={};
            this.heroProperty = response.data;
             this.myObj.id = this.heroProperty.data[0]['id'];
            this.myObj.title = this.heroProperty.data[0]['title'];
            this.myObj.image= this.heroProperty.data[0]['image'];
            this.myObj.color= this.heroProperty.data[0]['color'];
            this.myObj.text= this.heroProperty.data[0]['text'];
            this.myObj.propertyId= this.heroProperty.data[0]['propertyId'];       
                // console.log(this.heroProperty.data[0]['title']);
            }
            })
            .catch(function (error) {
            // if (error === "ERR_NAME_NOT_RESOLVED") {
               this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Request Error! <br />" + response.data,
              type: "danger",
              icon: "fa fa-ban",
              timeout: 0,
            });
            // }
        });
    },
     Upload() {
      //console.log.log("File:", this.file);
      this.optionName = "Uploading...";
      if (this.file !== "") {
        let formData = new FormData();
        formData.append("file", this.file);
        //console.log.log(this.file);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            console.log.log("e.data" + e.data);
            // this.file = undefined;
            var fn = "https://appick.io/u/lessons/" + e.data.myresp[0].filename;
            this.myObj.image = fn;
            this.updateBanner();
          });
      } else {
        this.updateBanner();
      }
    },

     updateBanner() {
      
      
      if (this.myObj.title.length === 0) {
        this.errors.title = "Please enter title of the banner";
        this.optionName = "Update Banner"
      }else if(this.myObj.text.length === 0 ){
        this.errors.description = "Please enter description of banner";
         this.optionName = "Update Banner"
      }else if(this.myObj.text.length > 220 ){
        this.errors.description = "Description length must not exceet 220 characters length";
         this.optionName = "Update Banner"
          }else if(this.myObj.color.length === 0 || this.myObj.color === null ){
        this.errors.color = "Please select a color of banner";
         this.optionName = "Update Banner"
           }else if(this.myObj.image.length === 0 ){
        this.errors.image = "Please select an image for banner";
         this.optionName = "Update Banner"
          } else {
        this.errors.title = "";
        this.errors.description = "";
        this.errors.color= "";
        this.errors.image = "";
        this.errors.propertyID = "";
       this.myObj.propertyId = this.collectionData.id;
      //  this.myObj.property = this.properties.id;
      //  this.myObj.property = this.
     //  return console.log(this.myObj);
        console.log("this.myObj" + this.myObj.title);
       var url = "https://dipity.fastech.pk/api/PropertyHeroBanners";
    //return console.log(this.myObj);
      axios
        .put(url, this.myObj, {
          headers:{
            
        Authorization:
           this.$store.state.token
    ,
            //  'Content-Type': 'application/json'
          }
        })
        .then((response) => {
         
         console.log("Response" + response.status);
          if (response.data.status === "error" ) {
            console.log("Response" + response);
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Request Error! <br />" + response.data.data,
              type: "danger",
              icon: "fa fa-ban",
              timeout: 0,
            });
          } else if(response.data.status === "success") 
          {
            this.$router.push('settings');
            // this.$router.go(0);
          
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Saved! <br /> Banner updated.",
              type: "success",
              icon: "fa fa-check",
              timeout: this.$store.state.timeout,
            });
           
          }else{
               this.$notify({
            verticalAlign: "bottom",
            horizontalAlign: "center",
            message:
              "Request Error! <br />Request cannot be processed at the moment.",
            type: "danger",
            icon: "fa fa-ban",
            timeout: 0,
          });
          }
        })
        .catch(function (error) {
          //console.log.log(error);
          this.$notify({
            verticalAlign: "bottom",
            horizontalAlign: "center",
            message:
              "Request Error! <br />Request cannot be processed at the moment.",
            type: "danger",
            icon: "fa fa-ban",
            timeout: 0,
          });
        });

      //Update Banner API
      ////console.log.log(fn);
      this.optionName = "Update Banner";
      this.LoadHeroPropertyData();
      this.modals.showModal = false;
      }
    },
     selectFile() {
      this.file = this.$refs.file.files[0];
    },
     customLabel({ title, desc }) {
      return `${title} – ${desc}`;
    },
   
  }
};
</script>
<style scoped>
@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
