<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Manage Users</h6>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
<modal
        :show.sync="modals.editModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <form role="form" >
                 
                <label class="col-form-label form-control-label">First name</label>
              <div class="">
                <base-input
                  placeholder="Enter first name here."
                  v-model="myObj.firstName"
                  @focusout="CheckFName()"
                ></base-input>
              </div>
               <div class="row">
                 <small style="margin-left:15px;" class=" text-danger" v-if="errors.firstName != false">Please enter first name.</small>
              </div>
   
    
                <label class="col-form-label form-control-label">Last name</label>
              <div class="">
                <base-input
                  placeholder="Enter last name here."
                  v-model="myObj.lastName"
                  @focusout="CheckLName()"
                ></base-input>
              </div>
               <div class="row">
                 <small style="margin-left:15px;" class=" text-danger" v-if="errors.lastName != false">Please enter last name.</small>
              </div>

                  
                <label class="col-form-label form-control-label">Contact no</label>
              <div class="">
                 <vue-tel-input v-model="myObj.mobileNo"  @input="onInput"  ></vue-tel-input>
                <!-- <base-input
                  placeholder="Enter mobile number here."
                  v-model="myObj.mobileNo"
                  @focusout="CheckPhoneNo()"
                ></base-input> -->
              </div>
               <div class="row">
                 <small style="margin-left:15px;" class=" text-danger" v-if="errors.mobileNo != false">Please enter mobile number.</small>
              </div>
                  
                <label class="col-form-label form-control-label">Email</label>
              <div class="">
                <base-input
                  placeholder="Enter email here."
                  v-model="myObj.email"
                  @focusout="CheckEmail()"
                ></base-input>
              </div>
               <div class="row">
                 <small style="margin-left:15px;" class=" text-danger" v-if="errors.email != false">Please enter email address.</small>
              </div>

              <div>
                <base-button

                  :disabled="saving"
                  @click="Update()"
                  type="primary"
                  class="mt-3 col"
                >
                  <i v-bind:class="sign"></i> {{ optionName }}</base-button
                >
              </div>
            </form>
          </template>
        </card>
      </modal>

      <modal
        :show.sync="modals.showModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <form role="form" class="mb--4">
                 
              
    
    <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Status</label
                >
                <div class="col-md-8">
                <multiselect
                  style="margin-bottom: 15px"
                  placeholder="Select status"
                  v-model="myObj.status"
                  :options="urights"
                  :multiple="false"
                  :close-on-select="false"
                  :clear-on-select="false"
                  :hide-selected="false"
                  :preserve-search="true"
                  :preselect-first="true"
                >
                </multiselect>

           
                </div>
               </div>
              <div>
                <base-button

                  :disabled="saving"
                  @click="Validate()"
                  type="primary"
                  class="mt-3 col"
                >
                  <i v-bind:class="sign"></i> {{ optionName }}</base-button
                >
              </div>
            </form>
          </template>
        </card>
      </modal>

      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header"> </template>
          <div>
            <div
              class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
            >
              <!-- <div style="margin-bottom: 25px">
                <base-button icon type="primary" @click="AddModal()">
                  <span class="btn-inner--icon"
                    ><i class="fas fa-edit"></i
                  ></span>
                  <span class="btn-inner--text">Add New User</span>
                </base-button>
              </div> -->

              <el-select
                hidden
                class="select-primary pagination-select"
                v-model="pagination.perPage"
                placeholder="Per page"
              >
                <el-option
                  class="select-primary pull-right"
                  v-for="item in pagination.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>

              <div hidden>
                <base-input
                  v-model="searchQuery"
                  disabled
                  prepend-icon="fas fa-search"
                  placeholder="Search..."
                >
                </base-input>
              </div>
            </div>
            <el-table
              class="table-flush"
              :data="queriedData"
              row-key="id"
              
            >
              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              >
              </el-table-column>
              
              <el-table-column min-width="70px" align="right" label="Options">
                <div slot-scope="{ $index, row }" class="d-flex">
                     
                    <el-tooltip placement="left" content="Email">
                    <base-button
                      @click="Mail(row.email)"
                      class="remove btn-link"
                      type="info"
                      size="sm"
                      
                      icon
                    >
                      <i class="text-white ni ni-email-83"></i>
                    </base-button>
                  </el-tooltip>

                 
                 <el-tooltip placement="right" content="Activate user">
                  <base-button
                    v-if="row.status == 'block' || row.status == 'Block'"
                    @click="UserStatus(row.id ,'active')"
                    class="like btn-link"
                    type="success"
                    size="sm"
                    icon
                  >
                    <i class="text-white ni ni-check-bold"></i>
                  </base-button>
              </el-tooltip>
               <el-tooltip placement="right" content="Block user">
                    <base-button
                    v-if="row.status == 'active'  || row.status == 'Active'"
                    @click="UserStatus(row.id ,'block')"
                    class="like btn-link"
                    type="warning"
                    size="sm"
                    icon
                  >
                    <i class="text-white ni ni-fat-delete"></i>
                  </base-button>
                </el-tooltip>
 <el-tooltip placement="right" content="Update user">
                    <base-button
                    @click="editUser($index, row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                  >
                    <i class="text-white far fa-edit"></i>
                  </base-button>
             </el-tooltip>
              <el-tooltip placement="right" content="Remove user">
                  <base-button
                    @click.native="handleDelete($index, row)"
                    class="remove btn-link"
                    type="danger"
                    size="sm"
                    icon
                  >
                    <i class="text-white fas fa-times"></i>
                  </base-button>
 </el-tooltip>
                  
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "../Tables/users2";
import axios from "axios";
import qs from "qs";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import moment from "moment";
import Multiselect from "vue-multiselect";
import VueTelInput from 'vue-tel-input';
import 'vue-tel-input/dist/vue-tel-input.css';

Vue.use(VueTelInput);
export default {
  mixins: [clientPaginationMixin],
  components: {
    Multiselect,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    flatPicker,
    
  },
  created() {
     this.Authenticator();
    this.LoadData();
  },
  mounted() {},
  data() {
    return {
      // rightName:[],
    valid:'',
      errors:
         {
         firstName : false,
         lastName : false,
         email:false,
         mobileNo:false

       },
       urights:["Block","Active"], 
      
      myObj: {
      id:0,
      firstName: '',
      lastName: '',
      email:'',
      password:'' ,
      mobileNo:'' ,
      role:'' ,
      status:'' ,
      verificationCode:'',
      loginVia:'',
      profilePic:'',
      },

      propsToSearch: ["firstName", "email"],
      tableColumns: [
        {
          prop: "firstName",
          label: "First Name",
          minWidth: 50,
          sortable: true,
        },
          {
          prop: "lastName",
          label: "Last Name",
          minWidth: 50,
          sortable: true,
        },
        {
          prop: "mobileNo",
          label: "Contact No",
          minWidth: 50,
          sortable: true,
        },
        {
          prop: "email",
          label: "Email",
          minWidth: 50,
          sortable: true,
        },
      
       {
          prop: "status",
          label: "Status",
          minWidth: 50,
          sortable: true,
        },
      ],
      tableData: 
      [
       
      ],
      selectedRows: [],
      modals: {
        showModal: false,
        editModal: false,

      },
      optionName: "Add",
      saving: false,
      name: "",
      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "",
      err: {
        nameerr: false,
        contacterr: false,
        mobileerr: false,
        purposevsterr: false,
        dateerr: false,
      },
     
      currentDate: moment().format("YYYY-MM-DD"),
      eIndex: 0,
    };
    
  },


  methods: {

     onInput( number , phoneObject) 
     {
       //console.log(phoneObject);

       if(phoneObject.valid == false)
       {
       return this.errors.mobileNo = true;
       }
       else
       {
      return this.errors.mobileNo = false;

       }
     },
  Mail(email)
  {
    var myemail = "mailto:" + email + "?subject=Subject&body=message%20goes%20here" ;
    window.location.href = myemail;
  },
    UserStatus(id,status)
    {
     ///console.log(id,status);
          var axios = require('axios');
        
          var url = "https://dipity.fastech.pk/api/Users/UpdateStatus/" + id + "/"  + status;
         
          axios({
            method: "put",
            url: url,
            headers: {
        Authorization: this.$store.state.token
    },
            validateStatus: (status) => {
              return true;
            },
          })
            .catch((error) => {
               swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
            })
            .then((response) => {
              if (response.data.status === "success") 
              {
                
                this.LoadData();
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Status updated",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
             
              
              }
              else if (response.data.status === "error")
              {
                console.log("Error updating: ", response.data);
                 this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Error! <br />" + response.data.data ,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              }
              else {
              
              console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
   
              
              }
            })
            .finally(() => {
              this.sign = "far fa-edit";
              this.saving = false;
              this.optionName = "Edit";
            });

    },
CheckFName()
{
 //var elem = this.$refs["firstName"] 
  //console.log();
  if(this.myObj.firstName == '' || this.myObj.firstName.length < 3 )
  {

  return this.errors.firstName = true;
  }
  else
  {
  return this.errors.firstName = false;
  }
},
CheckLName()
{


  if(this.myObj.lastName == '' || this.myObj.lastName.length < 3 )
  {

  return this.errors.lastName = true;
  }
  else
  {
   return this.errors.lastName = false;
  }
},
CheckPhoneNo()
{
// console.log("Hello Phone");
 //var elem = this.$refs["mobileNo"] 
 var re = /^(?:\+971|00971|0)?(?:50|51|52|55|56|2|3|4|6|7|9)\d{7}$/;
      if (
        re.test(this.myObj.mobileNo) &&
        this.myObj.mobileNo !== ''
      ) {
       
        return this.errors.mobileNo = false;
      }
  else
  {
return this.errors.mobileNo = true;

  }

//  return  elem.state = this.myObj.name.length > 2 ? true : false
},

CheckEmail()
{
  const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

  if(re.test(String(this.myObj.email).toLowerCase()) && this.myObj.email !== "" )
  {
  return this.errors.email = false;

  }
  else
  {
  return this.errors.email = true;

  }

//  return  elem.state = this.myObj.name.length > 2 ? true : false
},

    Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
    },

    LoadData() {
       var axios = require('axios');

  var config = {
    method: 'get',
    url: 'https://dipity.fastech.pk/api/Users/AllUsers',
    headers: {
     
        Authorization:
           this.$store.state.token
    
    }
  };

  axios(config)
  .then( (response) => {
    // console.log(JSON.stringify(response.data));

     this.tableData  =  response.data.data;
    // this.images  =  response.data.data.images;

     console.log(response.data.data);

 })
  .catch(function (error) {
     swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
  });
    },
resetFormErrors()
 {
 this.errors.name = false;
 },

 checkName()
 {
   var namereg= /^[a-zA-Z ]*$/;
// console.log("Osama")
if(namereg.test(this.myObj.name)  && this.myObj.name !== null && this.myObj.name !== ""  )
{
  console.log("Osama")
this.errors.name = false;

} 
  else
  {
  this.errors.name = "Please enter name";

  } 
 },
 
   checkPassword()
 {
 var re = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;

if(re.test(this.myObj.password)  && this.myObj.password !== null && this.myObj.password !== ""  )
{
  console.log("Osama")
this.errors.password = false;

} 
  else
  {
  this.errors.password = "Minimum eight characters, at least one letter and one number";

  } 
 },
Update()
{
//return   console.log(this.myObj.mobileNo);
      this.CheckEmail();
      this.CheckFName();
     this.CheckLName();
     
   
///return  console.log(this.CheckEmail(),this.CheckFName(), this.CheckLName(), this.CheckPhoneNo());
      if ( this.CheckEmail() == true   || this.CheckFName() == true  || this.CheckLName() == true
      )
     {
        return this.$notify({
          verticalAlign: "bottom",
          horizontalAlign: "center",
          message: "Error! <br />" + "Please fill the form correctly",
          type: "danger",
          icon: "fa fa-ban",
          timeout: 0,
        });
      } 
      else
      {
      if(this.myObj.id !== 0) 
        {
          //Edit
       
          var axios = require('axios');
        
          var url =
             "https://dipity.fastech.pk/api/Users/UpdateUser";
          console.log(this.myObj)
          axios({
            method: "put",
            url: url,
            data: this.myObj,
            headers: {
     
        Authorization:
           this.$store.state.token
    
    },
            validateStatus: (status) => {
              return true;
            },
          })
            .catch((error) => {
               swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
            })
            .then((response) => {
              if (response.data.status === "success") 
              {
                 this.modals.editModal = false;
                this.LoadData();
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> User updated",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
             
              
              }
              else if (response.data.status === "error")
              {
                console.log("Error updating: ", response.data);
                 this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Error! <br />" + response.data.data ,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              }
              else {
              
              console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
   
              
              }
            })
            .finally(() => {
              this.sign = "far fa-edit";
              this.saving = false;
              this.optionName = "Edit";
            });
        }

      }
   
      
},
   Validate() {
   console.log( this.myObj); 
  
        if(this.myObj.id !== 0) 
        {
          //Edit
       
          var axios = require('axios');
        
          var url =
             "https://dipity.fastech.pk/api/Users";
          console.log(this.myObj)
          axios({
            method: "put",
            url: url,
            data: this.myObj,
            headers: {
     
        Authorization:
           this.$store.state.token
    
    },
            validateStatus: (status) => {
              return true;
            },
          })
            .catch((error) => {
               swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
            })
            .then((response) => {
              if (response.data.status === "success") 
              {
                this.modals.showModal = false;
                this.LoadData();
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> User updated",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
              
              
              }
              else if (response.data.status === "exist")
              {
                console.log("Error saving: ", response.data);
                 this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Error! <br />this email address is already exist! " ,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              }
              else {
              
              console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
   
              
              }
            })
            .finally(() => {
              this.sign = "far fa-edit";
              this.saving = false;
              this.optionName = "Edit";
            });
        }
      
 

 },
    date: function (date) {
      return moment(date).format("MMMM Do YYYY, h:mm:ss a");
    },

    GetError() {
      return this.nameError;
      return this.prefixError;
    },
    AddModal() {
      
      this.saving = false;
      this.optionName = "Add";
      this.modals.showModal = true;
      this.sign = "fas fa-user-plus";
      this.errors.name = false; 
      this.myObj.name = "";
       this.myObj.email = "";
      this.myObj.password = "";
       this.errors.email = false;
      this.errors.password = false;
     
    },
 editUser(index, row) {
      this.eIndex = index;
      this.saving = false;
      this.optionName = "Edit";
      this.modals.editModal = true;
      this.sign = "far fa-edit";
      this.myObj.id = row.id;
      this.myObj.firstName = row.firstName;
      this.myObj.lastName = row.lastName;
      this.myObj.password = row.password;
      this.myObj.role = row.role;
      this.myObj.status = row.status;
      this.myObj.verificationCode = row.verificationCode;
      this.myObj.loginVia = row.loginVia;
      this.myObj.profilePic = row.profilePic; 
      this.myObj.mobileNo = row.mobileNo;
      this.myObj.email = row.email;
      this.myObj.nationality = row.nationality;
      this.myObj.country = row.country;
      this.myObj.salary = row.salary;
      this.myObj.password = row.password;


      console.log(this.myObj);
     
    },

    editRecord(index, row) {
      this.eIndex = index;
      this.saving = false;
      this.optionName = "Edit";
      this.modals.showModal = true;
      this.sign = "far fa-edit";
      this.myObj.id = row.id;
      this.myObj.firstName = row.firstName;
      this.myObj.lastName = row.lastName;
      this.myObj.password = row.password;
      this.myObj.role = row.role;
      this.myObj.status = row.status;
      this.myObj.verificationCode = row.verificationCode;
      this.myObj.loginVia = row.loginVia;
      this.myObj.profilePic = row.profilePic; 
      this.myObj.mobileNo = row.mobileNo;
      this.myObj.email = row.email;
      this.myObj.password = row.password;

      console.log(this.myObj);
     
    },
   handleDelete(index, row) {
      swal({
        title: "Are you sure?",
        text: "You want to delete" +  " "  + row.firstName +  " "  + row.lastName +  "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          var axios = require("axios");

          var config = {
            method: "delete",
            url: `https://dipity.fastech.pk/api/Users/${row.id}`,
             headers: {
     
        Authorization:
           this.$store.state.token
    
    },
          };

          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
              if (response.data.status === "success") {
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message:
                    'Saved! <br />Inquiry of " ' +   " "  + row.firstName +  " "  + row.lastName +  '" removed.',
                  type: "danger",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
                this.LoadData();
              }
              else if(response.data.status === "notallowed")
              {

        swal({
        title: "Not Allowed !",
        text: "You cannot delete this property it has relative data!",
        type: "warning",
        showCancelButton: false,
        confirmButtonClass: "btn btn-primary btn-fill",
        confirmButtonText: "Ok",
        buttonsStyling: false,
      })

                  this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message:
                    'You cannot delete this property it has relative data.!',
                  type: "warning",
                  icon: "fa fa-warning",
                  timeout: this.$store.state.timeout,
                });

              }
            })
            .catch(function (error) {
               swal.fire({
              type: 'error',
               title: '  ' + error.message,
              text: 'Something went wrong with the connection, Please try again later!',
            })
            });

          //  var url = "http://pexpert.fastech.pk/api/Categories/"+ row.id;
          //   console.log(url);
          //    axios({
          //     method: "delete",
          //     url: url,

          //   }).then((response) => {

          //       console.log(response.status);
          //       console.log("Osama");

          //   })

          //   this.$notify({
          //     verticalAlign: "bottom",
          //     horizontalAlign: "center",
          //     message: 'Saved! <br />Inquiry of "' + row.name + '" removed.',
          //     type: "danger",
          //     icon: "fa fa-check",
          //     timeout: this.$store.state.timeout,
          //   });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}
</style>
