<template>
  <div>
    <base-header class="pb-6"> </base-header>

    <!--Charts-->
    <div class="row" v-if="loading == true">
      <div class="col-md-12 text-center">
        <i
          class="text-center fas fa-circle-notch fa-spin fa-3x"
          style="color: grey; margin-top: 250px"
        ></i>
      </div>
    </div>
    <div class="container-fluid mt--6" v-if="loading == false">
      <div class="row">
        <div class="col-xl-8">
          <card type="default" header-classes="bg-transparent">
            <div slot="header" class="row align-items-center">
              <div class="col">
                <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                <h5 class="h3 text-white mb-0">Keyrings sold</h5>
              </div>
              <div class="col">
                <ul class="nav nav-pills justify-content-end">
                  <li class="nav-item mr-2 mr-md-0">
                    <a
                      class="nav-link py-2 px-3"
                      href="#"
                      :class="{ active: bigLineChart.activeIndex === 0 }"
                      @click.prevent="initBigChart('month')"
                    >
                      <span class="d-none d-md-block">This Month</span>
                      <span class="d-md-none">M</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link py-2 px-3"
                      href="#"
                      :class="{ active: bigLineChart.activeIndex === 1 }"
                      @click.prevent="initBigChart('week')"
                    >
                      <span class="d-none d-md-block">This Week</span>
                      <span class="d-md-none">W</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <line-chart
              :height="350"
              ref="bigChart"
              :chart-data="bigLineChart.chartData"
              :extra-options="bigLineChart.extraOptions"
            >
            </line-chart>
          </card>
        </div>

        <div class="col-xl-4">
          <card header-classes="bg-transparent">
            <div slot="header" class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                <h5 class="h3 mb-0">Keyrings sold</h5>
              </div>
            </div>

            <bar-chart
              :height="350"
              ref="barChart"
              :chart-data="redBarChart.chartData"
            >
            </bar-chart>
          </card>
        </div>
      </div>
      <!-- End charts-->

      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-12">
          <stats-card class="bg-gradient-default">
            <!-- Card body -->
            <div class="row">
              <div class="col-md-10">
                <a href="#/fusion/dashboard">
                <h2
                  class="card-title text-uppercase text-muted mb-0 text-white"
                  @click="ChangeProperty()"
                >
                  {{ property }}
                  
                    <span>
                      <i
                        class="ni ni-bold-right mt-1 ml-2"
                        
                        style="position: absolute"
                      ></i>
                    </span>
                  
                </h2>
                </a>
              </div>

              <div class="col-md-1 col-sm-6 offset-md-1 mt-sm-2">
                <div
                  class="
                    icon icon-shape
                    bg-white
                    text-dark
                    rounded-circle
                    shadow
                  "
                >
                  <i class="ni ni-key-25"></i>
                </div>
              </div>
            </div>

            <modal
              :show.sync="modals.showPropertyModal"
              body-classes="p-0"
              modal-classes="modal-dialog-centered modal-md"
            >
              <card
                type="secondary"
                shadow
                header-classes="bg-white pb-5"
                body-classes="px-lg-5 py-lg-5"
                class="border-0"
              >
                <template>
                  <h1 class="text-center">Properties</h1>
                  <br />
                  <div v-for="p in properties" :key="p.id">
                    <base-button block type="primary" @click="Showprop(p)"
                      ><span style="font-size: 20px"> {{ p.name }} </span>
                    </base-button>
                    <br />
                  </div>
                </template>
              </card>
            </modal>
            <div class="row">
              <div class="col-xl-3 col-sm-6 mt-sm-2">
                <h5
                  class="card-title text-uppercase text-muted mb-0 text-white"
                >
                  TOTAL No of Keyrings sold
                </h5>
                <span class="h2 font-weight-bold mb-0 text-white">{{
                  this.totalsum
                }}</span>
              </div>
              <div class="col-xl-3 col-sm-6 mt-sm-2">
                <h5
                  class="card-title text-uppercase text-muted mb-0 text-white"
                >
                  this WEEK
                </h5>
                <span class="h2 font-weight-bold mb-0 text-white">{{
                  this.totalThisWeekSum
                }}</span>
              </div>
              <div class="col-xl-3 col-sm-6 mt-sm-2">
                <h5
                  class="card-title text-uppercase text-muted mb-0 text-white"
                >
                  this MONTH
                </h5>
                <span class="h2 font-weight-bold mb-0 text-white">{{
                  this.totalThisMonthSum
                }}</span>
              </div>
            </div>
          </stats-card>
        </div>
        <!-- <div class="col-xl-4 col-md-6 cursor" >
          <stats-card  class="bg-gradient-default"
            style="height:144px;"

            icon="ni ni-key-25"
          >
            <h5 class="card-title text-uppercase text-muted  mb-0 text-white">NO OF KEYRINGS SOLD</h5>
          <span class="h2 font-weight-bold mb-0 text-white">350,897</span>
          </stats-card>
        </div> -->
      </div>
      <div class="row">
        <div  @click="OrderPage('deliver')" class="col-xl-4 col-md-6 cursor">
          <stats-card
            style="height: 100px"
            title="Keyrings To be delivered"
            type="gradient-blue"
            :sub-title="this.totalKeyringsDeliverd"
            icon="ni ni-bag-17"
           
          >
          </stats-card>
        </div>
        <div  @click="OrderPage('donate')" class="col-xl-4 col-md-6 cursor">
          <stats-card
            style="height: 100px"
            title="Keyrings To be donated"
            type="gradient-green"
            :sub-title="this.totalKeyringsDonated"
            icon="ni ni-money-coins"
          >
          </stats-card>
        </div>
        <div  @click="OrderPage('collect')" class="col-xl-4 col-md-6 cursor">
          <stats-card
            style="height: 100px"
            title="Keyrings To be collected"
            type="gradient-red"
            :sub-title="this.totalKeyringsCollected"
            icon="ni ni-collection"
          >
          </stats-card>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <stats-card class="bg-gradient-primary">
            <!-- Card body -->

            <div class="row">
              <div class="col-md-10">
                <h2
                  class="card-title text-uppercase text-muted mb-0 text-white"
                >
                  USERS
                </h2>
              </div>

              <div class="col-md-1 col-sm-6 offset-md-1 mt-sm-2">
                <div
                  class="
                    icon icon-shape
                    bg-white
                    text-dark
                    rounded-circle
                    shadow
                  "
                >
                  <i class="ni ni-single-02"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-2 col-sm-6 mt-sm-2">
                <h5
                  class="card-title text-uppercase text-muted mb-0 text-white"
                >
                  SIGNED UP
                </h5>
                <span class="h2 font-weight-bold mb-0 text-white">{{signedUpUsers}}</span>
              </div>
              <div class="col-xl-2 col-sm-6 mt-sm-2">
                <h5
                  class="card-title text-uppercase text-muted mb-0 text-white"
                >
                  SOCIAL MEDIA
                </h5>
                <span class="h2 font-weight-bold mb-0 text-white">{{ socialMediaUsers}}</span>
              </div>
              <div class="col-xl-2 col-sm-6 mt-sm-2">
                <h5
                  class="card-title text-uppercase text-muted mb-0 text-white"
                >
                  this WEEK
                </h5>
                <span class="h2 font-weight-bold mb-0 text-white">{{ thisWeekUsers}}</span>
              </div>
              <div class="col-xl-2 col-sm-6 mt-sm-2">
                <h5
                  class="card-title text-uppercase text-muted mb-0 text-white"
                >
                  this MONTH
                </h5>
                <span class="h2 font-weight-bold mb-0 text-white">{{ thisMonthUsers}}</span>
              </div>
              <div class="col-xl-2 col-sm-6 mt-sm-2">
                <h5
                  class="card-title text-uppercase text-muted mb-0 text-white"
                >
                  Total
                </h5>
                <span class="h2 font-weight-bold mb-0 text-white">{{ signedUpUsers}}</span>
              </div>
            </div>
          </stats-card>
        </div>
        <!-- <div class="col-xl-4 col-md-6 cursor" >
          <stats-card  class="bg-gradient-primary"
            style="height:144px;"
            icon="ni ni-single-02"
          >
            <h5 class="card-title text-uppercase text-muted  mb-0 text-white">TOTAL no of  USERS</h5>
          <span class="h2 font-weight-bold mb-0 text-white">350,897</span>
          </stats-card>
        </div> -->
      </div>

      <div class="row ml-1 mb-4">
        <base-button :type="webcolor" @click="ActiveWButtons('web')"
          >Web</base-button
        >
        <base-button :type="pwacolor" @click="ActivePButtons('pwa')"
          >PWA</base-button
        >
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6 cursor">
          <stats-card
            style="height: 100px"
            title=" total No of visits"
            type="gradient-orange"
            :sub-title="visits"
            icon="ni ni-active-40"
          >
          </stats-card>
        </div>
        <div class="col-xl-4 col-md-6 cursor">
          <stats-card
            style="height: 100px"
            title="total No of checkout visits "
            type="gradient-green"
            :sub-title="checkout"
            icon="ni ni-credit-card"
          >
          </stats-card>
        </div>

        <div class="col-xl-4 col-md-6 cursor">
          <stats-card
            style="height: 100px"
            title="total No of sales "
            type="gradient-red"
            :sub-title="sales"
            icon="ni ni-chart-bar-32"
          >
          </stats-card>
        </div>
      </div>

      <!--Lists-->
      <!-- <div class="row">
        <div class="col-xl-4">
          <card>
            <h5 class="h3 mb-0" slot="header">Recent Vendors</h5>

            <vendors-list></vendors-list>
          </card>
        </div>
        <div class="col-xl-4">
          <card>
            <h5 class="h3 mb-0" slot="header">Top Customers</h5>

            <top-vendors></top-vendors>
          </card>
        </div>
        <div class="col-xl-4">
          <card>
            <h5 class="h3 mb-0" slot="header">Top Vendors</h5>

            <top-vendors></top-vendors>
          </card>
        </div>
      </div> -->
      <!--End lists-->
    </div>
  </div>
</template>
<script>
// Charts
import * as chartConfigs from "@/components/Charts/config";
import LineChart from "@/components/Charts/LineChart";
import BarChart from "@/components/Charts/BarChart";

// Components
import BaseProgress from "@/components/BaseProgress";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import StatsCard from "@/components/Cards/StatsCard";

// Lists
import ActivityFeed from "./ActivityFeed";
import TaskList from "./TaskList";
import VendorsList from "./VendorsList";
import TopVendors from "./TopVendors";
import ProgressTrackList from "./ProgressTrackList";

// Tables
import LightTable from "./LightTable";
import SocialTrafficTable from "./SocialTrafficTable";
import PageVisitsTable from "./PageVisitsTable";
import moment from "moment";

export default {
  components: {
    ActivityFeed,
    LineChart,
    BarChart,
    BaseProgress,
    RouteBreadCrumb,
    StatsCard,
    TaskList,
    PageVisitsTable,
    SocialTrafficTable,
    LightTable,
    VendorsList,
    ProgressTrackList,
    TopVendors,
  },

  props: ["row"],
  created() 
  {
    this.Authenticator();
  },
  data() {
    return {
      currentDate: moment().startOf('month').format("YYYY-MM-DD"),
      lastDate: moment().endOf('month').format("YYYY-MM-DD"),

      visits :"",
      checkout :"",
      sales :"",
      property: "Choose Property",
      loading: false,
      properties: [],
      totalsum: "",
      totalThisWeekSum: "",
      totalThisMonthSum: "",
      totalKeyringsDeliverd: "",
      totalKeyringsDonated: "",
      totalKeyringsCollected: "",
      signedUpUsers: "",
      socialMediaUsers: "",
      thisWeekUsers: "",
      thisMonthUsers: "",

      myObj: {
        from: "",
        to: "",
        MonthOrWeek: "",
      },
      propertyname: "Penthouse Apartment",

      modals: {
        showPropertyModal: false,
      },
      webcolor: "success",
      pwacolor: "",
      visitp: false,
      visitw: false,

      bigLineChart: {
        allData: [
          // [1, 10, 3, 8, 0, 1]
          // [0, 20, 5, 25, 10, 30, 15, 40, 40],
        ],
        activeIndex: 0,
        chartData: {
          datasets: [
            {
              label: "Performance",
            },
          ],
          labels: ["May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        },
        extraOptions: chartConfigs.blueChartOptions,
      },
      redBarChart: {
        chartData: {
          labels: [],
          datasets: [
            {
              label: "Sales",
              data: [],
            },
          ],
        },
        extraOptions: chartConfigs.blueChartOptions,
      },
    };
  },
  methods: {
    OrderPage(row)
    {
     /// console.log("Hlelllo");
       this.$router.push({ name: 'order', params: {
        row: row
         } })
      ///this.$router.push("/fusion/orders");
    },
     Authenticator()
    {

     //console.log(this.$store.state.myUser.email , this.$store.state.myUser.password ); 
    if(this.$store.state.token == null || this.$store.state.token == "" ) 
    {
       this.$store.state.token = "";

      return  this.$router.push("/login");
    }
  
    },
    LoadData() {
      var axios = require("axios");
      // this.$store.state.userData.userID
      var config = {
        method: "post",
        url: "https://dipity.fastech.pk/api/Dashboard/ChartData",
        headers: {
         Authorization:
           this.$store.state.token
        },
        data: this.myObj,
      };

      axios(config)
        .then((response) => {
          if (response.data.status === "success") {
            console.log(response.data);
            //this.
          }

          //  this.data  =  response.data;
          //console.log(this.$store.state.userData.userID);
          //this.items = response.data;

          // console.log(this.items);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    Showprop(p) 
    {
      console.log(p);
      this.property = p.name;
        var axios = require("axios");
      // this.$store.state.userData.userID
      var config = {
        method: "get",
        url: "https://dipity.fastech.pk/api/Dashboard/PropertyAnalytics/" + p.id ,
        headers: {
         Authorization:
           this.$store.state.token
        },
       
      }

      axios(config)
        .then((response) => {
          if (response.data.status === "success") 
          {
            this.totalsum = response.data.totalKeyringsSold;
            this.totalKeyringsDeliverd = response.data.totalKeyringsDeliverd;
            this.totalKeyringsDonated = response.data.totalKeyringsDonated;
            this.totalKeyringsCollected = response.data.totalKeyringsCollected;
            this.totalThisWeekSum = response.data.thisWeekkeyrings;
            this.totalThisMonthSum = response.data.thisMonthkeyrings;
            console.log(response.data);

              this.modals.showPropertyModal = false;
          }

          //  this.data  =  response.data;
          //console.log(this.$store.state.userData.userID);
          //this.items = response.data;

          // console.log(this.items);
        })
        .catch(function (error) {
          console.log(error);
        });
    
    },
    ChangeProperty() {
      this.saving = false;
      this.shouldAdd = true;
      this.optionName = "Add";
      this.modals.showPropertyModal = true;
      this.sign = "fas fa-user-plus";
    },
    ActiveWButtons(type) {
      this.webcolor = "success";
      this.pwacolor = "secondary";
        var axios = require("axios");
      // this.$store.state.userData.userID
      var config = {
        method: "get",
        url: "https://dipity.fastech.pk/api/Dashboard/GetUserAnalytics/" + type ,
        headers: {
         Authorization:
           this.$store.state.token
        },
       
      }

      axios(config)
        .then((response) => {
          if (response.data.status === "success") 
          {
            this.visits = response.data.visits;
            this.checkout = response.data.checkout;
            this.sales = response.data.sales;
            
            console.log(response.data);

            
          }

          //  this.data  =  response.data;
          //console.log(this.$store.state.userData.userID);
          //this.items = response.data;

          // console.log(this.items);
        })
        .catch(function (error) {
          console.log(error);
        });

    },
    ActivePButtons(type) {
      console.log(this.visitp);

      this.webcolor = "secondary";
      this.pwacolor = "success";
   var axios = require("axios");
      // this.$store.state.userData.userID
      var config = {
        method: "get",
        url: "https://dipity.fastech.pk/api/Dashboard/GetUserAnalytics/" + type ,
        headers: {
         Authorization:
           this.$store.state.token
        },
       
      }

      axios(config)
        .then((response) => {
          if (response.data.status === "success") 
          {
            this.visits = response.data.visits;
            this.checkout = response.data.checkout;
            this.sales = response.data.sales;
            
            console.log(response.data);

            
          }

          //  this.data  =  response.data;
          //console.log(this.$store.state.userData.userID);
          //this.items = response.data;

          // console.log(this.items);
        })
        .catch(function (error) {
          console.log(error);
        });


    },

    initBigChart(index) {
      if (index !== 0) {
        this.loading = true;

        // console.log("Hello " + index);
        this.myObj.to = "0001-01-01";
        this.myObj.from = "0001-01-01";
        this.myObj.MonthOrWeek = index;

        var axios = require("axios");
        // this.$store.state.userData.userID
        var config = {
          method: "post",
          url: "https://dipity.fastech.pk/api/Dashboard/ChartData",
          headers: {
            Authorization:
           this.$store.state.token
          },
          data: this.myObj,
        };

        axios(config)
          .then((response) => {
            if (response.data.status === "success") {
              this.properties = response.data.properties;
              this.totalsum = response.data.totalsum;
              this.totalThisWeekSum = response.data.totalThisWeekSum;
              this.totalThisMonthSum = response.data.totalThisMonthSum;
              this.totalKeyringsDeliverd = response.data.totalKeyringsDeliverd;
              this.totalKeyringsDonated = response.data.totalKeyringsDonated;
              this.totalKeyringsCollected = response.data.totalKeyringsCollected;
              this.signedUpUsers = response.data.signedUpUsers;
              this.socialMediaUsers = response.data.socialMediaUsers;
              this.thisWeekUsers = response.data.thisWeekUsers;
              this.thisMonthUsers = response.data.thisMonthUsers;

              this.bigLineChart.allData=[];
              console.log("HelloMyData",response.data.data);
              this.bigLineChart.allData.push(response.data.data);
              console.log("HelllooNew",this.bigLineChart.allData);
              response.data.data = this.bigLineChart.allData;
              let chartData = {
                datasets: [
                  {
                    label: "Performance",
                    data: this.bigLineChart.allData[0],
                  },
                ],
                labels: response.data.mydays,
              };
              //this.
              this.bigLineChart.chartData = chartData;
              //this.bigLineChart.activeIndex = index;
              //  this.redBarChart.chartData.labels = [];
              //this.redBarChart.chartData.labels = response.data.mydays ;

              //  this.redBarChart.chartData.datasets[0].data = response.data.data ;
              //   this.$forceUpdate();
              // this.redBarChart.chartData.datasets[0].data.push(response.data.data) ;
              this.redBarChart.chartData.datasets[0].data = response.data.data;
              let redBarChart = {
                chartData: {
                  labels: response.data.mydays,
                  datasets: [
                    {
                      label: "Sales",
                      data: response.data.data[0],
                    },
                  ],
                },
              };

              this.redBarChart = redBarChart;
              console.log(this.redBarChart.chartData.datasets[0].data);
              this.loading = false;
            }

            //  this.data  =  response.data;
            //console.log(this.$store.state.userData.userID);
            //this.items = response.data;

            // console.log(this.items);
          })
          .catch(function (error) {
            console.log(error);
          });
      } else {
        this.loading = true;
      if(this.myObj.from == "" || this.myObj.to == "")
      {
        this.myObj.from = this.currentDate;
        this.myObj.to = this.lastDate;
        //   console.log(this.currentDate); 
        //      //var dateFrom = moment(dateFrom).subtract(1,'months').endOf('month').format('YYYY-MM-DD');
        //      console.log(this.lastDate); 
        // console.log("its Working");
        // console.log(this.myObj);
      }
       

             
        
  
        var axios = require("axios");
        // this.$store.state.userData.userID
        var config = {
          method: "post",
          url: "https://dipity.fastech.pk/api/Dashboard/ChartData",
          headers: {
            Authorization: this.$store.state.token
            
          },
          data: this.myObj,
        };

        axios(config)
          .then((response) => {
            if (response.data.status === "success") {
              this.properties = response.data.properties;
              this.totalsum = response.data.totalsum;
              this.totalThisWeekSum = response.data.totalThisWeekSum;
              this.totalThisMonthSum = response.data.totalThisMonthSum;
              this.totalKeyringsDeliverd = response.data.totalKeyringsDeliverd;
              this.totalKeyringsDonated = response.data.totalKeyringsDonated;
              this.totalKeyringsCollected = response.data.totalKeyringsCollected;
              this.signedUpUsers = response.data.signedUpUsers;
              this.socialMediaUsers = response.data.socialMediaUsers;
              this.thisWeekUsers = response.data.thisWeekUsers;
              this.thisMonthUsers = response.data.thisMonthUsers;
              console.log(response.data.data);
              this.bigLineChart.allData.push(response.data.data);
              response.data.data = this.bigLineChart.allData;
              let chartData = {
                datasets: [
                  {
                    label: "Performance",
                    data: this.bigLineChart.allData[index],
                  },
                ],
                labels: response.data.mydays,
              };
              //this.
              this.bigLineChart.chartData = chartData;
              //this.bigLineChart.activeIndex = index;
              //  this.redBarChart.chartData.labels = [];
              //this.redBarChart.chartData.labels = response.data.mydays ;

              //  this.redBarChart.chartData.datasets[0].data = response.data.data ;
              //   this.$forceUpdate();
              // this.redBarChart.chartData.datasets[0].data.push(response.data.data) ;
              this.redBarChart.chartData.datasets[0].data = response.data.data;
              let redBarChart = {
                chartData: {
                  labels: response.data.mydays,
                  datasets: [
                    {
                      label: "Sales",
                      data: response.data.data[0],
                    },
                  ],
                },
              };

              this.redBarChart = redBarChart;
              console.log(this.redBarChart.chartData.datasets[0].data);
              this.loading = false;
            }

            //  this.data  =  response.data;
            //console.log(this.$store.state.userData.userID);
            //this.items = response.data;

            // console.log(this.items);
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    },
  },
  mounted() {
    this.Authenticator();
    if (localStorage.getItem("myObj")) {
      try {
        this.myObj = JSON.parse(localStorage.getItem("myObj"));
        console.log(this.myObj); 
      } catch (e) {
        localStorage.removeItem("myObj");
      }
    }
    //console.log("ABC", this.myObj);
    this.initBigChart(0);
    this.ActiveWButtons('web');

// console.log(this.row);
  },
};
</script>
<style>
.cursor {
  cursor: pointer;
}
</style>
